.block{
    background-color: #22b573;
    height: 210px;
    width: 210px;
    border-radius: 20px;
    margin: 10px;
    display: inline-block;
    text-align: center;
}

.rowStory{
    float: none;
    width: 710px;
    margin: auto;
}

.fa-plus{
    color: #17a15c;
    font-size: 150px;
    margin-top: 20%;
}