
.maths{
    display: none;    
}

.actionbar{
    min-height: 50px;
}

.answer{
    width: 210px;
    height: 210px;
    border-radius: 10px;
    background-color: #b2afa1;
    margin: 30px 20px;
    color: #4d4d4d;
    -webkit-box-shadow: 5px 5px 5px #888888;
    -moz-box-shadow: 5px 5px 5px #888888;
    box-shadow: 5px 5px 5px #888888;
    display: inline-block;    
    font-size: 7rem;
    font-family: "Roboto", sans-serif;
    line-height: 210px;
}

.answer:hover{
    width: 210px;
    height: 210px;
    border-radius: 10px;
    background-color: #22b573;
    margin: 10px 20px;
    -webkit-box-shadow: 5px 5px 5px #888888;
    -moz-box-shadow: 5px 5px 5px #888888;
    box-shadow: 5px 5px 5px #888888;
    color: white;    
}

.answers{
    width: 970px;
    text-align: center;
}

.exercise{
    text-align: center;
}

.exe{
    color: #4d4d4d;
    font-family: "Roboto", sans-serif;
    font-size: 6rem;
}

.level{
    width: 210px;
    height: 210px;
    border-radius: 10px;
    background-color: #b2afa1;
    margin: 30px 20px;
    color: #4d4d4d;
    -webkit-box-shadow: 5px 5px 5px #888888;
    -moz-box-shadow: 5px 5px 5px #888888;
    box-shadow: 5px 5px 5px #888888;
    display: inline-block;    
    font-size: 2rem;
    font-family: "Roboto", sans-serif;    
    line-height: 210px;
    font-weight: bold;
}

.level:hover{
    width: 210px;
    height: 210px;
    border-radius: 10px;
    background-color: #22b573;
    margin: 10px 20px;
    -webkit-box-shadow: 5px 5px 5px #888888;
    -moz-box-shadow: 5px 5px 5px #888888;
    box-shadow: 5px 5px 5px #888888;
    color: white;    
}

.levels{
    width: 600px;
    text-align: center;
margin: auto;
}

.points{
	color: white;
    width: 800px;
    text-align: right;
    float: right;
    line-height: 4rem;
    font-size: 2rem;
}

.high{
	font-size: 1.2rem;
	color: #4d4d4d;
	width: 200px;
}

.highscore{    
    border-collapse: collapse;
    border: none;
    display: none;
    text-align: center;
}

.highscore th{
	background-color: #22b573;
    color: white;
    font-family: "roboto", sans-serif;
    text-align: center
    
}

.firstRow{
	background-color: #22b573;
    width: 3%;
    color: white;
    
}

.uitleg{
	margin-left: 10%;
	font-family: "Roboto", sans-serif;
}


.uitleg h1, .uitleg h2{
	color: #22b573;
}

.uitleg ol{
	margin-left: 6%;
}

.uitleg h2{
	font-size: 2rem;
}

.points{
    color: white;
    width: 800px;
    text-align: right;
    float: right;
    line-height: 1.6rem;
    font-size: 1.4rem;
}