{% extends "app_base.html" %}
{% block app_head %}{% endblock %}

{% block app_toolbar %}

{% endblock %}

{% block app_content %}

<div class="main">

	<fieldset>
		<legend>
			<span class="fa fa-cog"></span>
			Banlist words
		</legend>

		<div class="bans">
			<div id="bans">
				<form class="banlist">

				<!-- de header van de blacklsit words -->
				<ul class="bans ban_list">
					<!-- <li class="ban-container">
				    <div class="blacklist">
				      <span class="banIcon"></span>
				      <div class="ban_data">
				        <p>
				          <span>Upload List </span> -->
									<!-- <a class="action button" data-bind="click: selectFileHandler" style="padding-left: 2rem; padding-right: 2rem;">
										<span class="fa fa-cloud-upload"></span>
										Choose file to upload
									</a> -->
									<!-- <input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
									<label for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Choose a file&hellip;</span></label>
									<a class="action button" data-bind="click: uploadFile" style="padding-left: 2rem; padding-right: 2rem;">Upload</a> -->

									<!-- <span>Uploaded List </span>
									<span> filename On or OF</span>
									<a class="action button" data-bind="click: saveFile" style="padding-left: 2rem; padding-right: 2rem;">Save File</a> -->

				        <!-- </p>
				      </div>
				  	</div>
				  </li> -->

					<li class="ban-container">
				    <div class="blacklist">
				      <span class="banIcon"></span>
				      <div class="ban_data">
				        <p>
				          <span> <b>Banned Word </b></span>
									<span> <b>Replaced word </b></span>
									<a class="action button" data-bind="click: saveAll" style="padding-left: 2rem; padding-right: 2rem;">Save All</a>

				        </p>
				      </div>
				  	</div>
				  </li>
				</ul>

				<!-- inladen van onze objecten via de json  -->
				<ul class="bans ban_list" data-bind="template: {name: 'blacklistTemplate', foreach: bans}"></ul>

			</form>

			</div>
		</div>

	</fieldset>

	<fieldset>
		<legend>
			<span class="fa fa-cloud-download"></span>
			Add
		</legend>
		<form class="addBan">

			<div class="row">
				<div class="small-4 medium-4 large-4 columns">
					<label for="wordBan" class="text-right inline">Banned Word</label>
				</div>
				<div class="small-8 medium-6 large-4 columns end">
					<input type="text" id="wordBan" name="wordBan" value="" data-bind="value: wordBan" required pattern="[a-zA-Z]+">
					<input type="text" id="replacedWord" name="replacedWord" value="pudding" data-bind="value: replacedWord" required pattern="[a-zA-Z]+{2,20}" style="display:none">
					<small class="error">A valid word is required</small>
				</div>
			</div>

			<div class="row">
				<div class="text-center">
					<!-- <a href="#" data-open="UpdateModal" class="action button" style="padding-left: 2rem; padding-right: 2rem;"> -->
					<a class="action button" data-bind="click: saveBannedWord" style="padding-left: 2rem; padding-right: 2rem;">
						<span class="fa fa-save"></span>
						 &nbsp;Save!
					 </a>
					 <span id="error_exists" class="error"></span>
				</div>
			</div>
		</form>

	</fieldset>
</div>

{% endblock %}
{% block app_modals %}

<!-- het app model voor de toegevoegde objecten -->
<script id="blacklistTemplate" type="text/template">
  <li class="ban-container">
    <div class="blacklist">
      <span class="banIcon"></span>
      <div class="ban_data">
        <p>
					<span data-bind="text: wordBan"></span>
					<input data-bind="value: replacedWord" class="small-8 medium-6 large-4 columns center" type="text" name="replasedword" value="pudding">
          <a class="removeBanItem" data-bind="click: removeBanItem" href="#">Delete</a>
        </p>
      </div>
  </div>
  </li>
</script>

{% endblock %}
{% block app_scripts %}

<!-- het load script voor de opgeslane json in te laden hier gedaan anders bestaan de objecten niet omdat de js eerst geladen word en dan pas de html kent hij de tempalte nog niet! -->
<script>
	//var action_data = {{ actions|tojson|safe }};
	$(window).bind("load", function() {
		self.loadBlacklist();
	});
</script>

{% endblock %}
