
<!-- <script src="/static/js/svg/svg.min.js"></script>
<script src="/static/js/svg/svg.draggable.min.js"></script>
<script src="/static/js/robot/modules.js"></script> -->



<div id="virtualModelDiv" >
	<!-- <canvas id="virtualModelCanvas" width="600" height="600"></canvas> -->
	<!-- <div id="model" width="600" height="600"></div> -->

	<div id="model_screen" width="600" height="600"></div>
</div>

<script>

	config_data = {{ config | safe }};
</script>
<!-- <script src="/static/js/vendor/jquery.js"></script> -->
<!-- <script src="/static/js/vendor/foundation.min.js"></script> -->
<script src="/static/js/jcanvas.min.js"></script>
<script src="/static/js/numeral.min.js"></script>

<script src="/static/js/robot/modules.js?ver={{ version }}"></script>
<script src="/static/js/svg/svg.min.js"></script>
<script src="/static/js/robot/virtual.js?ver={{ version }}"></script>
