<div id="ShutdownModal" class="reveal-modal tiny" data-reveal>
    <div class="titlebar red">
        <a class="close-reveal-modal">
            <span class="fa fa-close"></span>
        </a>
        <span class="fa fa-power-off"></span>
        {{ _('Shut down') }}
    </div>
    <div class="content">
        <p>
            {{ _('Are you sure you wish to shut down ' + opsoro.robot_name + '?') }}
            <br/>
            <span class="note">
                <strong>{{ _('Note') }}:</strong>
                {{ _('Never power off ' + opsoro.robot_name + ' without completely shutting down first! Cutting power without properly shutting down the operating system can result in a corrupt file system.') }}
            </span>
        </p>
        <div class="text-center">
            <a href="#" class="button" id="btnShutdown">
                <span class="fa fa-power-off"></span>
                {{ _('Yes, shut down ' + opsoro.robot_name) }}</a>
        </div>
    </div>
</div>

<div id="UpdateModal" class="reveal-modal tiny" data-reveal>
    <div class="titlebar red">
        <a class="close-reveal-modal">
            <span class="fa fa-close"></span>
        </a>
        <span class="fa fa-refresh"></span>
        {{ _('Update') }}
    </div>
    <div class="content">
        <p>
            {{ _('Are you sure you wish to update ' + opsoro.robot_name + '?') }}
            <br/>
            <span class="note">
                <strong>{{ _('Note') }}:</strong>
                {{ _('Never power off ' + opsoro.robot_name + ' while updating! Cutting power without properly shutting down the operating system can result in a corrupt file system.') }}
            </span>
        </p>
        <div class="text-center">
            <a href="update" class="button" >
                <span class="fa fa-refresh"></span>
                {{ _('Yes, update ' + opsoro.robot_name) }}</a>
        </div>
    </div>
</div>

<div id="CloseAppModal" class="reveal-modal small" data-reveal>
    <div class="titlebar">
        <a class="close-reveal-modal">
            <span class="fa fa-close"></span>
        </a>
        <span class="fa fa-power-off"></span>
        {{ _('Confirm') }}
    </div>
    <div class="content">
        <p>
            {{ _('Are you sure you wish to close this app?') }}
        </p>
        <div class="text-center">
            <a href="/closeapp/" class="button">
                <span class="fa fa-close"></span>
                {{ _('Yes, close app.') }}</a>
        </div>
    </div>
</div>

<div id="popup" class="reveal-modal" data-reveal>
    <div class="titlebar">
        <a class="btnClose">
            <span class="fa fa-close"></span>
        </a>
        <span class="titleicon">
            <span class="fa"></span>
        </span>
        <span class="title"></span>
    </div>
    <div class="content">
        <div class="spinner" style="text-align: center;">
            <span class="fa fa-circle-o-notch fa-spin fa-2x"></span>
        </div>
    </div>
</div>

<div id="message_popup" class="reveal-modal small" data-reveal>
    <div class="titlebar">
        <a class="btnClose">
            <span class="fa fa-close"></span>
        </a>
        <span class="titleicon">
            <span class="fa"></span>
        </span>
        <span class="title"></span>
    </div>
    <div class="content">
        <p class="text"></p>
        <div class="inputs">
            <input type="text" name="inputText" class="hide input inputText" style="width: 100%;" autofocus>
        </div>
        <div class="buttons">
            <a href="#" class="hide button btnOk">
                <span class="fa fa-check"></span>
                {{ _('OK') }}</a>
            <a href="#" class="hide button btnYes">
                <span class="fa fa-check"></span>
                {{ _('Yes') }}</a>
            <a href="#" class="hide button btnNo">
                <span class="fa fa-close"></span>
                {{ _('No') }}</a>
            <a href="#" class="hide button btnSave">
                <span class="fa fa-save"></span>
                {{ _('Save') }}</a>
            <a href="#" class="hide button btnCancel">
                <span class="fa fa-close"></span>
                {{ _('Cancel') }}</a>
        </div>
    </div>
</div>
