{% extends "site_base.html" %}

{% block body_class %}apps{% endblock %}

{% block app_body %}
	<section class="apps">
		<div class="">
			{% if apps %}
				<div id="search-apps">
				</div>
				<div class="apps_available">
					{% for category in apps|sort %}
						<div id="{{ category[3:] }}" class="app-category row small-up-3 medium-up-5 large-up-8">
							<h3>{{ category[3:] }}</h3>
							{% for app in apps[category] %}
								<div class="app_container float-left column column-block {{ app.formatted_name }}">
									{% if not app.active and activeapp %}
									<a href="#" onclick="showSwitchAppModal('{{ app.icon }}', '{{ app.full_name }}', '/openapp/{{ app.formatted_name }}')">
									{% else %}
									<a href="/openapp/{{ app.formatted_name }}">
									{% endif %}
										<div class="app_button background_{{ app.color }}">
											<div class="app_icon {{ app.icon }}"></div>
											<div class="app_banner background_{{ app.color }}"></div>
										</div>
										<div class="app_label">{{ app.full_name }}</div>
										{% for tag in app.tags %}
											<div class="hide app-tag">{{ tag }}</div>
										{% endfor %}
									</a>
								</div>
							{% endfor %}
						</div>
					{% endfor %}
					<div class="app-category row small-up-3 medium-up-5 large-up-8">
						{% if other_apps %}
							<h3>Other apps</h3>
							{% for app in other_apps %}
								<div class="app_container float-left column column-block {{ app.formatted_name }}">
									{% if not app.active and activeapp %}
									<a href="#" onclick="showSwitchAppModal('{{ app.icon }}', '{{ app.full_name }}', '/openapp/{{ app.formatted_name }}')">
									{% else %}
									<a href="/openapp/{{ app.formatted_name }}">
									{% endif %}
										<div class="app_button background_{{ app.color }}">
											<div class="app_icon {{ app.icon }}"></div>
											<div class="app_banner background_{{ app.color }}"></div>
										</div>
										<div class="app_label">{{ app.full_name }}</div>
										{% for tag in app.tags %}
											<div class="hide app-tag">{{ tag }}</div>
										{% endfor %}
									</a>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			{% else %}
				<h2>{{ _('No apps available.') }}</h2>
			{% endif %}
		</div>
	</section>

{% endblock %}

{% block app_toolbar %}{% endblock %}

{% block sidebar_left %}{% endblock %}
{% block sidebar_right %}{% endblock %}

{% block app_modals %}
	{% if activeapp %}
		<div id="SwitchAppModal" class="reveal small" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
			<div class="titlebar">
				<button class="close-button" data-close aria-label="Close" type="button">
					<span class="fa fa-close"></span>
				</button>
				<span class="fa fa-power-off"></span>
				{{ _('Confirm') }}
			</div>
			<div class="content">
				<p>
					{{ _('Are you sure you wish to open') }}
					<span class="" id="SwitchAppIcon"></span>
					<span id="SwitchAppName"></span>?
					<br/>
					{{ _('Doing so will close the current app,') }}
					<span class="fa {{ activeapp.icon }}"></span>
					{{ activeapp.full_name }}.
				</p>
				<div class="text-center">
					<a href="#" class="button" id="SwitchAppLink">
						<span class="fa fa-check"></span>
						{{ _('Yes, switch app.') }}</a>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
{% block app_scripts %}
	{% if activeapp %}
		<script>
			function showSwitchAppModal(icon, name, link) {
				$("#SwitchAppIcon").attr("class", "fa " + icon);
				$("#SwitchAppName").html(name);
				$("#SwitchAppLink").attr("href", link);
				$("#SwitchAppModal").foundation("open");
			}
		</script>
	{% endif %}
	<script>
		var $apps = $('.app_container');
		var $categories = $('.app-category');

		$('#search').keyup(function() {
			var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
			$apps.show().filter(function() {
				var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
				return !~text.indexOf(val);
			}).hide();
			$categories.show().filter(function() {
				var all_apps = $(this).find(".app_container").length;
				var invis_apps = $(this).find(".app_container[style='display: none;']").length;
				var vis_apps = all_apps - invis_apps
				return vis_apps < 1;
			}).hide();
		});
	</script>
{% endblock %}
