{% extends "site_base.html" %}

{% block body_class %}apps{% endblock %}

{% block app_body %}
	<section class="apps">
		<div class="">
			{% if apps %}
				<div class="apps-available">
					{% for category in apps|sort %}
						<div id="{{ category[3:] }}" class="app-category">
							<h3>{{ category[3:] }}</h3>
							{% for app in apps[category]|sort(attribute='category_index') %}
								{{ app_macro(app) }}
							{% endfor %}
						</div>
					{% endfor %}
					<div class="app-category">
						{% if other_apps %}
							<h3>Other apps</h3>
							{% for app in other_apps %}
								{{ app_macro(app) }}
							{% endfor %}
						{% endif %}
					</div>
				</div>
			{% else %}
				<h2>{{ _('No apps available.') }}</h2>
			{% endif %}
		</div>
	</section>

{% endblock %}

{% block app_toolbar %}{% endblock %}

{% block sidebar_left %}{% endblock %}
{% block sidebar_right %}{% endblock %}

{% block app_modals %}{% endblock %}

{% block app_scripts %}
	<script>
		var $apps = $('.app-container');
		var $categories = $('.app-category');

		$('#search').keyup(function() {
			var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
			$apps.show().filter(function() {
				var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
				return !~text.indexOf(val);
			}).hide();
			$categories.show().filter(function() {
				var all_apps = $(this).find(".app-container").length;
				var invis_apps = $(this).find(".app-container[style='display: none;']").length;
				var vis_apps = all_apps - invis_apps
				return vis_apps < 1;
			}).hide();
		});
	</script>
{% endblock %}


{% macro app_macro(app) -%}
	{% set app_enabled = ((online and app.connection == 2) or app.connection < 2) %}
	{% set app_background = app.color if app_enabled else 'dark_gray' %}
	{% set app_href = '/app/open/' + app.formatted_name if app_enabled else '#' %}
	{% set app_class = app.formatted_name + ('' if app_enabled else ' disabled') %}
	{% set opsoro_author = (app.author == 'OPSORO') %}

	<div class="app-container {{ app_class }}">
		<a href="{{ app_href }}">
			<div class="app-button background_{{ app_background }}">
				<span class="app-icon {{ app.icon }}"></span>

				<span class="app-label">{{ app.full_name }}</span>
				<div class="app-banner">
					{% if opsoro_author %}
						<img class="app-opsoro" src="/static/images/logo/opsoro_icon_light.png">
					{% else %}
						<span class="app-by">by</span> <span class="app-author">{{ app.author }}</span>
					{% endif %}

					<div class="app-status">
						<span class="fa-cog fa-spin app-active" style="display: none;"></span>
						<span class="fa-lock app-locked" style="display: none;"></span>
						{% if not online and app.connection == 2 %}<span class="app-beat fa-wifi"></span>{% endif %}
					</div>
				</div>
			</div>
			{% for tag in app.tags %}
				<span class="app-tag hide">{{ tag }}</span>
			{% endfor %}
		</a>
	</div>
	{{enabled}}
{%- endmacro %}
