{% extends "site_base.html" %}

{% block body_class %}apps{% endblock %}

{% block app_body %}
	<section class="apps">
		<div class="">
			{% if apps %}
				<div class="apps_available">
					{% for app in apps %}
						<div class='app_container large-2 medium-3 small-6 columns'>
							{% if not app.active and activeapp %}
								<a href="#" onclick="showSwitchAppModal('{{ app.icon }}', '{{ app.full_name }}', '/openapp/{{ app.formatted_name }}')">
									<div class="app_button">
										<div class="app_icon {{ app.icon }}"></div>
										<div class="app_banner" style="background-color: {{ app.color }}"></div>
									</div>
									<div class="app_label">{{ app.full_name }}</div>
								</a>
							{% else %}
								<a href="/openapp/{{ app.formatted_name }}">
									<div class="app_button">
										<div class="app_icon {{ app.icon }}"></div>
										<div class="app_banner" style="background-color: {{ app.color }}"></div>
									</div>
									<div class="app_label">{{ app.full_name }}</div>
								</a>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			{% else %}
				<h2>{{ _('No apps available.') }}</h2>
			{% endif %}
		</div>
	</section>

{% endblock %}

{% block app_toolbar %}{% endblock %}

{% block sidebar_left %}{% endblock %}
{% block sidebar_right %}{% endblock %}

{% block app_modals %}
	{% if activeapp %}
		<div id="SwitchAppModal" class="reveal small" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
			<div class="titlebar">
				<button class="close-button" data-close aria-label="Close" type="button">
					<span class="fa fa-close"></span>
				</button>
				<span class="fa fa-power-off"></span>
				Confirm
			</div>
			<div class="content">
				<p>
					Are you sure you wish to open
					<span class="" id="SwitchAppIcon"></span>
					<span id="SwitchAppName"></span>?
					<br/>
					Doing so will close the current app,
					<span class="fa {{ activeapp.icon }}"></span>
					{{ activeapp.full_name }}.
				</p>
				<div class="text-center">
					<a href="#" class="button" id="SwitchAppLink">
						<span class="fa fa-check"></span>
						Yes, switch app.</a>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
{% block app_scripts %}
	{% if activeapp %}
		<script>
			function showSwitchAppModal(icon, name, link) {
				$("#SwitchAppIcon").attr("class", "fa " + icon);
				$("#SwitchAppName").html(name);
				$("#SwitchAppLink").attr("href", link);
				$("#SwitchAppModal").foundation("open");
			}
		</script>
	{% endif %}
{% endblock %}
