{% extends "app_base.html" %}

{% block app_content %}
	<div class="left-column" data-bind="visible: $root.fileIsLocked()">
		<div id="fixedvoiceline" data-bind="sortable: { data: fixedVoiceLine, options: {handle: '.gripper', axis: 'y', opacity: 0.75} }">
			<div class="voiceline locked">
				<input type="text" placeholder="Enter a search term" id="socialID" data-bind="value: $root.socialID">
				<button class="button round info" data-bind="click: $root.toggleTweepy">
					<span class="fa " data-bind="css: { 'fa-play': !$root.isStreaming(), 'fa-close': $root.isStreaming() }"></span>
					<span class="text" data-bind="text: !$root.isStreaming() ? '{{ _('Start Streaming') }}' : '{{ _('Stop Streaming') }}' "></span>
				</button>
				<button class="button round info" data-bind="click: $root.toggleAutoLoopTweepy, enable: !$root.autoRead()">
					<span class="fa " data-bind="css: { 'fa-close': $root.index_voiceLine() > 0, 'fa-refresh': $root.index_voiceLine() == 0 }"></span>
					<span class="text" data-bind="text: $root.index_voiceLine() > 0 ? '{{ _('Stop Autoloop') }}' : '{{ _('Start Autoloop') }}' "></span>
				</button>
				<label><input type="checkbox" data-bind="checked: $root.autoRead"/> Toggle Auto Read</label>
			</div>
		</div>
	</div>

	<div data-bind="css: { 'right-column': $root.fileIsLocked() }">

			<div id="voicelines" data-bind="sortable: { data: voiceLines, options: {handle: '.gripper', axis: 'y', opacity: 0.75} }">
				<div class="voiceline" data-bind="css: { locked: $root.fileIsLocked(), unlocked: !$root.fileIsLocked()}">
					<div class="avatar">
						<a data-bind="attr: { href: url}" target="_blank">
							<img data-bind="attr: { src: picture }"/>
						</a>
					</div>
					<div class="content">
						<span class="bubble" data-bind="html: contentPreview"></span>
					</div>
					<div class="playbutton" data-bind="css: {active: isPlaying, used: hasPlayed}">
						<div class="bg"></div>
						<a href="#" class="button" data-bind="click: pressPlay">
							<span class="fa fa-fw" data-bind="css: {'fa-play': !isPlaying(), 'fa-stop': isPlaying()}"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

		{% block app_scripts %}

			<script src="/static/js/vendor/jquery-ui-sortable/jquery-ui.js"></script>
			<script src="/static/js/knockout-sortable.min.js"></script>

			<script>
				var action_data = {{ actions|tojson|safe }};
				var emotions_data = {{ emotions|tojson|safe }};
				var sounds_data = {{ sounds|tojson|safe }};
				console.log(emotions_data);
			</script>
			<script src="/static/js/sockjs.min.js"></script>
			<script src="/static/js/vendor/jquery-ui-touch/jquery.ui.touch-punch.min.js"></script>

		{% endblock %}
