
/* ban: f05e */
li {
  list-style: none;
}
.button{
  min-width: 8rem;
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 1rem;
      border-radius: 0.25rem;;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #0095FF;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #258dad;
}


.error{
  color: #C00;
}
.ban_list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.ban_list li .banIcon {
  border-radius: 20%;
  width: 3rem;
  height: 3rem;
  position: absolute;
  margin-left: 1rem;
  background: #313334;
  text-align:center;
  line-height: 48px;
}
.ban_list li .banIcon::before{
  color: white;
  content: "\f05e";
  font-family: 'FontAwesome';
  font-size:2rem;
}
.ban_data p{
  padding-top: 0.8rem;
  display: flex;
  justify-content: space-between;
}
.ban_data p span + .ban_data p a{
  display: cell;
}
.ban_list li {
  width: 100%;
  margin: 0.5rem;
  list-style: none;
}
.ban_data{
  margin-left: 6rem;
}
.safeword{
  max-width: 20rem;
}
.removeBanItem, .bannedword{
  margin-left: 2rem;
  margin-top: 0.5rem;
  margin: 0.5rem 2rem 0 2rem;
}
