{% extends "app_base.html" %}
{% block app_head %}{% endblock %}

{% block app_toolbar %}

{% endblock %}

{% block app_content %}
<!--
overzicht
blacklist
 -->
<!-- git test-->
<div class="main">
	<ul class="accordion" data-responsive-accordion-tabs="tabs small-accordion medium-tabs large-tabs" id="contacts-tabs">
	  <li class="accordion-item is-active" data-accordion-item>
			<a href="#overzicht">
				<span class="fa fa-fw fa-cog"></span> overzicht
			</a>
			<div class="accordion-content" data-tab-content>
				<fieldset data-bind="with: overzicht">
					<legend>
						<span class="fa fa-cog"></span>
						overzicht
					</legend>


					<div class="contacts" data-bind="visible: $root.fileIsLocked()">
						<div id="">

						</div>
					</div>

					<ul class="contact_list">
						<li>
							<div class="contact">
								<span class="personIcon"></span>
								<div class="contact_data">
									<p>Name: <span data-bind="text: personName"></span></p>
									<p>Number: <span data-bind="text: personNumber"></p>
									<a href="#">Delete</a>
								</div>
							</div>
						</li>

						<li>
							<div class="contact" id="person">
								<span class="personIcon"></span>
								<div class="contact_data">
									<p>Name</p>
									<p>Number</p>
									<a href="#">Delete</a>
								</div>
							</div>
						</li>
						<li>
							<div class="contact">
								<span class="personIcon"></span>
								<div class="contact_data">
									<p>Name</p>
									<p>Number</p>
									<a href="#">Delete</a>
								</div>
							</div>
						</li><li>
							<div class="contact">
								<span class="personIcon"></span>
								<div class="contact_data">
									<p>Name</p>
									<p>Number</p>
									<a href="#">Delete</a>
								</div>
							</div>
						</li><li>
							<div class="contact">
								<span class="personIcon"></span>
								<div class="contact_data">
									<p>Name</p>
									<p>Number</p>
									<a href="#">Delete</a>
								</div>
							</div>
						</li>
				</fieldset>

				<fieldset data-bind="with: update">
					<legend>
						<span class="fa fa-cloud-download"></span>
						toevoegen

					</legend>
						<div class="row">
							<div class="small-4 medium-4 large-4 columns">
								<label for="name" class="text-right inline">Name</label>
							</div>
							<div class="small-8 medium-6 large-4 columns end">
								<input type="text" id="name" name="name" value="" data-bind="value: personName" required pattern="[a-zA-Z]+">
								<small class="error">A valid name is required</small>
							</div>
						</div>

						<div class="row">
							<div class="small-4 medium-4 large-4 columns">
								<label for="number" class="text-right inline">Number</label>
							</div>
							<div class="small-8 medium-6 large-4 columns end">
								<input type="number" id="number" name="number" value="" data-bind="value: personNumber" required pattern="[0-9]*">
								<small class="error">A valid number is required</small>
							</div>
						</div>

						<div class="row">
							<div class="text-center" data-bind="visible: available">
								<!-- <a href="#" data-open="UpdateModal" class="action button" style="padding-left: 2rem; padding-right: 2rem;"> -->
								<a href="#" class="action button" style="padding-left: 2rem; padding-right: 2rem;">
									<span class="fa fa-save"></span>
									 &nbsp;Save!</a>
							</div>
						</div>


				</fieldset>
	    </div>
		</li>
		<li class="accordion-item" data-accordion-item>
			<a href="#blacklist">
				<span class="fa fa-fw fa-cog"></span> blacklist
			</a>
			<div class="accordion-content" data-tab-content>
				<fieldset data-bind="with: blacklist">
					<legend>
						<span class="fa fa-cog"></span>
						General
					</legend>

					<div class="row">
						<div class="small-4 medium-4 large-4 columns">
							<label for="robotName" class="text-right inline">Robot name</label>
						</div>
						<div class="small-8 medium-6 large-4 columns end">
							<input type="text" id="robotName" name="robotName" value="" data-bind="value: robotName" required pattern="[a-zA-Z]+">
							<small class="error">A valid name is required</small>
						</div>
					</div>

					<div class="row">
						<div class="small-4 medium-4 large-4 columns">
							<label for="startupApp" class="text-right inline">Startup app</label>
						</div>
						<div class="small-8 medium-6 large-4 columns end">
							<select id="startupApp" name="startupApp" data-bind="options: apps, value: startupApp"></select>
						</div>
					</div>

				</fieldset>


				<fieldset data-bind="with: update">
					<legend>
						<span class="fa fa-cloud-download"></span>
						Update
					</legend>
					<div class="row">
						<div class="small-6 medium-6 large-6 columns">
							<label for="updateBranch" class="text-right inline">Git branch</label>
						</div>
						<div class="small-6 medium-6 large-6 columns end">
							<label for="updateBranch" class="inline" data-bind="text: branch"> </label>
						</div>
						<!-- <div class="small-8 medium-6 large-4 columns end">
							<label for="updateBranch" class="text-right inline">Branch</label>
							<label data-bind="text: branch"> </label>
							<select id="updateBranch" name="updateBranch" data-bind="value: branch, foreach: branches">
								<option data-bind="value: $data, text: $data"></option>
							</select>
						</div> -->
					</div>
					<div class="row">
						<div class="small-6 medium-6 large-6 columns">
							<label for="updateRevision" class="text-right inline">Git commit rev.</label>
						</div>
						<div class="small-6 medium-6 large-6 columns end">
							<label for="updateRevision" class="inline" data-bind="text: revision"> </label>
						</div>
					</div>
					<div class="row">
						<div class="text-center" data-bind="visible: available()">
							<span class="fa fa-cloud-download"></span> Update available!
						</div>
						<div class="text-center" data-bind="visible: !available()">
							<span class="fa fa-check-circle"></span> Up-to-date!
						</div>
					</div>
					<div class="row">
						<div class="text-center" data-bind="visible: available">
							<a href="#" data-open="UpdateModal" class="action button" style="padding-left: 2rem; padding-right: 2rem;">
								<span class="fa fa-refresh"></span>
								UPDATE!</a>
						</div>
					</div>

				</fieldset>
	    </div>
		</li>

	</ul>
</div>

{% endblock %}
{% block app_scripts %}

	<script>

	</script>
{% endblock %}
