.content{
    width: 970px;
    margin: auto 0;
}

.block{
    width: 210px;
    height: 210px;
    border-radius: 10px;
    background-color: #b2afa1;
    float: left;
    margin: 10px 20px;
    -webkit-box-shadow: 5px 5px 5px #888888;
    -moz-box-shadow: 5px 5px 5px #888888;
    box-shadow: 5px 5px 5px #888888;
}

.block:hover{
    width: 210px;
    height: 210px;
    border-radius: 10px;
    background-color: #22b573;
    float: left;
    margin: 10px 20px;
    -webkit-box-shadow: 5px 5px 5px #888888;
    -moz-box-shadow: 5px 5px 5px #888888;
    box-shadow: 5px 5px 5px #888888;
}

.row1{
    height: 250px;
    width: 500px;
    text-align: center;
    margin: auto;
}

.row2{
    height: 250px;
    width: 500px;
    text-align: center;
    margin: auto;
}

.fa.fa-calculator{
    font-size: 90px;
    color: white;
    display: block;
    line-height: 90px;
    text-align: center;
    margin-top: 25%;
    margin-bottom: 4%;
    text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.33);
}

.fa.fa-clock-o, .fa.fa-book, .fa.fa-gamepad{
    font-size: 100px;
    color: white;
    display: block;
    line-height: 100px;
    text-align: center;
    margin-top: 25%;
    text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.33);
}

.actionbar{
    min-height: 0px;
    display: none;
}

.appname{
    display: block;   
    font-size: 20px;
    text-shadow: 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.33);
    color: white;
}
