{% extends "app_base.html" %}

{% block head %}

{% endblock %}

{% block app_toolbar %}
	{% include "toolbar/_expand_collapse.html" %}
	{% include "toolbar/_script_operations.html" %}
	{% include "toolbar/_file_operations.html" %}
{% endblock %}

{% block app_content %}

	<div id="pnlCode" class="hide contentwrapper">
		<pre id="editor"></pre>
	</div>
	<div id="pnlBlockly" class="contentwrapper">
		<iframe id="blocklyFrame" src="/blockly"></iframe>
	</div>
	<div id="console" class="console"></div>

{% endblock %}

{% block app_scripts %}

	<script>
		var action_data = {{ actions|tojson|safe }};

		var scriptname = {% if script_name %}"{{ script_name }}"{% else %}null{% endif %};
		var isScriptModified = {{ "true" if script_modified else "false" }};
		var isScriptRunning = {{ "true" if script_running else "false" }};
	</script>

	<script src="/static/js/sockjs.min.js"></script>

	<script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/ace/mode-lua.js" type="text/javascript" charset="utf-8"></script>
	<script src="/apps/lua_scripting/static/ono-lua-highlighter.js" type="text/javascript" charset="utf-8"></script>

{% endblock %}

{% block app_modals %}

	<div id="ScriptUIModal" class="reveal small" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
		<div class="titlebar">
			<a class="close-button" data-close aria-label="Close" type="button">
				<span class="fa fa-close"></span>
			</a>
			<span class="fa fa-gamepad"></span>
			Script UI
		</div>
		<div class="content">
			<div id="ScriptUIWrench" style="text-align: center;">
				<span class="fa fa-wrench" style="font-size: 5rem; color: #B2AFA1;"></span><br><br>
				The script has not created any UI elements yet!
			</div>
			<ul id="ScriptUIButtons" class="small-block-grid-4 hide" style="margin-bottom: -1.25rem;"></ul>
			<hr>
			<div id="ScriptUIKeys"></div>
		</div>
	</div>

{% endblock %}
