input[type="text"]{
	margin-left: 0.5rem;
	width: 40%;
	display: inline-block;
}
iframe {
	height: 425px!important;
	width: 750px!important;
}
select {
	display: inline-block;
	width: 40%;
	margin-left: 0.5rem;
}
.iframe-container {
	max-height: 425px;
	max-width: 750px;
	float: left;
}
.button {
	margin-top: 1.5em;
}
.block {
	display: block;
}
.rightside {
	display: inline-block;
	float: right;
	width: 32%;
	margin: 0 0.5em 0 0.5em;
	padding: 0.5em;
	height:35px;
}
.rightside p{
	display: inline-block;
	float: right;
	margin: 0;
}
.ko_container {
	padding: 0.5em;
	width: 32%;
	overflow: hidden;
	height:390px;

}
.leftside{

}
.togglebox {
	/*background-color: green;*/
	display: block;
	width: 99.3%;
	float: left;
	padding: 0.5em;
}
.togglebox p {
	display: inline-block;
	float: right;
	margin-right: 1.5em;
}
.togglebox label{
	display: inline-block;
	margin: 0.5em 0.5em 0.5em 0.5em;
	padding: 0.5em 0.5em 0.5em 0.5em;
	/*background-color: yellow;*/
}
/*facebook messages*/
.voiceline.locked
{
    min-height: 2rem;
    margin-bottom: 0rem;
}
#voicelines .voiceline.locked
{
    margin-left: 2rem;
}
#voicelines .voiceline.locked.name
{
    margin-left: 0.5rem;
		font-style: italic;
		font-weight: bold;
}
/*comment bubble*/
.bubble
{
    font-size: .9rem;

    position: relative;
    margin-bottom: .25rem;
    margin-left: 0.75rem;
		padding: 0.5rem;

    -webkit-border-radius: .5rem;
       -moz-border-radius: .5rem;
            border-radius: .5rem;
    background: #ddd;
}
/*.bubble:after
{
    position: absolute;
    top: .3rem;
    bottom: auto;
    left: -1.1rem;

    display: block;

    width: 0;

    content: '';

    border-width: .75rem 1.2rem .75rem 0;
    border-style: solid;
    border-color: #f3961c transparent;
    border-color: transparent #ddd;
}*/

.bubble .fa
{
    color: #4d4d4d;
}
/*add a bit of responsiveness*/
@media screen and (max-width: 1000px) {
	.rightside {
		display: block;
		width: 100%;
	}
	.ko_container {
		width: 100%;

	}
}
