<span class="icon fa {{ app.icon }}"></span>
<div class="filebox">
    <span data-bind="text: file_name" class="filename"></span>
    <span data-bind="visible: fileIsModified()" class="fa fa-asterisk"></span><br>
    <span class="fa" data-bind="css: { 'fa-lock': fileIsLocked(), 'fa-pencil': !fileIsLocked() && !isRunning(), 'fa-circle-o-notch fa-spin': isRunning() }" style="font-size: 0.75rem;"></span>
    <span class="status" data-bind="text: isRunning() ? '{{ _('Running') }}' : fileIsLocked() ? '{{ _('Locked') }}' : '{{ _('Editing') }}'"></span>
</div>
<a href="#" class="action" data-bind="click: saveAsFile">
    <span class="fa fa-save"></span><br/>
    <span class="text">{{ _('Save As...') }}</span>
</a>
<a href="#" class="action" data-bind="click: saveFile">
    <span class="fa fa-save"></span><br/>
    <span class="text">{{ _('Save') }}</span>
</a>
<a href="#" class="action" data-bind="click: openFile">
    <span class="fa fa-folder"></span><br/>
    <span class="text">{{ _('Open') }}</span>
</a>
<a href="#" class="action" data-bind="click: newFile">
    <span class="fa fa-file"></span><br/>
    <span class="text">{{ _('New') }}</span>
</a>

<div class="spacer"></div>

<script>
    file_name_default = "{{ _('Default') }}";
    file_name_untitled = "{{ _('Untitled') }}";
    file_name = file_name_untitled;
    fileIsModified = function () {
        if ($(".filebox .fa-asterisk").css("display") == "none") {
            return false
        }
        return true;
    };
    fileIsLocked = function () {
        return false;
    };
    isRunning = function () {
        return false;
    };

    // Config parameters ----------------------------------------------------------------------------------
    var folderpath = "";
    var extension = "";
    var saveDataHandler = function () {
        showMainError("No save handler defined.<br/>Please configurate file_operations.");
        return undefined;
    };
    var loadDataHandler = function (data) {
        showMainError("No load handler defined.<br/>Please configurate file_operations.");
        return false;
    };
    var newFileHandler = function () {
        showMainError("No new handler defined.<br/>Please configurate file_operations.");
        return;
    };
    // ----------------------------------------------------------------------------------------------------

    var _CurrentPath = "";
    var _OnlyFolders = 0;
    var _SaveFileView = 0;

    var saveFile = function () {
        if ($(".filebox .filename").text() == file_name_untitled) {
            saveItem('', 1, 0);
            // showFiles(folderpath, 0, 1);
        } else {
            saveItem($(".filebox .filename").text(), 1, 1);
        }
        return;
    };
    var saveAsFile = function () {
        saveItem('', 1, 0);
        // showFiles(folderpath, 0, 1);
        return;
    };
    var openFile = function () {
        _CurrentPath = folderpath;
        _OnlyFolders = 0;
        _SaveFileView = 0;
        if (fileIsModified()) {
            showMessagePopup("fa-folder-open", "{{ _('Open file?') }}", "{{ _('Unsaved changes will be lost. Are you sure you wish to continue?') }}", {
                btnYes: ReopenPopup,
                btnCancel: closeMessagePopup
            });
        } else {
            ReopenPopup();
        }
        return;
    };
    var newFile = function () {
        var yesHandler = function () {
            file_name = file_name_untitled;
            $(".filebox .filename").text(file_name);
            window.history.pushState("", "New", "?");
            newFileHandler();
            closeMessagePopup();
        };
        if (fileIsModified()) {
            showMessagePopup("fa-file", "{{ _('New file?') }}", "{{ _('Unsaved changes will be lost. Are you sure you wish to continue?') }}", {
                btnYes: yesHandler,
                btnCancel: closeMessagePopup
            });
        } else {
            yesHandler();
        }
        return;
    };
    var showFiles = function (currentpath, onlyFolders, saveFileView) {
        if (currentpath[currentpath.length - 1] != "/") {
            currentpath += "/";
        }
        if (currentpath == "/") {
            currentpath = "";
        }
        _CurrentPath = currentpath;
        _OnlyFolders = onlyFolders;
        _SaveFileView = saveFileView;
        showPopup("fa-folder-open", "{{ app.full_name }}", "filebrowser", "");
        $("#popup .content").load("/docs/list/?" + $.param({a: "{{ app.formatted_name }}", e: extension, s: saveFileView}), function () {
            // Delete and Open button events need to be rebound here because filelist is loaded via AJAX
            $("#popup .btnDeleteFile").off("click");
            $("#popup .btnDeleteFile").on("click", function () {
                filename = $(this).closest("div.browseritem").data("path");
                deleteItem(filename);
            });

            $("#popup .btnOpenFolder").off("click");
            $("#popup .btnOpenFolder").on("click", function () {
                folderpath = $(this).closest("div.folder").data("path");
                showFiles(folderpath, _OnlyFolders, _SaveFileView);
            });

            $("#popup .btnOpenFile").off("click");
            $("#popup .btnOpenFile").on("click", function () {
                filename = $(this).closest("div.file").data("path");
                openItem(filename, 0);
                closePopup();
                return;
            });

            $("#popup .btnNewFolder").off("click");
            $("#popup .btnNewFolder").on("click", function () {
                newFolder(currentpath);
            });

            $("#popup .btnSaveFile").off("click");
            $("#popup .btnSaveFile").on("click", function () {
                filename = $(this).closest("div.browseritem").data("path");
                saveItem(filename, 0, 0);
            });

            $("#popup .btnSaveFileAs").off("click");
            $("#popup .btnSaveFileAs").on("click", function () {
                saveItem(currentpath, 0, 0);
            });
        });
    };
    var deleteItem = function (filename) {
        var yesHandler = function () {
            $.ajax({
                dataType: "json",
                type: "POST",
                url: "/docs/delete/{{ app.formatted_name }}/",
                data: {
                    filename: filename
                },
                success: function (data) {
                    if (!data.success) {
                        showMainError(data.message);
                        return;
                    }

                    showMainSuccess("{{ _('File deleted.') }}");
                }
            });
            ReopenPopup();
        };
        showMessagePopup("fa-trash", "{{ _('Delete?') }}", "{{ _('Are you sure you wish to delete this item?') }}", {
            btnYes: yesHandler,
            btnCancel: ReopenPopup
        });
    };
    var saveItem = function (folderPath, overwrite, isCurrentFile) {
        if (isCurrentFile == 1) {
            saveFileHandler(folderPath);
            setTimeout(function () {
                openItem(folderPath, 1);
            }, 200);
        } else {
            if (folderPath.indexOf(".") > 0) {
                var yesHandler = function () {
                    saveFileHandler(folderPath);
                    closeMessagePopup();
                    closePopup();
                    openItem(folderPath, 1);
                };
                if (overwrite) {
                    yesHandler();
                } else {
                    showMessagePopup("fa-save", "{{ _('Overwrite file?') }}", "{{ _('Are you sure you wish to overwrite this file?') }}", {
                        btnYes: yesHandler,
                        btnCancel: ReopenPopup
                    });
                }
            } else {
                var saveHandler = function () {
                    saveFileHandler(folderPath + data["inputText"]);
                    closeMessagePopup();
                    closePopup();
                    openItem(folderPath + data["inputText"], 1);
                };
                var inputTextHandler = function (e) {
                    data["inputText"] = $(this).val();
                };
                showMessagePopup("fa-save", "{{ _('Save file?') }}", "{{ _('Please enter a name and press save.') }}", {
                    inputText: inputTextHandler,
                    btnSave: saveHandler,
                    btnCancel: ReopenPopup
                });
            }
        }
    };
    var newFolder = function (folderPath) {
        var okHandler = function () {
            newFolderPath = folderPath + data["inputText"];
            $.ajax({
                dataType: "json",
                type: "POST",
                url: "files/newfolder",
                data: {
                    path: newFolderPath
                },
                success: function (data) {
                    if (data.status == "error") {
                        addError(data.message);
                    } else {
                        addMessage(data.message);
                    }
                }
            });
            ReopenPopup();
        };
        var inputTextHandler = function (e) {
            data["inputText"] = $(this).val();
        };
        showMessagePopup("fa-plus", "{{ _('New folder?') }}", "{{ _('Please enter a name and press OK.') }}", {
            inputText: inputTextHandler,
            btnOk: okHandler,
            btnCancel: ReopenPopup
        });
    };
    var openItem = function (filename, onlyChangeUrl) {
        if (filename.indexOf(".") < 0) {
            filename += extension;
        }
        window.history.pushState("", "Open", "?f=" + filename);
        // if (onlyChangeUrl == 1){ return; }
        loadFileHandler(filename);
    };
    var ReopenPopup = function () {
        closeMessagePopup();
        setTimeout(function () {
            showFiles(_CurrentPath, _OnlyFolders, _SaveFileView);
        }, 200);
    };

    var saveFileHandler = function (filename) {
        if (filename == "") {
            addError("{{ _('No filename!') }}");
            return;
        } else {
            save_data = saveDataHandler();
            if (save_data == undefined) {
                return;
            }
            // console.log(file_data); var json_data = ko.toJSON(save_data, null, 2);
            var json_data = save_data;
            $.ajax({
                dataType: "json",
                data: {
                    filename: filename + extension,
                    data: json_data
                },
                type: "POST",
                url: "/docs/save/{{ app.formatted_name }}/",
                success: function (data) {
                    if (!data.success) {
                        showMainError(data.message);
                        return;
                    }
                    var filename_no_ext = filename;
                    if (filename_no_ext.toLowerCase().slice(-4) == extension) {
                        filename_no_ext = filename_no_ext.slice(0, -4);
                    }
                    if (filename_no_ext.toLowerCase().slice(-5) == extension) {
                        filename_no_ext = filename_no_ext.slice(0, -5);
                    }
                    $(".filebox .filename").text(filename_no_ext);
                    // fileIsModified(false);
                    showMainSuccess("{{ _('File is saved!') }}");
                }
            });
        }
    };

    var loadFileHandler = function (filename) {
        if (filename == "") {
            return undefined;
        }
        loaded_data = undefined
        $.ajax({
            dataType: "text",
            type: "GET",
            url: "/docs/data/{{ app.formatted_name }}/",
            cache: false,
            data: {
                f: filename
            },
            success: function (data) {
                var jdata = {};
                try {
                  jdata = JSON.parse(data);
                } catch (e) {}

                if (jdata.success != undefined && !jdata.success) {
                  showMainError(jdata.message);
                  data = undefined;
                }
                loaded_data = data;
                // Load script
                loadDataHandler(data)

                if (filename.indexOf(".tmp") < 0) {
                  // Update filename and asterisk
                  var filename_no_ext = filename;
                  if (filename_no_ext.toLowerCase().slice(-4) == extension) {
                      filename_no_ext = filename_no_ext.slice(0, -4);
                  }
                  if (filename_no_ext.toLowerCase().slice(-5) == extension) {
                      filename_no_ext = filename_no_ext.slice(0, -5);
                  }
                  $(".filebox .filename").text(filename_no_ext);
                  // fileIsModified(false); lockFile();
                }

            },
            error: function () {
                window.location.href = "?";
            }
        });
        return loaded_data;
    };

    function config_file_operations(sPath, sExtension, oSaveHandler, oLoadHandler, oNewHandler) {
        folderpath = sPath;
        _CurrentPath = folderpath;
        extension = sExtension;
        saveDataHandler = oSaveHandler;
        loadDataHandler = oLoadHandler;
        newFileHandler = oNewHandler;

        if (action_data != undefined && action_data.openfile) {
            loadFileHandler(action_data.openfile || "");
        } else {
            newFileHandler();
        }
    }
</script>
