remote:
  host: "ono.local"
  user: "pi"
  path: "/home/pi/OnoSW"
behaviour:
  uploadOnSave: true
  syncDownOnOpen: false
  forgetConsole: false
  autoHideConsole: false
  alwaysSyncAll: true
option:
  deleteFiles: false
  exclude: [
    ".sync-config.cson"
    ".git"
    "node_modules"
    "tmp"
  ]
# trigger:
#   "__init__.py": [
#     #"ssh ono ./initserver.sh"
#     "echo \'<span class=warning>Send and initialized!</span>\'"
#   ]
