.tts-switch
{
    display: inline;
}
.tts-switch label
{
    background-color: #4d4d4d;
}

.tts-switch input:checked + label
{
    background-color: #4d4d4d;
}

.tts-switch .switch-tts
{
    position: absolute;
    top: -.5rem;
    right: .6rem;

    pointer-events: none;

    color: #fff;
}

.tts-switch .switch-wav
{
    position: absolute;
    top: -.5rem;
    left: .6rem;

    pointer-events: none;

    color: #fff;
}

/*Speech bubble*/
.bubble
{
    font-size: .8rem;
    font-style: italic;

    position: relative;

    display: inline-block;

    margin-top: -1rem;
    margin-bottom: .5rem;
    margin-left: .7rem;
    padding: .5rem;
    padding-right: .75rem;

    -webkit-border-radius: .5rem;
       -moz-border-radius: .5rem;
            border-radius: .5rem;
    background: #ddd;
}
.bubble:after
{
    position: absolute;
    top: .3rem;
    bottom: auto;
    left: -1.1rem;
    /* reduce the damage in FF3.0 */

    display: block;

    width: 0;

    content: '';

    border-width: .75rem 1.2rem .75rem 0;
    border-style: solid;
    border-color: #f3961c transparent;
    border-color: transparent #ddd;
}

.bubble .fa
{
    color: #4d4d4d;
}

@-webkit-keyframes load8
{
    0%
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes load8
{
    0%
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.voiceline
{
    position: relative;

    min-height: 5.5rem;
    margin-bottom: .5rem;

    background: transparent;
}
.voiceline.locked
{
    min-height: 2rem;
    margin-bottom: 0rem;
}

#PickEmotionModal
{
    width: 35rem;
    min-height: 10rem;
}
#PickEmotionModal .column-block
{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.voiceline .avatar,
#PickEmotionModal .avatar
{
    position: absolute;
    top: 0;
    left: 0;

    width: 5.5rem;
    height: 5.5rem;
    padding: .25rem;
    margin: 0 auto;

    /*border: 2px solid #ddd;*/
    border-radius: 50%;

    cursor: pointer;
}
.voiceline .avatar .emoji,
#PickEmotionModal .avatar .emoji {
  font-size: 5rem;
}

#PickEmotionModal .avatar
{
    position: relative;
}
#PickEmotionModal .avatarcaption
{
    font-size: .8rem;
    font-weight: bold;

    margin: 0;
    margin-top: .25rem;
    padding: 0 .5rem;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border-radius: 1rem;
    background: #4d4d4d;
}

.voiceline .avatar:hover,
#PickEmotionModal .avatar:hover
{
    background: rgba(34, 181, 115, .41);
}

.voiceline .avatar > div,
#PickEmotionModal .avatar > div
{
    width: 4.75rem;
    height: 4.75rem;

    border-radius: 50%;
    background-size: 100% !important;
}

.voiceline.locked .avatar
{
    width: 3.5rem;
    height: 3.5rem;
    margin: 0;
    /*margin-bottom: .5rem;
    margin-left: .5rem;*/
    padding-top: .15rem;
    padding-left: .1rem;
}
.voiceline.locked .avatar .emoji {
  font-size: 3.3rem;
}
#voicelines .voiceline.locked
{
    margin-left: 1rem;
}
#fixedavatars .voiceline.locked
{
    width: auto;
    height: auto;;
}
.voiceline.locked .avatar > div
{
    width: 3rem;
    height: 3rem;

    border-radius: 50%;
    background-size: 100% !important;
}

.voiceline .playbutton
{
    position: absolute;
    top: .25rem;
    right: 0;

    width: 3rem;
    height: 3rem;
}

.voiceline .playbutton .bg
{
    width: 100%;
    height: 100%;

    border-radius: 50%;
    background: rgba(34, 181, 115, .41);
}

.voiceline .playbutton a
{
    position: absolute;
    top: .4rem;
    right: -1.4rem;
    bottom: .4rem;
    left: .4rem;

    display: block;

    width: 2.2rem;
    height: 2.2rem;
    padding-top: 1rem;

    border-radius: 50%;
    /*background-color: #43ac6a;*/
    background-color: transparent;
}

.voiceline .playbutton a span
{
    font-size: 1.4rem;

    position: absolute;
    top: .35rem;
    left: .2rem;

		color: #fff;
}

.voiceline .playbutton a:hover
{
    /*background-color: #368a55;*/
    /*background-color: transparent;*/
}

.voiceline .playbutton.used .bg
{
    background: #aaa;
}

.voiceline .playbutton.used a
{
    /*background: #b2afa1;*/
}

.voiceline .playbutton.used a:hover
{
    /*background-color: #545454;*/
}

.voiceline .playbutton.active .bg
{
    -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
            animation: load8 1.1s infinite linear;

    border-top: .6rem solid rgba(34, 181, 115, .41);
    border-right: .6rem solid rgba(34, 181, 115, .41);
    border-bottom: .6rem solid rgba(34, 181, 115, .41);
    border-left: .6rem solid rgba(34, 181, 115, .7);
    background: #b2afa1;
}

.voiceline .playbutton.active a
{
    /*background: #43ac6a;*/
}

.voiceline .playbutton.active a:hover
{
    /*background-color: #368a55;*/
}

.voiceline .content
{
    margin-right: 3rem;
    margin-left: 4rem;
    padding: .85rem 0 0 0;
}

.voiceline.unlocked .content
{
    display: none;
}
.voiceline.unlocked .playbutton
{
    display: none;
}
.voiceline.unlocked .avatar
{
    left: 2rem;
}
.voiceline.locked .gripper
{
    display: none;
}
.voiceline.unlocked .gripper
{
    position: absolute;
    top: 1.5rem;
    left: -.5rem;

    width: 2rem;
    height: 2.5rem;

    cursor: move;

    background: url('gripper.png') no-repeat;
    background-size: 100%;
}

#voicelines .voiceline.locked form
{
    display: none;
}

.voiceline.unlocked form
{
    position: absolute;
    top: 0;
    right: 0;
    left: 8.5rem;

    background: #0f0;
}

.voiceline.unlocked form select,
.voiceline.unlocked form input
{
    position: absolute;
    top: .25rem;
    right: 0;
    left: 0;
}

.rightcontrols a
{
    margin-left: 45%;
}

.voiceline.unlocked form .leftcontrols
{
    position: absolute;
    top: 3.25rem;
    left: 0;
}
.voiceline.unlocked form .rightcontrols
{
    position: absolute;
    top: 3.25rem;
    right: 0;
}
.voiceline.unlocked form .rightcontrols a
{
    height: 2rem;
    margin-left: .5rem;
    padding: .4rem 1rem;
}

#fixedavatars
{
    padding: 0 1rem .5rem 1rem;
}
#fixedavatars .voiceline
{
    position: relative;

    float: left;
}
#fixedavatars li
{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}
#fixedavatars .voiceline .avatar
{
    position: relative;

    float: left;
}
#fixedavatars .selected
{
    background: rgba(34, 181, 115, .8);
}
#fixedvoiceline .voiceline
{
    /*display: none;*/
    min-height: 3.8rem;
    padding-top: .8rem;
}
#fixedvoiceline .voiceline .tts-switch
{
    margin-top: .5rem;
    margin-left: 0rem;
}
#fixedvoiceline .voiceline form select,
#fixedvoiceline .voiceline form input
{
    font-size: .8rem;

    position: absolute;
    top: .8rem;
    left: 4.5rem;

    width: 60%;
    height: 2rem;
}
#fixedvoiceline .voiceline .playbutton a span
{
    font-size: 1.4rem;

    position: absolute;
    top: .35rem;
    left: .5rem;
}

.title
{
    font-size: 1.5rem;
    font-weight: bold;

    width: 100%;
    margin-top: -1rem;
    margin-bottom: 1rem;

    text-align: center;
}
.left-column
{
    position: relative;

    float: left;

    width: 22rem;
    padding-right: 1rem;
}
.right-column
{
    position: relative;

    float: left;

    min-width: 50%;

    border-width: 1px;
    border-color: #888;
    border-left-style: dashed;
}
