canvas {
	position: relative;
	display: block;
	float: left;
	background-color: #555;
}
svg {
	position: relative;
	display: block;
	float: left;
	/*background-color: #555;*/
	/*border: 2px solid #555;
  background: url('/static/img/grid.png') #fff;
  border-radius: 10px;*/
	/*background-color: transparent;
  background-image: linear-gradient(0deg, transparent 24%, rgba(50, 50, 50, .5) 25%, transparent 27%, transparent 74%, rgba(50, 50, 50, .5) 75%, transparent 77%, transparent),
										linear-gradient(90deg, transparent 24%, rgba(50, 50, 50, .5) 25%, transparent 27%, transparent 74%, rgba(50, 50, 50, .5) 75%, transparent 77%, transparent);
  height:100%;
  background-size:50px 50px;

	border-style: solid;
	border-width: 2px;
	border-color: #555;*/
}
#model_screen {
	z-index: 2;
	/*width: 50%;*/
}
#model_screen svg image {
	z-index: 2;
	/*width: 50%;*/
}
.config_settings {
	/*position: relative;
	z-index: 1;
	top: 9rem;
	left: 55%;
	display: block;*/
	width: 50%;
	padding: 0;
}
.config_settings input,
select {
	position: relative;
	display: block;
	float: left;
	width: 8rem;
	margin: 0;
}
.config_settings input {
	height: 2.2rem;
}
.config_settings span {
	position: relative;
	display: block;
	float: left;
	width: 4.5rem;
	margin: 0;
	padding-top: 0.5rem;
}
.config_settings input.checkbox {
	width: 1rem;
	height: 1.2rem;
	margin-top: 0;
}
.config_settings .button {
	width: 2rem;
	height: 2rem;
	margin: 0.1rem;
	padding: 0;
}
.config_settings .button span {
	/*padding-top: 0rem;*/
	width: 2rem;
}
.config_settings .setting {
	position: relative;
	/*display: block;*/
	float: left;
	width: 100%;
	/*height: 2.6rem;*/
	margin: 0;
}
.config_settings div {
	width: 100%;
	padding-left: 5%;
}
#dofs {
	font-size: 0.8rem;
}
#dofs input {
	font-size: 0.8rem;
	height: 2rem;
}
#dofs .setting {
	height: 2rem;
}
#dofs div {
	font-size: 0.7rem;
}
#dofs div input {
	font-size: 0.7rem;
	height: 1.8rem;
}
#dofs div .setting {
	height: 1.8rem;
}
#poly_screen {
	position: relative;
	display: block;
	float: left;
	margin-top: 1rem;
	margin-left: -1.5rem;
}
#poly_screen circle {
	cursor: ns-resize;
}
