{% extends "app_base.html" %}
{% block app_head %}

	<!-- <script src="/site_media/static/js/....js"></script> -->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

{% endblock %}

<!-- These sidebars can be removed by removing the block tags -->
{% block sidebar_left %}{% endblock %}
{% block sidebar_right %}{% endblock %}

{% block app_content %}
	<div class="">
	<ul class="accordion" data-responsive-accordion-tabs="tabs small-accordion medium-tabs large-tabs" id="settings-tabs">
	  <li class="accordion-item is-active" data-accordion-item>
			<a href="#my_applets">
				<span class="fa fa-th"></span> My Applets
			</a>
			<div class="accordion-content" data-tab-content>
				<fieldset id="filters">
					<legend>
						<span class="fa fa-filter"></span>
						Filters
						<span class="fa fa-caret-down"></span>
					</legend>

					<div class="row">
						<div class="flex-container">
							<!-- Filters hier -->
							
						</div>
					</div>

				</fieldset>
				<fieldset>
					<legend>
						<span class="fa fa-th-large"></span>
						My Applets
					</legend>

					<div class="row">
						<div class="flex-container">
							{% for applet in data['Applets']  %}
							<div class="applet" style="background-color:{{applet.Applet_color }}">
								<a href="{{ applet.Applet_url }}">
									<div class="applet-content">
										<img src="{{ applet.Applet_logo }}" alt="" class="logo">
										<h3>{{applet.Applet_name}}</h3>
										<p class="text-muted">
										</p>
										<p>
											<span class="text-muted">By</span> Opsoro
										</p>
									</div>
									<div class="applet-footer" style="background-color:black">
										Uses Maker Webhook
									</div>
								</a>
							</div>
							{% endfor  %}
						</div>
						
					</div>

				</fieldset>
	    	</div>
		</li>
	  <li class="accordion-item" data-accordion-item>
			<a href="#commands" class="accordion-title">
				<span class="fa fa-terminal"></span> Commands
			</a>
			<div class="accordion-content" data-tab-content>
				<fieldset>
					<legend>
						Command Queue
					</legend>

					<div class="row">
						<div id="cmdqueue" class="flex-container connected-sortable">
							<div id="cmdqueue-placeholder" class="disabled">
								<p><span class="fa fa-plus"></span> Move Commands here</p>
							</div>
							
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>
						<span class="fa fa-terminal"></span>
						Commands
					</legend>

					<div class="row">
						<div id="cmdgrid" class="flex-container connected-sortable">
							<div class="command draggable" style="background-color:blue;">
								<a href="">
									<div class="command-content">
										<p class="text-muted">
											Lorem Ipsum is simply dummy text of the printing and typesetting industry.
										</p>
									</div>
									<div class="command-footer" style="background-color:black">
										Uses Maker Webhook
									</div>
								</a>
							</div>
						</div>
					</div>

				</fieldset>
	    	</div>
		</li>	  
	</ul>
</div>

{% endblock %}
{% block app_scripts %}

	<script>
		// var action_data = {{ actions|tojson|safe }};

		// var data = {{ data|tojson|safe }};
	</script>

	<!-- <script src="/site_media/static/js/....js"></script> -->

{% endblock %}
{% block app_modals %}

<div id="popup_window" class="reveal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
	<div class="titlebar">
		<button class="close-button" data-close aria-label="Close" type="button"><span class="fa fa-close"></span></button>
		<span class="fa fa-cogs"></span> Popup window!
	</div>
	<div class="content">
		<p>This is a popup window.</p>
		<form>
			<div class="row collapse">
				<div class="small-9 columns">
					<input type="text" name="text" class="error" style="width: 100%;" data-bind="value: popupTextInput">
					<small class="error hide"></small>
				</div>
				<div class="small-3 columns">
					<a href="#" class="button" style="width: 100%;" data-bind="click: popupButtonHandler()"><span class="fa fa-save"></span> Save</a>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}
