{% extends "app_base.html" %}
{% block app_head %}

	<!-- <script src="/site_media/static/js/....js"></script> -->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

{% endblock %}

<!-- These sidebars can be removed by removing the block tags -->
{% block sidebar_left %}{% endblock %}
{% block sidebar_right %}{% endblock %}

{% block app_content %}
	<div class="">
	<ul class="accordion" data-responsive-accordion-tabs="tabs small-accordion medium-tabs large-tabs" id="settings-tabs">
	  <li class="accordion-item is-active" data-accordion-item>
			<a href="#my_applets">
				<span class="fa fa-th"></span> My Applets
			</a>
			<div class="accordion-content" data-tab-content>
				<fieldset id="filters">
					<legend>
						<span class="fa fa-filter"></span>
						Filters
						<span class="fa fa-caret-down"></span>
					</legend>

					<div class="row">
						<div class="flex-container">
							<!-- Filters hier -->
							
						</div>
					</div>

				</fieldset>
				<fieldset>
					<legend>
						<span class="fa fa-th-large"></span>
						My Applets
					</legend>

					<div class="row">
						<div class="flex-container">
							{% for applet in data['Applets']  %}
							<div class="applet" style="background-color:{{applet.Applet_color }}">
								<a href="{{ applet.Applet_url }}">
									<div class="applet-content">
										<img src="{{ applet.Applet_logo }}" alt="" class="logo">
										<h3>{{applet.Applet_name}}</h3>
										<p class="text-muted">
										</p>
										<p>
											<span class="text-muted">By</span> Opsoro
										</p>
									</div>
									<div class="applet-footer" style="background-color:black">
										Uses Maker Webhook
									</div>
								</a>
							</div>
							{% endfor  %}
						</div>
						
					</div>

				</fieldset>
	    	</div>
		</li>
	  <li class="accordion-item" data-accordion-item>
			<a href="#commands" class="accordion-title">
				<span class="fa fa-terminal"></span> Commands
			</a>
			<div class="accordion-content" data-tab-content>
				<fieldset>
					<legend>
						Command Queue
					</legend>

					<div class="row">
						<div id="cmdqueue" class="flex-container connected-sortable">
							<div id="cmdqueue-placeholder" class="disabled">
								<p><span class="fa fa-plus"></span> Move Commands here</p>
							</div>
							
						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>
						<span class="fa fa-terminal"></span>
						Commands
					</legend>

					<div class="row">
						<div id="cmdgrid" class="flex-container connected-sortable">
							<div class="command draggable" style="background-color:blue;">
								<a href="">
									<div class="command-content">
										<p class="text-muted">
											Lorem Ipsum is simply dummy text of the printing and typesetting industry.
										</p>
									</div>
									<div class="command-footer" style="background-color:black">
										Uses Maker Webhook
									</div>
								</a>
							</div>
						</div>
					</div>

				</fieldset>
	    	</div>
		</li>	
		 <li class="accordion-item" data-accordion-item>
			<a href="#Activity" class="accordion-title">
				<span class="fa fa-bar-chart"></span> Activity
			</a>
			<div class="accordion-content" data-tab-content>
				<fieldset>
					<legend>
						Activity
					</legend>

					<div class="row activities">
					{% for activity in activity['Activity']  %}
							<div class="activity" >
								<div class="activity_headers">
							<img class="icon" src="//web-assets.ifttt.com/assets/web/activity/icons-v2/check-3fdd5e5a0e88fac1838037e4ca46d02b6571fed09ab00497d94c7bfd6586cdc8.svg" alt="Check">	<h4>Applet ran</h4>
							<p class=".text-muted">{{activity.date}} - {{activity.time}}</p>
							</div>
								<div class="activity_content" style="background-color:{{activity.color}}">
									<h5>{{ activity.service}}</h5>
									<p><span class="text-muted">by</span> Opsoro</p>
								</div>
							</div>
					{% endfor %}	
					</div>
				</fieldset>
	    	</div>
		</li>	    
			<li class="accordion-item" data-accordion-item>
		<a href="#personal-assistant">
			<span class="fa fa-android"></span> Personal Assistant
		</a>
		<div class="accordion-content" data-tab-content>
			<fieldset>
				<legend>
					<span class="fa fa-android"></span>
					Set your Personal Assistant's name</legend>
				<div class="row">
					<form action="name" method="POST">
						<div class="small-4 medium-4 large-4 columns">
							<label for="robotName" class="text-right inline">Personal Assistant's name</label>
						</div>
						<div class="small-8 medium-6 large-4 columns end">
							<input type="text" id="robotName" name="robotName" value="" data-bind="value: robotName" required pattern="[a-zA-Z]+">
							<button type="submit" class="button" style="margin-right:30%">Save</button>
						</div>
					</form>
				</div>
			</fieldset>
		</div>
	</li>
	<li class="accordion-item" data-accordion-item>
		<a href="#ifttt-account">
			<span class="fa fa-fw fa-user"></span> IFTTT Account
		</a>
		<div class="accordion-content" data-tab-content>
			<fieldset>
				<legend>
					<span class="fa fa-user"></span>
					Create an IFTTT account
				</legend>
				<div class="row">
					<div class="content">
							<p>With a free IFTTT account you can manage your account information, manage your own applets and connect with services like Amazon, Facebook, Instagram, Skype, .... Click on the button below to create an IFTTT account.</p></br>
							<a href="https://ifttt.com/join" target="blank"><button type="submit" class="button" style="margin-right:30%">Create IFTTT account</button></a>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>
					<span class="fa fa-mobile"></span>
					Connect your phone with the IFTTT app
				</legend>
				<div class="row">
					<div class="content">
						<p>By using the IFTTT app, you can manage your account information, manage your own applets and connect with services like Amazon, Facebook, Instagram, Skype, .... Click on one of the buttons below to download and install the IFTTT app for Android or iOS</p></br>
						<a href="https://play.google.com/store/apps/details?id=com.ifttt.ifttt" target="blank"><button type="submit" class="button" style="margin-right:30%" >Download Android app</button></a>
						<a href="https://itunes.apple.com/nl/app/ifttt/id660944635" target="blank"><button type="submit" class="button" style="margin-right:30%" >Download iOS app</button></a>
					</div>
				</div>
			</fieldset>
		</div>
	</li>
	<li class="accordion-item" data-accordion-item>
		<a href="#recipes">
			<span class="fa fa-fw fa-gear"></span> Create Applets
		</a>
		<div class="accordion-content" data-tab-content>
			<fieldset>
				<legend>
					<span class="fa fa-gear"></span>
					STEP 1
				</legend>
				<div class="row">
					<div class="content">
							<p>Go to the IFTTT website and sign in with the account that you have created earlier.</p></br>
							<a href="https://ifttt.com/login" target="blank"><button type="submit" class="button" style="margin-right:30%">Go to IFTTT website</button></a>
					</div>
				</div>
		</fieldset>
		<fieldset>
			<legend>
				<span class="fa fa-gear"></span>
				STEP 2
			</legend>
			<div class="row">
				<div class="content">
					<p>When you are signed in, choose in the menu above for My Applets. Now you will see all the applets you have created earlier. Choose for New Applet.</p>
					<img src="static/images/screenshot-opsoro-step2.png">
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>
				<span class="fa fa-gear"></span>
				STEP 3
			</legend>
			<div class="row">
				<div class="content">
					<p>Now you will see a page with IF THIS THEN THAT. Click on THIS and choose a service. You can choose any service you want. Follow the steps on-screen to configure your service.</p>
					<img src="static/images/screenshot-opsoro-step3.png">
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>
				<span class="fa fa-gear"></span>
				STEP 4
			</legend>
			<div class="row">
				<div class="content">
					<p>After you have succesfully created your service, you will return to the IF THIS THEN THAT page. Now click on THAT and choose Maker Webhooks as action service.</p>
					<img src="static/images/screenshot-opsoro-step4.png">
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>
				<span class="fa fa-gear"></span>
				STEP 5
			</legend>
			<div class="row">
				<div class="content">
					<p>Choose to make a web request. Fill in the form as shown in the image below. The BODY may vary depending on your chosen service. You can add options in the BODY field by clicking on Add ingredient.</p>
					<img src="static/images/screenshot-opsoro-step5.png">
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>
				<span class="fa fa-gear"></span>
				STEP 6
			</legend>
			<div class="row">
				<div class="content">
					<p>In the last step you get an overview of the applet you have just created. To create the applet click on Finish.</p>
				</div>
			</div>
		</fieldset>
	</div>
	</li>
	</ul>
</div>

{% endblock %}
{% block app_scripts %}

	<script>
		// var action_data = {{ actions|tojson|safe }};

		// var data = {{ data|tojson|safe }};
	</script>

	<!-- <script src="/site_media/static/js/....js"></script> -->

{% endblock %}
{% block app_modals %}

<div id="popup_window" class="reveal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
	<div class="titlebar">
		<button class="close-button" data-close aria-label="Close" type="button"><span class="fa fa-close"></span></button>
		<span class="fa fa-cogs"></span> Popup window!
	</div>
	<div class="content">
		<p>This is a popup window.</p>
		<form>
			<div class="row collapse">
				<div class="small-9 columns">
					<input type="text" name="text" class="error" style="width: 100%;" data-bind="value: popupTextInput">
					<small class="error hide"></small>
				</div>
				<div class="small-3 columns">
					<a href="#" class="button" style="width: 100%;" data-bind="click: popupButtonHandler()"><span class="fa fa-save"></span> Save</a>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}
