{% extends "app_base.html" %} {% block app_head %}

<!-- <script src="/site_media/static/js/....js"></script> -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="http://knockoutjs.com/downloads/knockout-3.4.2.js"></script>
<link rel="stylesheet" type="text/css" href="/apps/opa/static/css/animate.min.css"> {% endblock %}

<!-- These sidebars can be removed by removing the block tags -->
{% block sidebar_right %}{% endblock %} {% block app_content %}
<div class="">
	<ul class="accordion" data-responsive-accordion-tabs="tabs small-accordion medium-tabs large-tabs" id="settings-tabs">
		<li class="accordion-item is-active" data-accordion-item>
			<a href="#my_applets">
				<span class="fa fa-th"></span> My Applets
			</a>
			<div class="accordion-content" data-tab-content>
				<div class="applets">
					<fieldset id="filters">
						<legend>
							<span class="fa fa-filter"></span> Filters
							<span class="fa fa-caret-down"></span>
						</legend>


						<div class="row">
							<div class="flex-container">
								<!-- Filters hier -->
								<input class="search" placeholder="Search applets…" type="search" data-bind="textInput: appletQuery" autocomplete="off">
								<div id="protocolcontrol">
									<ul>
										<li><a data-bind="click: clearFilters">Clear filters</a></li>
									</ul>

									<ul data-bind="foreach: protocol" class="no-margin">
										<li class="protocolcontrol">
											<input type="checkbox" data-bind="checked:selected, attr: {id: 'checkBox' + id,class: 'filter'}">
											<label data-bind="text: name, attr:{for: 'checkBox'+id}"></label>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</fieldset>
					<fieldset>
						<div class="row">
							<div id="appletsGrid" class="flex-container" data-bind="foreach: filteredProtocols">
								<div class="applet hidden animated bounceIn" data-bind="style: { 'background-color': Applet_color},attr: {id: Applet_id}">
									<a data-bind="attr: { href: Applet_url }">
										<div class="applet-content">
											<img data-bind="attr: { src: Applet_logo }" alt="" class="logo animated  rotateIn" />
											<span class="applet-delete fa fa-trash-o" data-bind="click: appletDelete"></span>
											<h3 data-bind="text: Applet_name"></h3>
											<p>
												<span class="text-muted">By</span> Opsoro
											</p>
										</div>
										<div class="applet-footer" style="background-color:black">
											Uses Maker Webhook
										</div>
									</a>
								</div>
							</div>

						</div>

					</fieldset>
				</div>
			</div>
		</li>
		<li class="accordion-item" data-accordion-item>
			<a href="#commands" class="accordion-title">
				<span class="fa fa-terminal"></span> Commands
			</a>
			<div class="accordion-content" data-tab-content>
				<fieldset>
					<legend>
						Command Queue
					</legend>

					<div class="row">
						<div id="cmdqueue" class="connected-sortable">
							<div command-id="placeholder" id="cmdqueue-placeholder" class="disabled">
								<p>
									Double tap a command below to queue it here. Click on a command in the queue to remove it again.
								</p>
							</div>

						</div>
					</div>
				</fieldset>
				<fieldset>
					<legend>
						<span class="fa fa-terminal"></span> Commands
					</legend>
					<div class="row">
						<div class="flex-container search-container">
							<input class="search" placeholder="Search commands…" type="search" data-bind="textInput: commandQuery" autocomplete="off">
							<div class="voice hidden animated bounceIn">
								<div class="voice-controls">
									<div><span class="text-italic" id="speechHypothesis"></span></div>
									<div><span id="speechStatus"></span></div>
								</div>
								<label id="speechIndicator" class="button fa fa-microphone" for="speechStartStop"></label>
								<input type="checkbox" class="hidden" id="speechStartStop" data-bind="event:{change:speechChanged}" />
							</div>


						</div>
					</div>

					<div class="row">
						<div id="cmdgrid" class="flex-container connected-sortable" data-bind="foreach: filteredCommands">
							<div class="command animated bounceIn" data-bind="attr: { 'command-id': Command_id,'id':Command_id},style: { 'background-color': Command_color}">
								<a>
									<div class="command-content">

										<label class="options-cog" data-bind="attr: { 'for': 'options-'+Command_id}"><span class="fa fa-cog" aria-hidden="true"></span></label>
										<input class="hidden" type="checkbox" data-bind="checked: Command_displayOptions,attr: { 'id': 'options-'+Command_id}" />
										<h3 data-bind="text: Command_name"></h3>
										<div class="options animated flipInY" data-bind="visible: Command_displayOptions">
											<!-- DO NOT REMOVE !!!! ko in commentaar is code dus niet verwijderen-->
											<!-- ko  if: Command_customizeable-->
											<input class="message" type="text" placeholder="Type your message here." data-bind="textInput: Command_message,event: {change:commandOptionsChanged}">
											<!--/ko-->
											<!-- ko  ifnot: Command_customizeable-->
											<input class="message" type="hidden" value="">
											<!--/ko-->
											<select class="expression" data-bind='options: Command_expressions,value: Command_selectedReaction,event: {change:commandOptionsChanged}'> </select>
											<div class="tts-div">
												<input class="tts" id="tts" type="checkbox" data-bind='checked: Command_saySomething,event: {change:commandOptionsChanged}'
												/>
												<label for="tts">Speak</label>
												<input class="playSound" id="playSound" type="checkbox" data-bind='checked: Command_displaySoundOptions,event: {change:commandOptionsChanged}'
												/>
												<label for="playSound">Play sound</label>
											</div>
											<select class="sound animated flipInY" data-bind='options: Command_sounds,value: Command_selectedSound,visible: Command_displaySoundOptions,event: {change:commandOptionsChanged}'> </select>
											<span class="command-delete fa fa-trash-o" data-bind="click: commandDelete"></span>
											<input type="hidden" data-bind="value: Command_say" class="say"></input>
											<input type="hidden" data-bind="value: Command_type" class="type"></input>
											<input type="hidden" data-bind="value: Command_eventname" class="eventname"></input>
											<input type="hidden" data-bind="value: Command_makerkey" class="makerkey"></input>
										</div>
										<div class="animated flipInY" data-bind="visible: !Command_displayOptions()">
											<p data-bind="text: Command_message"></p>
											<p><span class="text-muted">Reaction: </span><span data-bind="text: Command_selectedReaction"></span></p>
											<p data-bind="visible: Command_displaySoundOptions"><span class="text-muted">Play sound: </span><span data-bind="text: Command_selectedSound"></span></p>
											<p data-bind="visible: Command_saySomething"><span class="text-muted">Say something: </span><span data-bind="text: Command_saySomething"></span></p>
											<p><span class="fa fa-microphone"></span> <span class="text-muted text-italic">"<span class="" data-bind="text: Command_description"></span>"</span>
											</p>
										</div>
									</div>
									<div data-bind="text: Command_uses" class="command-footer" style="background-color:black">
									</div>
								</a>
							</div>
						</div>
					</div>

				</fieldset>
			</div>
		</li>
		<li class="accordion-item" data-accordion-item>
			<a href="#Activity" class="accordion-title">
				<span class="fa fa-bar-chart"></span> Activity
			</a>
			<div class="accordion-content" data-tab-content>
				<fieldset>
					<legend>
						Activity
					</legend>

					<div class="row activities">
						{% for activity in activity %}
						<div class="activity animated bounceIn ">
							<div class="activity_headers">
								<img class="icon" src="//web-assets.ifttt.com/assets/web/activity/icons-v2/check-3fdd5e5a0e88fac1838037e4ca46d02b6571fed09ab00497d94c7bfd6586cdc8.svg"
								 alt="Check">
								<h4>Applet ran</h4>
								<p class="date-time">{{activity.date}} - {{activity.time}}</p>
							</div>
							<div class="activity_content" style="background-color:{{activity.color}}">
								<h5 class="activity_service">{{ activity.service}}</h5>
								<p><span class="text-muted">by</span> Opsoro</p>
							</div>
						</div>
						{% endfor %}
					</div>
				</fieldset>
			</div>
		</li>
	</ul>
</div>

<!-- Add applet -->
<div id="addApplet" class="hidden">
	<a data-bind="click: showPopup">
		<div class="addElement">
			<span class="fa fa-plus" aria-hidden="true"></span>
		</div>
	</a>
</div>
<!-- add command -->
<div id="addCommand" class="hidden">
	<a data-bind="click: showCommandPopup">
		<div class="addElement">
			<span class="fa fa-plus" aria-hidden="true"></span>
		</div>
	</a>
</div>

{% endblock %} {% block app_scripts %}
<!-- speech recognition -->
<script src="/apps/opa/static/js/require.js"></script>
<script src="/apps/opa/static/js/speech.browser.sdk-min.js"></script>

{% endblock %} {% block app_modals %}
<div id="popup_delete" class="reveal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
	<div class="titlebar">
		<button class="close-button" data-close aria-label="Close" type="button"><span class="fa fa-close"></span></button>
		<span class="fa fa-exclamation-triangle"></span> Remove Applet
	</div>
	<div class="content">
		<h4>Are you sure you want to delete this applet?</h4>
	</div>
	<div class="popup-footer">
		<button class="button alert" data-close>Cancel</button>
		<button class="button" data-close data-bind="click: deleteApplet">Ok</button>
	</div>
</div>

<div id="popup_deleteCommand" class="reveal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
	<div class="titlebar">
		<button class="close-button" data-close aria-label="Close" type="button"><span class="fa fa-close"></span></button>
		<span class="fa fa-exclamation-triangle"></span> Remove Command
	</div>
	<div class="content">
		<h4>Are you sure you want to delete this command?</h4>
	</div>
	<div class="popup-footer">
		<button class="button alert" data-close>Cancel</button>
		<button class="button" data-close data-bind="click: deleteCommand">Ok</button>
	</div>
</div>

<div id="comfirm_delete" class="reveal pop" data-reveal data-animation="fade-in" data-animation-out="fade-out">
	<div class="pop-content">
		<h4><span class="pop-comfirm pop-comfirm-alert fa fa-trash-o animated bounceIn"></span>
			<h4>
				<h4>Deleted applet</h4>
	</div>
</div>

<div id="comfirm_added" class="reveal pop" data-reveal data-animation="fade-in" data-animation-out="fade-out">
	<div class="pop-content">
		<h4><span class="pop-comfirm fa fa-plus animated bounceIn"></span>
			<h4>
				<h4>Added applet</h4>
	</div>
</div>

<div id="comfirm_deleteCommand" class="reveal pop" data-reveal data-animation="fade-in" data-animation-out="fade-out">
	<div class="pop-content">
		<h4><span class="pop-comfirm pop-comfirm-alert fa fa-trash-o animated bounceIn"></span>
			<h4>
				<h4>Deleted command</h4>
	</div>
</div>

<div id="comfirm_addedCommand" class="reveal pop" data-reveal data-animation="fade-in" data-animation-out="fade-out">
	<div class="pop-content">
		<h4><span class="pop-comfirm fa fa-plus animated bounceIn"></span>
			<h4>
				<h4>Added command</h4>
	</div>
</div>

<!-- Command popup window -->
<div id="commandPopup_window" class="reveal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
	<div class="titlebar">
		<button class="close-button" data-close aria-label="Close" type="button"><span class="fa fa-close"></span></button>
		<span class="fa fa-cogs"></span> Create Command
	</div>
	<div class="content">
		<div id="slideshowCommand">
			<div class="step">
				<div class="step-header">
					<h2>Step 1: Sign in to IFTTT and go to the maker platform</h2>
				</div>
				<div class="step-content center-popup">
					<a href="https://ifttt.com/login?return_to=partners_landing" class="button-orange">Sign in</a>
					<a href="https://platform.ifttt.com/" class="button-orange">Ifttt platform</a>
				</div>
				<div class="step-footer">
					<p></p>
					<p class="next">Step 2 <i class="fa fa-chevron-right" aria-hidden="true"></i></p>
				</div>
			</div>
			<div class="step">
				<div class="step-header">
					<h2>Step 2: Create a new private applet</h2>
				</div>
				<div class="step-content">
					<ul>
						<li>1. Choose <span class="text-bold">Maker Webhook </span> as trigger</li>
						<li>2. Select <span class="text-bold">receive a web request </span> for the webhook</li>
						<li>
							3. Next up <span class="text-bold">give your event a name</span> by typing it in the default value for the event name
							field. Leave the field label to default.<span class="text-muted">If you're not sure what to name your event skip this step and go to step 5 first.
							It's better to give your event a name according to the action you pick.
							</span>
						</li>
						<li>4. <span class="text-bold">Copy</span> the eventname to your clipboard you'll need it later.</li>
						<li>5. Last but not least you can<span class="text-bold">Choose an action</span> also give your applet a title and description</li>
						<li>6. <span class="text-bold">Save</span></li>
					</ul>
				</div>
				<div class="step-footer">
					<p class="previous"> <i class="fa fa-chevron-left" aria-hidden="true"></i> Step 1 </p>
					<p class="next">Step 3 <i class="fa fa-chevron-right" aria-hidden="true"></i></p>
				</div>
			</div>
			<div class="step">
				<div class="step-header">
					<h2>Step 3: Add Command to robot </h2>
				</div>
				<div class="step-content">
					<form data-bind="submit: addCommand">
						
						
						<p class="orange text-bold">Give your command a name.</p>
						<input type="text" placeholder="Command name.." data-bind="textInput: newCommand.NewCommand_name">

						<p class="orange text-bold">Define your speech command.</p>
						<input type="text" placeholder="Speech command.." data-bind="textInput: newCommand.NewCommand_description">
						<p class="text-muted">Example: if you fill in "Hello Robot" for example you can activate this command by saying "Hello Robot" in speech recognition.</p>
						
						<p class="orange text-bold">Select a command type.</p>
						<select data-bind="options: availableCommandTypes,value: selectedCommandType"></select>
						<p class="text-muted">Note: do you want to use ifttt or a robot command</p>

						<!-- DO NOT DELETE next commentary it's part of the code'-->

						<!-- ko  if: selectedCommandType() == "ifttt" -->
							<p class="orange text-bold">Enter your maker event name.</p>
							<input type="text" placeholder="Command event name.." data-bind="textInput: newCommand.NewCommand_eventname">
							<p class="text-muted">Note: you copied this earlier so it should be in your clipboard</p>

							<p class="orange text-bold">Enter your maker key.</p>
							<input type="text" placeholder="Enter your maker key.." data-bind="textInput: newCommand.NewCommand_makerkey">
							<p class="text-muted">Note: You can find your maker key under documentation <a class="text-bold" href="https://ifttt.com/maker_webhooks">here</a></p>

							<p class="orange text-bold">What service do you use?</p>
							<input type="text" placeholder="What service do you use.." data-bind="textInput: newCommand.NewCommand_uses">
							
							<p class="orange text-bold">Can you pass a custom message to ifttt</p>
							<input id="newCommandMessage" class="animated bounceIn" type="checkbox" data-bind='checked: newCommand.NewCommand_Customizeable'
							/>
							<label for="newCommandMessage" class="animated bounceIn">Value1</label>
						<!--/ko-->

						<p class="orange text-bold">What does the robot say when you use this command</p>
						<input type="text" placeholder="What does the robot say.." data-bind="textInput: newCommand.NewCommand_say">
						<!-- ko  if: selectedCommandType() == "ifttt" -->
						<p class="text-muted">
							Hint: you are passing a value to ifttt. If the value is a song for example, you want to enter something like "play song"
							here.
						</p>
						<!--/ko-->
						<p class="orange text-bold">Pick a color for your applet</p>
						<input type="text" placeholder="e.g.,#000000,red" data-bind="textInput: colorpicker">
						<div class="colorpicker" data-bind="style: { 'background-color': colorpicker }"></div>
						<button class="button applet-submit" data-close="" type="submit">Add Applet</button>
					</form>
				</div>
				<div class="step-footer">
					<p class="previous"> <i class="fa fa-chevron-left" aria-hidden="true"></i> Step 2 </p>
					<p></p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- applet popup window -->
<div id="popup_window" class="reveal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
	<div class="titlebar">
		<button class="close-button" data-close aria-label="Close" type="button"><span class="fa fa-close"></span></button>
		<span class="fa fa-cogs"></span> Create Applet
	</div>
	<div class="content">
		<div id="slideshow">
			<div class="step">
				<div class="step-header">
					<h2>Step 1: Sign in to IFTTT and go to the maker platform</h2>
					<p class="text-muted">Note: If you are already logged in you can skip this step.</p>
				</div>
				<div class="step-content center-popup">

					<a href="https://ifttt.com/login?return_to=partners_landing" class="button-orange">Sign in</a>
					<a href="https://platform.ifttt.com/" class="button-orange">Ifttt platform</a>
				</div>
				<div class="step-footer">
					<p></p>
					<p class="next">Step 2 <i class="fa fa-chevron-right" aria-hidden="true"></i></p>
				</div>
			</div>
			<div class="step">
				<div class="step-header">
					<h2>Step 2: Create a new private applet</h2>
				</div>
				<div class="step-content">
					<ul>
						<li>1. Choose a trigger</li>
						<li>2. Choose <span class="text-bold">Maker Webhook </span> for action</li>
						<li>3. Request URL:</li>

						<div class="values">
							<input type="text" class="input-values" id="copyTarget" value="http://opsoro:spotify123@opa.eu.ngrok.io/apps/opa/action"
							 readonly> <button id="copyButton"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
						</div>
						<li>4. Method: <span class="text-bold">POST </span> </li>
						<li>5. Content type: <span class="text-bold">Text/Plain </span> </li>
					</ul>

				</div>
				<div class="step-footer">
					<p class="previous"> <i class="fa fa-chevron-left" aria-hidden="true"></i> Step 1 </p>
					<p class="next">Step 3 <i class="fa fa-chevron-right" aria-hidden="true"></i></p>
				</div>
			</div>
			<div class="step">
				<div class="step-header">
					<h2>Step 3: Create body</h2>
				</div>
				<div class="step-content">

					<li>6. Body:</li>
					<p class="orange text-bold">Add the name of your trigger service</p>
					<input type="text" placeholder="Service" data-bind="textInput: applet_service">
					<p class=" orange text-bold">Add sentences your robot need to say when the applets runs</p>
					<input type="text" placeholder="Sentence 1..." data-bind="textInput: applet_zin1">
					<input type="text" placeholder="Sentence 2... (optional)" data-bind="textInput: applet_zin2">
					<input type="text" placeholder="Sentence 3... (optional)" data-bind="textInput: applet_zin3">
					<p class="text-muted">Note: You can add ingredients from your trigger to your sentences in IFTTT</p>
					<input type="text" placeholder="e.g.,#000000,red" data-bind="textInput: colorpicker">
					<div class="colorpicker" data-bind="style: { 'background-color': colorpicker }">
					</div>
					<p class="orange text-bold">Copy this to your body field in your Applet</p>
					<div class="values">

						<textarea name="" id="json_data" cols="30" rows="10" data-bind="value: applet_json" readonly>

							</textarea>
						<button id="copyButton2"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
					</div>

					<li>7. Add the applet title + description and Save</li>
					</ul>
					<p class="text-muted">Note: All settings for the Maker webhook must be hidden from user</p>

				</div>
				<div class="step-footer">
					<p class="previous"> <i class="fa fa-chevron-left" aria-hidden="true"></i> Step 2 </p>
					<p class="next">Step 4 <i class="fa fa-chevron-right" aria-hidden="true"></i></p>
				</div>
			</div>
			<div class="step">
				<div class="step-header">
					<h2>Step 4: Add Applet to robot </h2>
				</div>
				<div class="step-content">
					<form data-bind="submit: addApplet">
						<input type="text" placeholder="Applet name.." data-bind="textInput: newApplet.NewApplet_name">
						<input type="text" placeholder="Applet id.." data-bind="textInput: newApplet.NewApplet_url">
						<p class="text-muted">Note: You can find the applet id on your private applets page of the ifttt platform</p>
						<input type="text" placeholder="e.g.,#000000,red" data-bind="textInput: colorpicker">
						<div class="colorpicker" data-bind="style: { 'background-color': colorpicker }">
						</div>
						<select data-bind="options: protocol,optionsText: 'name',value: newApplet.NewApplet_categorie"> </select>
						<button class="button applet-submit" data-close="" type="submit">Add Applet</button>
					</form>
				</div>
				<div class="step-footer">
					<p class="previous"> <i class="fa fa-chevron-left" aria-hidden="true"></i> Step 4 </p>
					<p></p>
				</div>
			</div>
		</div>

	</div>

	{% endblock %}