{% extends "app_base.html" %}

{% block app_toolbar %}
	{% include "toolbar/_file_operations.html" %}
	{% include "toolbar/_file_set_default.html" %}
{% endblock %}

{% block head %}

{% endblock %}

{% block app_content %}
	<div class="row" data-equalizer>
		<div class="model small-12 medium-7 large-5 columns" data-equalizer-watch>
			<div class="edit config" id="model_screen" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
		</div>
		<div class="config-settings small-12 medium-5 large-7 columns" data-equalizer-watch>
			<div class="modules row hide-for-small-only medium-up-4 large-up-6" data-equalizer="modules">
				{% for module in modules %}
					<div class="module column column-block" data-equalizer-watch="modules">
						<img class="draggable" id="{{ module }}" src="/static/modules/{{ module }}/front.svg" title="{{ module }}" draggable="true" ondragstart="drag(event)" ></img>
					</div>
				{% endfor %}
			</div>
			<div class="config-settings" data-bind="with: selected_module">
				<fieldset>
					<legend>
						<strong class="clickedit" data-bind="click: name.edit">
							<span data-bind="visible: !name.editing(), html: name.displayValue">&nbsp;</span>
				     <input name="name" style="width: 100%" data-bind="visible: name.editing, value: name.value, hasFocus: name.editing" />
				     <span data-bind="visible: !name.editing()" class="fa fa-pencil"></span>
						</strong>
					</legend>
					<div class="row module-settings">
						<div class="setting small-4 large-3 columns">
							<svg data-bind="html: code" height="100" width="100%"></svg>
							<div class="row">
								<div class="text-left small-6 columns">
									<button href="" class="button rotate" data-bind="click: rotate">
										<span class="fa fa-rotate-right"></span>
									</button>
								</div>
								<div class="text-right small-6 columns">
									<button href="" class="button alert" data-bind="click: remove">
										<span class="fa fa-trash"></span>
									</button>
								</div>
							</div>
						</div>
						<div class="small-8 large-9 columns">
							<div class="dofs" data-bind="foreach: dofs">
								<div class="row dof-settings">
									<div class="setting small-12 large-5 columns">
										<div class="settings-item small-7 large-6 columns">
											<span data-bind="text: name"></span>
										</div>
										<div class="settings-item small-5 large-6 columns">
											<select data-bind="value: pin, valueUpdate: 'input', foreach: $root.available_servos">
												<option data-bind="text: $data.name, value: $data.pin, css: $data.class, attr: $data.disabled ? { 'disabled': '' } : { }"></option>
											</select>
										</div>
									</div>
									<div class="setting small-12 large-7 columns">
										<div class="settings-item small-9 columns">
											<div class="slider" data-slider data-start="500" data-end="2500" data-step="1" data-bind="slider: mid">
												<span class="slider-handle" data-slider-handle role="slider" tabindex="1" data-bind="attr: { 'aria-controls': name_formatted }"></span>
											  <span class="slider-fill" data-slider-fill></span>
											</div>
										</div>
										<div class="settings-item small-3 columns">
										  <input type="number" data-bind="attr: { 'id': name_formatted }">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
{% endblock %}

{% block app_scripts %}

	<script>
		action_data 		= {{ actions|tojson|safe }};
		module_names 		= {{ modules|tojson|safe }};
		skin_names 			= {{ skins|tojson|safe }};
		specs 					= {{ specs|tojson|safe }};
		svg_codes 			= {{ svg_codes|tojson|safe }};
		configs 				= {{ configs|tojson|safe }};
	</script>


	<script src="/static/js/svg/svg.min.js?ver={{ version }}"></script>
	<script src="/static/js/svg/svg.draggable.min.js?ver={{ version }}"></script>
	<script src="/static/js/robot/model_minimal.js?ver={{ version }}"></script>
	{% for module in modules %}
		<script src="/static/modules/{{ module }}/{{ module }}.js?ver={{ version }}"></script>
	{% endfor %}

{% endblock %}

{% block app_modals %}


{% endblock %}
