<script src="/static/js/vendor/foundation.min.js"></script>
<script src="/static/js/knockout-3.4.0.js"></script>
<script src="/static/js/knockout-slider-binding.js"></script>

<script src="/static/js/sockjs.min.js"></script>
<script src="/static/js/opsoro.js?ver={{ version }}"></script>

<script>
  var app_data = undefined;
  $(document).ready(function () {
    $("#btnShutdown").click(function () {
      var delay = 20;
      $("#ShutdownModal .content span").load("/shutdown/");
      var countdownFunction = function () {
        $("#ShutdownModal .content").html("<span></span><p>{{ _('Shutting down ' + opsoro.robot_name + '.<br/>Please wait <strong>" + delay + "</strong> seconds before unplugging the power.') }}</p>");
        if (delay == 0) {
          clearInterval(countdownInterval);
          $("#ShutdownModal .content p").html("{{ _(opsoro.robot_name + ' has been shut down.<br/>You may unplug the power.') }}'");
          $(".titlebar").removeClass("red");
          $(".titlebar").addClass("green");
                setTimeout(function() { location.reload(); }, 3000);
        }
        delay -= 1;
      }
      countdownFunction();
      var countdownInterval = setInterval(countdownFunction, 1000); //will call the function every 1 sec.
    });
    $("#btnRestart").click(function () {
      var delay = 40;
      $("#ShutdownModal .content span").load("/restart/");
      var countdownFunction = function () {
        $("#ShutdownModal .content").html("<span></span><p>{{ _('Restarting ' + opsoro.robot_name + '.<br/>Please wait <strong>" + delay + "</strong> seconds. Make sure you reconnect to the robot\'s wifi.') }}</p>");
        if (delay == 0) {
          clearInterval(countdownInterval);
          location.reload();
        }
        delay -= 1;
      }
      countdownFunction();
      var countdownInterval = setInterval(countdownFunction, 1000); //will call the function every 1 sec.
    });
    $("#btnLogout").click(function () {
      window.location = "/logout/";
    });
  });
</script>
