
<div id="CloseAppModal" class="reveal small" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
    <div class="titlebar">
        <button class="close-button" data-close aria-label="Close" type="button">
            <span class="fa fa-close"></span>
        </button>
        <span class="fa fa-power-off"></span>
        {{ _('Confirm') }}
    </div>
    <div class="content">
        <p>
            {{ _('Are you sure you wish to close this app?') }}
        </p>
        <div class="text-center">
            <a href="/app/close/*" class="button">
                <span class="fa fa-close"></span>
                {{ _('Yes, close app.') }}</a>
        </div>
    </div>
</div>

<div id="popup" class="reveal small" data-reveal>
    <div class="titlebar">
        <button class="close-button btnClose" data-close aria-label="Close" type="button">
            <span class="fa fa-close"></span>
        </button>
        <span class="titleicon">
            <span class="fa"></span>
        </span>
        <span class="title"></span>
    </div>
    <div class="content">
        <div class="spinner" style="text-align: center;">
            <span class="fa fa-circle-o-notch fa-spin fa-2x"></span>
        </div>
    </div>
</div>

<div id="message_popup" class="reveal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
    <div class="titlebar">
        <button class="close-button btnClose" data-close aria-label="Close" type="button">
            <span class="fa fa-close"></span>
        </button>
        <span class="titleicon">
            <span class="fa"></span>
        </span>
        <span class="title"></span>
    </div>
    <div class="content">
        <p class="text"></p>
        <div class="inputs">
            <input type="text" name="inputText" class="hide input inputText" style="width: 100%;" autofocus>
        </div>
        <div class="buttons">
            <a href="#" class="hide button btnOk">
                <span class="fa fa-check"></span>
                {{ _('OK') }}</a>
            <a href="#" class="hide button btnYes">
                <span class="fa fa-check"></span>
                {{ _('Yes') }}</a>
            <a href="#" class="hide button btnNo">
                <span class="fa fa-close"></span>
                {{ _('No') }}</a>
            <a href="#" class="hide button btnSave">
                <span class="fa fa-save"></span>
                {{ _('Save') }}</a>
            <a href="#" class="hide button btnCancel">
                <span class="fa fa-close"></span>
                {{ _('Cancel') }}</a>
        </div>
    </div>
</div>
