<!doctype html>
<html class="no-js" lang="en">

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>

		{% block styles %}{% endblock %}

		{% block extra_head_base %}
			{% block extra_head %}{% endblock %}
		{% endblock %}
	</head>

	<body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}" {% block body_extra_attributes %} {% endblock %}>
		<div class="{% block wrapper_class %}{% endblock %}">
			<div class="wrapper">
				{% block topbar_base %}{% endblock %}
				{% block body_base %}
					<section id="content_body">
						<div class="container content">
							{% block body %}{% endblock %}
						</div>
					</section>
				{% endblock %}
			</div>
			{% block footer_base %}
				{% block footer %}{% endblock %}
			{% endblock %}
		</div>

		{% block scripts %}{% endblock %}
		{% block extra_body_base %}
			{% block extra_body %}{% endblock %}
		{% endblock %}
		<script>$(document).foundation();</script>
	</body>
</html>
