{% extends "app_base.html" %}
{% block app_head %}{% endblock %}

{% block app_toolbar %}

{% endblock %}

{% block app_content %}
<!--
overzicht
blacklist
 -->
<!-- git test-->

<div class="main">

	<fieldset>
		<legend>
			<span class="fa fa-cog"></span>
			overzichtcontacts
		</legend>

		<div class="bans">
			<div id="bans">

				<ul class="bans ban_list" data-bind="template: {name: 'blacklistTemplate', foreach: bans}"></ul>

			</div>
		</div>

	</fieldset>

	<fieldset>
		<legend>
			<span class="fa fa-cloud-download"></span>
			Toevoegen
		</legend>
		<form class="addBan">

			<div class="row">
				<div class="small-4 medium-4 large-4 columns">
					<label for="phoneBan" class="text-right inline">Number</label>
				</div>
				<div class="small-8 medium-6 large-4 columns end">
					<input type="number" id="phoneBan" name="phoneBan" value="" data-bind="value: phoneBan" required pattern="[0-9]*">
					<small class="error">A valid number is required</small>
				</div>
			</div>

			<div class="row">
				<div class="text-center">
					<!-- <a href="#" data-open="UpdateModal" class="action button" style="padding-left: 2rem; padding-right: 2rem;"> -->
					<a class="action button" data-bind="click: saveBan" style="padding-left: 2rem; padding-right: 2rem;">
						<span class="fa fa-save"></span>
						 &nbsp;Save!</a>
				</div>
			</div>
		</form>

	</fieldset>
</div>

{% endblock %}
{% block app_scripts %}

<script id="blacklistTemplate" type="text/template">
  <li class="ban-container">
    <div class="blacklist">
      <span class="banIcon"></span>
      <div class="ban_data">
        <p>
          Phone:
          <span data-bind="text: phoneBan"></span>
          <a class="removeBanItem" data-bind="click: removeBanItem" href="#">Delete</a>
        </p>
      </div>
  </div>
  </li>
</script>

{% endblock %}
