{% extends "app_base.html" %} {% block app_head %}

<!-- <script src="/site_media/static/js/....js"></script> -->

{% endblock %} {% block app_toolbar %}
<p style="color: white">This is the toolbar, you can add/remove options.<br/>To remove the toolbar completely, just remove the blocks: "block app_toolbar" and "endblock".</p>
<!--
{% include "toolbar/_file_operations.html" %}
{% include "toolbar/_script_operations.html" %}
{% include "toolbar/_lock_unlock.html" %}
-->
{% endblock %}

<!-- These sidebars can be removed by removing the block tags -->
{% block sidebar_left %}{% endblock %} {% block sidebar_right %}{% endblock %} {% block app_content %}
<fieldset>
	<legend><span class="fa fa-car"></span> {{ _('Drive') }}</legend>

	<table>
		<tr>
			<td></td>
			<td>
				<button id="arrow" type="button" class="button" name="up">
					<span class="fa fa-arrow-up" style="font-size: 1.5rem"></span>
				</button>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<button id="arrow" type="button" class="button" name="left">
				<span class="fa fa-arrow-left" style="font-size: 1.5rem"></span>
			</button>
		</td>
			<td></td>
			<td>
				<button id="arrow" type="button" class="button" name="right">
							<span class="fa fa-arrow-right" style="font-size: 1.5rem"></span>
				</button>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<button id="arrow" type="button" class="button" name="down">
					<span class="fa fa-arrow-down" style="font-size: 1.5rem"></span>
				</button>
				</td>
			<td></td>
		</tr>
</table>



</fieldset>

{% if not online %}
<!-- Content in this section is not displayed online, only on the robot. For example: it is a perfect place to put controls that access hardware stuff, which is not available online. -->
{% endif %} {% endblock %} {% block app_scripts %}


<script src="/static/js/sockjs.min.js"></script>
<script>
	$(document).ready(function() {

		// Setup websocket connection.
		var conn = null;
		var connReady = false;
		conn = new SockJS("http://" + window.location.host + "/sockjs");

		conn.onopen = function() {
			console.log("SockJS connected.");
			$.ajax({
				url: "/sockjstoken",
				cache: false
			}).done(function(data) {
				conn.send(JSON.stringify({
					action: "authenticate",
					token: data
				}));
				connReady = true;
				console.log("SockJS authenticated.");
			});
		};

		conn.onclose = function() {
			console.log("SockJS disconnected.");
			conn = null;
			connReady = false;
		};

		// Don't submit form on enter
		$("input,select").keypress(function(evt) {
			return evt.keyCode != 13;
		});

		// Monitor keypresses
		var navDict = {
			"up": false,
			"down": false,
			"left": false,
			"right": false,
			"start": false
		};

		$("button,#arrow").mousedown(function(evt) {
			var name = $(this).attr('name');
			navDict[name] = true;
			sendNav();
		});

		$("button,#arrow").mouseup(function(evt) {
			var name = $(this).attr('name');
			navDict[name] = false;
			sendNav();
		});


		function sendNav() {
			if (connReady) {
				conn.send(JSON.stringify({
					action: "navUpdate",
					up: navDict['up'],
					down: navDict['down'],
					left: navDict['left'],
					right: navDict['right']
				}));
			};
		};



		$(document).keydown(function(evt) {
			var keycode = (evt.keyCode ?
				evt.keyCode :
				evt.which);
			if ((keycode >= 37) && (keycode <= 40)) {
				if (keycode == 37) {navDict['left'] = true;}
				if (keycode == 38) {navDict['up'] = true;}
				if (keycode == 39) {navDict['right'] = true;}
				if (keycode == 40) {navDict['down'] = true;}
				sendNav();
			};

		});

		$(document).keyup(function(evt) {
			var keycode = (evt.keyCode ?
				evt.keyCode :
				evt.which);

			if ((keycode >= 37) && (keycode <= 40)) {
				if (keycode == 37) {navDict['left'] = false;}
				if (keycode == 38) {navDict['up'] = false;}
				if (keycode == 39) {navDict['right'] = false;}
				if (keycode == 40) {navDict['down'] = false;}
				sendNav();
			};

		});

	});
</script>

{% endblock %} {% block app_modals %}

<div id="popup_window" class="reveal-modal" data-reveal>
	<div class="titlebar">
		<a class="close-reveal-modal"><span class="fa fa-close"></span></a>
		<span class="fa fa-cogs"></span> Popup window!
	</div>
	<div class="content">
		<p>This is a popup window.</p>
		<form>
			<div class="row collapse">
				<div class="small-9 columns">
					<input type="text" name="text" class="error" style="width: 100%;" data-bind="value: popupTextInput">
					<small class="error hide"></small>
				</div>
				<div class="small-3 columns">
					<a href="#" class="button" style="width: 100%;" data-bind="click: popupButtonHandler()"><span class="fa fa-save"></span> Save</a>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}
