{% extends "apppage.html" %}

{% block head %}
{{ super() }}
<style>
#errors .alert-box:first-child {
	margin-top: 2rem;
}

#blocklyDiv {
	margin: 0 -1rem -1rem -1rem;
	height: calc(100vh - 18rem);
}

#blocklyFrame {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	border-bottom-left-radius: 0.75rem;
	border-bottom-right-radius: 0.75rem;
}

.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.fullscreen #blocklyDiv {
	height: calc(100vh - 4rem);
}

.actionbar .filebox {
	color: #fff;
	display: inline-block;
}

.actionbar .filebox .filename {
	font-weight: bold;
	text-transform: uppercase;
}

.actionbar .filebox .status {
	font-size: 0.75rem;
	font-weight: bold;
	text-transform: uppercase;
}

.reveal-modal .file:last-child {
	margin-bottom: -0.75rem;
}

.reveal-modal .filename {
	background: rgba(178, 175, 161, 0.5);
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	font-weight: bold;
	color: #545454;
	display: inline-block;
	width: calc(100% - 8rem);
}
.reveal-modal .btnDeleteFile, .reveal-modal .btnOpenFile {
	width: 3rem;
	margin-right: 0.75rem;
}

#FilesModal .content {
	overflow-y: scroll;
	max-height: 70vh;
}
</style>
{% endblock %}

{% block page_content %}
<div class="actionbar">
	<div class="filebox">
		<span class="filename">Untitled script</span><br>
		<span class="fa fa-stop" style="font-size: 0.75rem;"></span> <span class="status">Stopped</span>
	</div>
	<div class="spacer"></div>
	<a href="#"  id="btnSave" class="action">
		<span class="fa fa-save"></span><br/>
		<span class="text">Save</span>
	</a>
	<a href="#"  id="btnFiles" class="action">
		<span class="fa fa-folder"></span><br/>
		<span class="text">All files</span>
	</a>
	<a href="#"  id="btnClear" class="action">
		<span class="fa fa-trash"></span><br/>
		<span class="text">Clear</span>
	</a>
	<div class="spacer"></div>
	<a href="#" id="btnStartStop" class="action">
		<span class="fa fa-play"></span><br/>
		<span class="text">Run</span>
	</a>
	<a href="#"  id="btnClear" class="action">
		<span class="fa fa-magic"></span><br/>
		<span class="text">Clear log</span>
	</a>
	<a href="#"  id="btnExpandCollapse" class="action">
		<span class="fa fa-expand"></span><br/>
		<span class="text">Expand view</span>
	</a>



	<div class="spacer"></div>
	<a href="#"  id="btnTest" class="action">
		<span class="fa fa-lightbulb-o"></span><br/>
		<span class="text">FOO!</span>
	</a>



</div>
<div id="errors" style="margin-top: -1rem;"></div>
<div id="blocklyDiv">
	<iframe id="blocklyFrame" src="blockly_inner"></iframe>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script>
function blocklyLoaded(blockly) {
	// Called once Blockly is fully loaded.
	window.Blockly = blockly;
}
function addError(msg){
	$("#errors").prepend("<div data-alert class=\"alert-box alert\">" + msg + "<a href=\"#\" class=\"close\">&times;</a></div>");
	$(document).foundation("alert", "reflow");
}

function addMessage(msg){
	$("#errors").prepend("<div data-alert class=\"alert-box success\">" + msg + "<a href=\"#\" class=\"close\">&times;</a></div>");
	$(document).foundation("alert", "reflow");
}
</script>
<script src="static/acorn/acorn_interpreter.js"></script>
<script src="static/onoapi.js"></script>
<script>
$(document).ready(function(){
	var isFullscreen = false;
	var scriptname = null;

	$("#btnStartStop").click(function(){
		env_StartStop();
	});

	$("#btnClear").click(function(){
		$("#errors").html("");
		$(document).foundation("alert", "reflow");
	});

	$("#btnExpandCollapse").click(function(){
		if(isFullscreen){
			$("#btnExpandCollapse .fa").removeClass("fa-compress");
			$("#btnExpandCollapse .fa").addClass("fa-expand");
			$("#btnExpandCollapse .text").html("Expand view");
			$("#content").removeClass("fullscreen");
		}else{
			$("#btnExpandCollapse .fa").removeClass("fa-expand");
			$("#btnExpandCollapse .fa").addClass("fa-compress");
			$("#btnExpandCollapse .text").html("Collapse view");
			$("#content").addClass("fullscreen");
		}
		isFullscreen = !isFullscreen;
	});

	$("#btnSave").click(function(){
		$("#txtFilename").val("");
		$("#SaveAsModal").foundation("reveal", "open");
	});

	$("#btnFiles").click(function(){
		$("#FilesModal").foundation("reveal", "open");
	});

	$("#btnClear").click(function(){
		$("#ConfirmClearModal").foundation("reveal", "open");
	});

	$(".btnDeleteFile").click(function(){
		$("#ConfirmDeleteModal").foundation("reveal", "open");
	});

	$(".btnOpenFile").click(function(){
		$("#ConfirmLoadModal").foundation("reveal", "open");
	});

	$("#btnTest").click(function(){
		//$("#ConfirmLoadModal").foundation("reveal", "open");
	});

	$(document).keydown(function(e) {
		var keycode = (e.keyCode ? e.keyCode : e.which);
		env_KeyDown(keycode);
	});

	$(document).keyup(function(e) {
		var keycode = (e.keyCode ? e.keyCode : e.which);
		env_KeyUp(keycode);
	});
});
</script>
{% endblock %}

{% block modals %}
{{ super() }}

<div id="SaveAsModal" class="reveal-modal tiny" data-reveal>
	<div class="titlebar">
		<a class="close-reveal-modal"><span class="fa fa-close"></span></a>
		<span class="fa fa-save"></span> Save as
	</div>
	<div class="content">
		<p>Please enter a name for this script.</p>
		<form>
			<div class="row collapse">
				<div class="small-9 columns">
					<input type="text" pattern="alpha_numeric" name="txtFilename" id="txtFilename" class="error" style="width: 100%;">
					<small class="error hide"></small>
				</div>
				<div class="small-3 columns">
					<a href="#" class="button" id="btnSaveAsModalSave" style="width: 100%;"><span class="fa fa-save"></span> Save</a>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="FilesModal" class="reveal-modal small" data-reveal>
	<div class="titlebar">
		<a class="close-reveal-modal"><span class="fa fa-close"></span></a>
		<span class="fa fa-folder"></span> All files
	</div>
	<div class="content">
		<div class="file">
			<a href="#" class="button btnDeleteFile"><span class="fa fa-trash"></span></a>
			<a href="#" class="button btnOpenFile"><span class="fa fa-folder-open"></span></a>
			<span class="filename">Hello World</span>
		</div>
		<div class="file">
			<a href="#" class="button btnDeleteFile"><span class="fa fa-trash"></span></a>
			<a href="#" class="button btnOpenFile"><span class="fa fa-folder-open"></span></a>
			<span class="filename">Say something</span>
		</div>
		<div class="file">
			<a href="#" class="button btnDeleteFile"><span class="fa fa-trash"></span></a>
			<a href="#" class="button btnOpenFile"><span class="fa fa-folder-open"></span></a>
			<span class="filename">Button test 3</span>
		</div>
		<div class="file">
			<a href="#" class="button btnDeleteFile"><span class="fa fa-trash"></span></a>
			<a href="#" class="button btnOpenFile"><span class="fa fa-folder-open"></span></a>
			<span class="filename">Experiment 5</span>
		</div>
		<div class="file">
			<a href="#" class="button btnDeleteFile"><span class="fa fa-trash"></span></a>
			<a href="#" class="button btnOpenFile"><span class="fa fa-folder-open"></span></a>
			<span class="filename">Hello World</span>
		</div>
		<div class="file">
			<a href="#" class="button btnDeleteFile"><span class="fa fa-trash"></span></a>
			<a href="#" class="button btnOpenFile"><span class="fa fa-folder-open"></span></a>
			<span class="filename">Say something</span>
		</div>
		<div class="file">
			<a href="#" class="button btnDeleteFile"><span class="fa fa-trash"></span></a>
			<a href="#" class="button btnOpenFile"><span class="fa fa-folder-open"></span></a>
			<span class="filename">Button test 3</span>
		</div>
		<div class="file">
			<a href="#" class="button btnDeleteFile"><span class="fa fa-trash"></span></a>
			<a href="#" class="button btnOpenFile"><span class="fa fa-folder-open"></span></a>
			<span class="filename">Experiment 5</span>
		</div>
		<div class="file">
			<a href="#" class="button btnDeleteFile"><span class="fa fa-trash"></span></a>
			<a href="#" class="button btnOpenFile"><span class="fa fa-folder-open"></span></a>
			<span class="filename">Hello World</span>
		</div>
		<div class="file">
			<a href="#" class="button btnDeleteFile"><span class="fa fa-trash"></span></a>
			<a href="#" class="button btnOpenFile"><span class="fa fa-folder-open"></span></a>
			<span class="filename">Say something</span>
		</div>
		<div class="file">
			<a href="#" class="button btnDeleteFile"><span class="fa fa-trash"></span></a>
			<a href="#" class="button btnOpenFile"><span class="fa fa-folder-open"></span></a>
			<span class="filename">Button test 3</span>
		</div>
		<div class="file">
			<a href="#" class="button btnDeleteFile"><span class="fa fa-trash"></span></a>
			<a href="#" class="button btnOpenFile"><span class="fa fa-folder-open"></span></a>
			<span class="filename">Experiment 5</span>
		</div>
	</div>
</div>

<div id="ConfirmClearModal" class="reveal-modal tiny" data-reveal>
	<div class="titlebar">
		<a class="close-reveal-modal"><span class="fa fa-close"></span></a>
		<span class="fa fa-trash"></span> Clear
	</div>
	<div class="content">
		<p>The workspace was modified, are you sure you wish clear the workspace without saving?</p>
		<div class="text-center">
			<a href="#" class="button"><span class="fa fa-trash"></span> Yes, clear workspace</a>
		</div>
	</div>
</div>

<div id="ConfirmDeleteModal" class="reveal-modal tiny" data-reveal>
	<div class="titlebar">
		<a class="close-reveal-modal"><span class="fa fa-close"></span></a>
		<span class="fa fa-trash"></span> Delete
	</div>
	<div class="content">
		<p>Are you sure you wish to delete this file?</p>
		<div class="text-center">
			<a href="#" class="button"><span class="fa fa-trash"></span> Yes, delete file</a>
		</div>
	</div>
</div>

<div id="ConfirmLoadModal" class="reveal-modal tiny" data-reveal>
	<div class="titlebar">
		<a class="close-reveal-modal"><span class="fa fa-close"></span></a>
		<span class="fa fa-folder-open"></span> Load
	</div>
	<div class="content">
		<p>The workspace was modified, unsaved changes will be lost. Are you sure you wish to continue?</p>
		<div class="text-center">
			<a href="#" class="button"><span class="fa fa-folder-open"></span> Yes, load file</a>
		</div>
	</div>
</div>

{% endblock %}
