<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<style>
	html, body {
		background-color: #fff;
		margin: 0;
		padding: 0;
		overflow: hidden;
		height: 100%;
	}
	.blocklySvg {
		height: 100%;
		width: 100%;
	}
	</style>
</head>
<!--body onload="init()"-->
<body>
	<xml id="toolbox" style="display: none">
		<hr>
		<category name="Ono Events" id="catOnoEvents">
			<block type="ono_onsetup"></block>
			<block type="ono_onloop"></block>
			<block type="ono_onkeypress"></block>
			<block type="ono_onkeyrelease"></block>
		</category>
		<category name="Ono Emotions" id="catOnoEmotions">
			<block type="ono_emotion_basic"></block>
			<block type="ono_emotion_val_ar">
				<value name="VALENCE">
					<block type="math_number">
						<field name="NUM">1.0</field>
					</block>
				</value>
				<value name="AROUSAL">
					<block type="math_number">
						<field name="NUM">0.0</field>
					</block>
				</value>
			</block>
			<block type="ono_emotion_alpha_len">
				<value name="ALPHA">
					<block type="math_number">
						<field name="NUM">90</field>
					</block>
				</value>
				<value name="LENGTH">
					<block type="math_number">
						<field name="NUM">0.75</field>
					</block>
				</value>
			</block>
			<block type="ono_dof"></block>
			<block type="ono_alldofs"></block>
			<block type="ono_setposition">
				<value name="POSITION">
					<block type="math_number">
						<field name="NUM">50</field>
					</block>
				</value>
			</block>
			<block type="ono_setemotion"></block>
		</category>
		<category name="Ono Misc." id="catOnoEvents">
			<block type="ono_wait">
				<value name="TIME">
					<block type="math_number">
						<field name="NUM">1</field>
					</block>
				</value>
			</block>
			<block type="ono_elapsedtime"></block>
			<block type="ono_showmessage"></block>
			<block type="ono_playsound"></block>
			<block type="ono_saytts"></block>
			<block type="ono_servoson"></block>
			<block type="ono_servosoff"></block>
			<block type="ono_updateservos"></block>
		</category>
		<hr>

		<category name="Logic" id="catLogic">
			<block type="controls_if"></block>
			<block type="logic_compare"></block>
			<block type="logic_operation"></block>
			<block type="logic_negate"></block>
			<block type="logic_boolean"></block>
			<block type="logic_null"></block>
			<block type="logic_ternary"></block>
		</category>
		<category name="Loops" id="catLoops">
			<block type="controls_repeat_ext">
				<value name="TIMES">
					<block type="math_number">
						<field name="NUM">10</field>
					</block>
				</value>
			</block>
			<block type="controls_whileUntil"></block>
			<block type="controls_for">
				<value name="FROM">
					<block type="math_number">
						<field name="NUM">1</field>
					</block>
				</value>
				<value name="TO">
					<block type="math_number">
						<field name="NUM">10</field>
					</block>
				</value>
				<value name="BY">
					<block type="math_number">
						<field name="NUM">1</field>
					</block>
				</value>
			</block>
			<block type="controls_forEach"></block>
			<block type="controls_flow_statements"></block>
		</category>
		<category name="Math" id="catMath">
			<block type="math_number"></block>
			<block type="math_arithmetic"></block>
			<block type="math_single"></block>
			<block type="math_trig"></block>
			<block type="math_constant"></block>
			<block type="math_number_property"></block>
			<block type="math_change">
				<value name="DELTA">
					<block type="math_number">
						<field name="NUM">1</field>
					</block>
				</value>
			</block>
			<block type="math_round"></block>
			<block type="math_on_list"></block>
			<block type="math_modulo"></block>
			<block type="math_constrain">
				<value name="LOW">
					<block type="math_number">
						<field name="NUM">1</field>
					</block>
				</value>
				<value name="HIGH">
					<block type="math_number">
						<field name="NUM">100</field>
					</block>
				</value>
			</block>
			<block type="math_random_int">
				<value name="FROM">
					<block type="math_number">
						<field name="NUM">1</field>
					</block>
				</value>
				<value name="TO">
					<block type="math_number">
						<field name="NUM">100</field>
					</block>
				</value>
			</block>
			<block type="math_random_float"></block>
		</category>
		<category name="Text" id="catText">
			<block type="text"></block>
			<block type="text_join"></block>
			<block type="text_append">
				<value name="TEXT">
					<block type="text"></block>
				</value>
			</block>
			<block type="text_length"></block>
			<block type="text_isEmpty"></block>
			<block type="text_indexOf">
				<value name="VALUE">
					<block type="variables_get">
						<field name="VAR" class="textVar">...</field>
					</block>
				</value>
			</block>
			<block type="text_charAt">
				<value name="VALUE">
					<block type="variables_get">
						<field name="VAR" class="textVar">...</field>
					</block>
				</value>
			</block>
			<block type="text_getSubstring">
				<value name="STRING">
					<block type="variables_get">
						<field name="VAR" class="textVar">...</field>
					</block>
				</value>
			</block>
			<block type="text_changeCase"></block>
			<block type="text_trim"></block>
			<block type="text_print"></block>
			<block type="text_prompt_ext">
				<value name="TEXT">
					<block type="text"></block>
				</value>
			</block>
		</category>
		<category name="Lists" id="catLists">
			<block type="lists_create_empty"></block>
			<block type="lists_create_with"></block>
			<block type="lists_repeat">
				<value name="NUM">
					<block type="math_number">
						<field name="NUM">5</field>
					</block>
				</value>
			</block>
			<block type="lists_length"></block>
			<block type="lists_isEmpty"></block>
			<block type="lists_indexOf">
				<value name="VALUE">
					<block type="variables_get">
						<field name="VAR" class="listVar">...</field>
					</block>
				</value>
			</block>
			<block type="lists_getIndex">
				<value name="VALUE">
					<block type="variables_get">
						<field name="VAR" class="listVar">...</field>
					</block>
				</value>
			</block>
			<block type="lists_setIndex">
				<value name="LIST">
					<block type="variables_get">
						<field name="VAR" class="listVar">...</field>
					</block>
				</value>
			</block>
			<block type="lists_getSublist">
				<value name="LIST">
					<block type="variables_get">
						<field name="VAR" class="listVar">...</field>
					</block>
				</value>
			</block>
		</category>
		<category name="Variables" id="catVariables" custom="VARIABLE"></category>
		<category name="Functions" id="catFunctions" custom="PROCEDURE"></category>
	</xml>

	<script src="/static/js/vendor/jquery.js"></script>
	<script>
		var api_soundlist = [
			{% if soundfiles %}
				{% for soundfile in soundfiles %}
					["{{ soundfile }}", "{{ soundfile }}"]{% if not loop.last %},{% endif %}
				{% endfor %}
			{% else %}
				["No sounds found!", "NOSOUND"]
			{% endif %}
		];
		var api_doflist = [
			{% if dofnames %}
				{% for dofname in dofnames %}
					["{{ dofname }}", "{{ dofname }}"]{% if not loop.last %},{% endif %}
				{% endfor %}
			{% else %}
				["No DOFs found!", "NODOF"]
			{% endif %}
		];
	</script>
	<script src="static/blockly/blockly_compressed.js"></script>
	<script src="static/blockly/javascript_compressed.js"></script>
	<script src="static/blockly/blocks_compressed.js"></script>
	<script src="static/blockly/msg/js/en.js"></script>
	<script src="static/blockly/appengine/storage.js"></script>
	<script src="static/onoblockly.js"></script>
	<script>
		$(document).ready(function(){
			Blockly.inject(document.body, {toolbox: document.getElementById("toolbox")});
			window.setTimeout(BlocklyStorage.restoreBlocks, 0);
			window.parent.blocklyLoaded(Blockly); // Let the top-level application know that Blockly is ready.
			BlocklyStorage.backupOnUnload();
		});
	</script>
</body>
</html>
