@font-face
{
    font-family: 'Avenir Next';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/AvenirNext-Regular.ttf') format('truetype');
}
@font-face
{
    font-family: 'Avenir Next';
    font-weight: 500;
    font-style: normal;

    src: url('../fonts/AvenirNext-DemiBold.ttf') format('truetype');
}
@font-face
{
    font-family: 'Avenir Next';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/AvenirNext-Bold.ttf') format('truetype');
}

body
{
    font-family: 'Avenir Next' !important;
    font-size: 1.1rem;

    height: auto;

    color: #27292a;
    background: #f2f2f2;
    background-image: url('../images/background/bg_tiled_dark.png');
}

article,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
span
{
    font-family: 'Avenir Next';
}

a {
  outline: 0;
}

@media only screen and (min-width: 64.063em)
{
    body
    {
        padding: 0 1rem 0rem 1rem;
    }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em)
{
    body
    {
        padding: 0 .5rem 0rem .5rem;
    }
}

@media only screen and (max-width: 40em)
{
    body
    {
        padding: 0 0rem 0rem 0rem;
    }
}

.row
{
    max-width: 75rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

#logo
{
    display: block;

    width: 8rem;
    margin: .5rem auto .5rem auto;

    opacity: .75;
}

#header_play
{
    position: relative;
    top: 0rem;

    overflow: hidden;

    max-width: 75rem;
    height: 3rem;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;
    padding: 0 .7rem;

    color: #27292a;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .75);
       -moz-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .75);
            box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .75);
}

@media only screen and (max-width: 40em)
{
    #header_play
    {
        height: 7rem;
    }
}

#header_play #activity
{
    line-height: 1rem;

    position: relative;

    height: 2.5rem;

    color: #4d4d4d;
    border-radius: .5rem;
    background: #fff;
}

#header_play #activity #status
{
    font-weight: bold;

    position: absolute;
    top: .25rem;
    left: 2.75rem;

    text-transform: uppercase;
}

#header_play #activity #currentapp
{
    position: absolute;
    top: 1.25rem;
    left: 2.75rem;
}

#header_play #activity #statusicon
{
    font-size: 2rem;

    position: absolute;
    top: .25rem;
    left: .5rem;
}

#header_play #activity #statusicon .fa-spin
{
    -webkit-animation: fa-spin 8s infinite linear;
            animation: fa-spin 8s infinite linear;
}

#header_play .action
{
    float: right !important;

    width: 2.5rem;
    height: 2.5rem;
    margin-left: .5rem;
    padding-top: .5rem;

    text-align: center;

    border-bottom: none; /* For tooltips*/
    border-radius: 1.25rem;
    background: #fff;
}

#header_play .action:hover
{
    width: 3rem;
    height: 3rem;
    margin-top: -.25rem;
    margin-right: -.25rem;
    margin-left: .25rem;

    border-radius: 1.5rem;
}

@media only screen and (max-width: 40em)
{
    #header_play .action
    {
        margin-top: .5rem;
    }
    #header_play .action:hover
    {
        margin-top: .25rem;
        margin-bottom: -.25rem;
    }
}

#header_play .action .icon
{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    font-size: 1.5rem;

    display: inline-block;

    color: #4d4d4d;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#header_play .action:hover .icon
{
    font-size: 2rem;
}

#header_play .action .nudge
{
    margin-right: .2rem;
}

.appbutton
{
    /*position: relative;
    display: block;
    margin: 0;
    padding: 1rem 0 1rem 0;

    text-align: center;

    color: #222;
    border-radius: .75rem;
    background: #b2afa1;
    -webkit-box-shadow: .5rem .5rem 0 0 rgba(50, 50, 50, .75);
       -moz-box-shadow: .5rem .5rem 0 0 rgba(50, 50, 50, .75);
            box-shadow: .5rem .5rem 0 0 rgba(50, 50, 50, .75);*/
    position: relative;

    display: block;
    overflow: hidden;

    max-width: 9rem;
    height: 9rem;
    margin: .5rem auto;

    text-align: center;
    vertical-align: middle;

    opacity: 1;
    border-radius: .8rem;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .75);
       -moz-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .75);
            box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .75);
}
.appbutton.selected
{
    background-color: #15e678;
}

.appbutton:hover
{
    /*margin: -.5rem;*/
}

.appbutton .icon
{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 5rem;

    display: inline-block;

    width: 100%;
    margin: 2rem auto;
    /*font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    font-size: 7rem;
    display: inline-block;
    width: 100%;
    padding: 2rem;

    color: #fff;
    text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .33);

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/

    color: #27292a;
}

.appbutton .app_banner
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 1rem;
}

.appbutton:hover .icon
{
    /*font-size: 8rem;*/
    font-size: 5.5rem;

    margin: 1.75rem auto;
}

.appbutton .closebutton
{
    font-size: 2rem;

    position: absolute;

    color: #000;
    text-shadow: .14rem .14rem 0 rgba(0, 0, 0, .33);
}

.appbutton .closebutton:hover
{
    font-size: 2.5rem;

    top: -.25rem;
    left: .15rem;

    color: #000;
}

.applabel
{
    /*font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    text-shadow: .14rem .14rem 0 rgba(0, 0, 0, .33);
    text-aligh: center;*/
    font-size: 1.2rem;
    font-weight: normal;

    overflow: hidden;

    width: 100%;
    margin-bottom: 1.5rem;

    text-align: center;

    color: #27292a;
}

@media only screen and (max-width: 64em)
{
    /*.appbutton
    {
        padding-top: 0rem;
        padding-bottom: 1rem;
    }

    .appbutton .icon
    {
        font-size: 5rem;

        padding: 1.5rem 1.5rem 1rem 1.5rem;
    }

    .appbutton:hover .icon
    {
        font-size: 6rem;
    }

    .applabel
    {
        font-size: 1.2rem;
        line-height: 1.2rem;

        display: block;

        height: 2.4rem;
        padding: 0 .5rem;
    }*/
}

.smallwidth
{
    max-width: 30rem;
}

.page
{
    border-radius: .75rem;
    background: #fff;
    -webkit-box-shadow: .5rem .5rem 0 0 rgba(50, 50, 50, .75);
       -moz-box-shadow: .5rem .5rem 0 0 rgba(50, 50, 50, .75);
            box-shadow: .5rem .5rem 0 0 rgba(50, 50, 50, .75);
}

.page .titlebar
{
    font-size: 2rem;
    font-weight: bold;

    position: relative;

    padding: .5rem;

    text-align: center;

    color: #fff;
    border-bottom: .25rem solid #23774e;
    -webkit-border-top-left-radius: .5rem;
    -moz-border-radius-topleft: .5rem;
            border-top-left-radius: .5rem;
    -webkit-border-top-right-radius: .5rem;
    -moz-border-radius-topright: .5rem;
            border-top-right-radius: .5rem;
    background: #22b573;
}

.page .titlebar .closebutton
{
    font-size: 2rem;

    position: absolute;
    top: .5rem;
    left: 1rem;

    display: inline;

    color: #fff;
}

.page .titlebar .closebutton:hover
{
    font-size: 2.5rem;

    top: .125rem;
    left: .75rem;
}

.page .content
{
    /*background: #FFFFFF;*/
    overflow: auto;

    padding: 1rem;
}

.actionbar
{
    min-height: 4rem;
    margin: -1rem -1rem 1rem -1rem;
    padding: .5rem 1rem;

    background: #23774e;
}

.actionbar .action
{
    display: inline-block;

    min-width: 3rem;
    padding: 0 .5rem;

    text-align: center;

    color: #fff;
    -webkit-border-radius: .25rem;
       -moz-border-radius: .25rem;
            border-radius: .25rem;
}

.float_right
{
    float: right;
}

.actionbar .action:hover,
.actionbar .action.active
{
    color: #4d4d4d;
    background: #fff;
}

.actionbar .action .text
{
    font-size: .75rem;
    font-weight: bold;

    text-transform: uppercase;
}

.actionbar .spacer
{
    display: inline-block;

    width: 2rem;
}

.actionbar .filebox
{
    display: inline-block;
    overflow: hidden;

    min-width: 7rem;
    max-width: 20rem;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #fff;
}

.actionbar .filebox .filename
{
    font-weight: bold;

    text-transform: uppercase;
}

.actionbar .filebox .status
{
    font-size: .75rem;
    font-weight: bold;

    text-transform: uppercase;
}

.tooltip
{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    -webkit-border-radius: .25rem;
       -moz-border-radius: .25rem;
            border-radius: .25rem;
}

.tooltip > .nub
{
    left: 1.25rem;
}

.note
{
    font-size: .75rem;
    font-weight: 300;
    line-height: 1rem;

    display: block;

    padding-top: .5rem;
    padding-bottom: .5rem;
}

.reveal-modal
{
    position: absolute;
    top: 2rem;

    padding: 0;

    color: #4d4d4d;
    border: 0;
    border-radius: .75rem;
    background: #fff;
    -webkit-box-shadow: .5rem .5rem 0 0 rgba(50, 50, 50, .75);
       -moz-box-shadow: .5rem .5rem 0 0 rgba(50, 50, 50, .75);
            box-shadow: .5rem .5rem 0 0 rgba(50, 50, 50, .75);


    min-height: inherit;
}

.reveal-modal .titlebar
{
    font-size: 2rem;
    font-weight: bold;

    position: relative;

    padding: .5rem;

    text-align: center;

    color: #fff;
    border-bottom: .25rem solid #545454;
    -webkit-border-top-left-radius: .5rem;
    -moz-border-radius-topleft: .5rem;
            border-top-left-radius: .5rem;
    -webkit-border-top-right-radius: .5rem;
    -moz-border-radius-topright: .5rem;
            border-top-right-radius: .5rem;
    background: #b2afa1;
}

.reveal-modal .titlebar.red
{
    border-bottom: .25rem solid #79261d;
    background: #b2382a;
}
.reveal-modal .titlebar.green
{
    border-bottom: .25rem solid #26791d;
    background: #38b22a;
}

.reveal-modal .content
{
    padding: 1rem;
}

.reveal-modal .close-reveal-modal
{
    font-size: 2rem;
    font-weight: normal;

    position: absolute;
    top: 1rem;
    right: auto;
    left: 1rem;

    cursor: pointer;

    color: #fff;
}

.reveal-modal .close-reveal-modal:hover
{
    font-size: 2.5rem;

    top: .75rem;
    left: .75rem;
}

.button
{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    margin-bottom: .75rem;
    padding: .5rem 1rem;

    border-radius: .25rem;
    background: #b2afa1;
}

.button:hover
{
    background: #545454;
}

.range-slider-handle
{
    border-radius: .25rem;
    background-color: #22b573;
    -webkit-box-shadow: 0 .25rem 0 0 #23774e;
       -moz-box-shadow: 0 .25rem 0 0 #23774e;
            box-shadow: 0 .25rem 0 0 #23774e;
}

.range-slider-handle:hover
{
    top: -.45rem;

    width: 2.4rem;
    height: 1.65rem;
    margin-left: -.2rem;

    background-color: #22b573;
}

fieldset legend
{
    margin-top: 0;

    text-transform: uppercase;

    color: #4d4d4d;
}

/*#errors
{
    margin: 0;
    padding: 0;
}
#errors .callout
{
    margin: 0 2rem .5rem 2rem;

    border-radius: .25rem;
}
#errors .callout .close
{
    opacity: .8;
}*/
#errors .callout
{
    margin-bottom: 0;
}

.fullscreen
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;

    width: 100vw;
    height: 100vh;

    background-color: #000;
}

.fullscreen #editorWrapper
{
    height: calc(100vh - 4rem - 4.15rem);
}

.fullscreen #console
{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.filebrowser
{
    top: 2rem;
    bottom: 3rem;

    min-height: 90vh;
    max-height: 90vh;
}
.filebrowser .content
{
    position: absolute;
    top: 4rem;
    bottom: 0;

    width: 100%;
}
.filebrowser .actionbar .actionBarItem
{
    position: relative;

    float: left;

    min-width: 4rem;
}
.filebrowser .foldercontent
{
    position: absolute;
    top: 4.5rem;
    bottom: .5rem;
    left: 0;

    overflow-x: hidden;
    overflow-y: scroll;

    width: 100%;
    padding: 3rem;
    padding-top: 0rem;
}
.filebrowser .foldercontent .button
{
    font-size: 1.5rem;

    width: 5rem;
    margin-left: .5rem;
    padding: 0rem;
}
.filebrowser .foldercontent .alert
{
    width: 2.5rem;
}
.filebrowser .foldercontent .browseritem
{
    width: 100%;
    min-height: 2rem;
    margin: .1rem;
    padding: .2rem;

    border-radius: .25rem;
}
.filebrowser .foldercontent .browseritem:hover
{
    background-color: #f2f2f2;
}
.filebrowser .foldercontent .browseritem a
{
    margin: 0;
}
.filebrowser .foldercontent .browseritem .browseritemname
{
    font-size: 1.5rem;
    font-weight: bold;

    margin-left: 2rem;
}
.filebrowser .foldercontent .browseritem .browseritemoptions
{
    float: right;

    padding: .15rem;
}


.filebrowser .foldercontent .browseritem .browseritemoptions
{
    -webkit-transition: opacity .1s ease-in-out;
       -moz-transition: opacity .1s ease-in-out;
            transition: opacity .1s ease-in-out;

    opacity: 0;
}
.filebrowser .foldercontent .browseritem:hover .browseritemoptions
{
    opacity: 1;
}



#message_popup .content .buttons
{
    position: relative;

    text-align: center;
}
#message_popup .content .buttons .button
{
    margin-right: 1rem;
    margin-left: 1rem;
}
.reveal-modal .btnClose
{
    font-size: 2rem;
    font-weight: normal;

    position: absolute;
    top: .5rem;
    right: auto;
    left: 1rem;

    cursor: pointer;

    color: #fff;
}
.reveal-modal .btnClose:hover
{
    font-size: 2.5rem;

    top: .25rem;
    left: .75rem;
}
