

.contact_list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.contact_list li .personIcon {
  border-radius: 15%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  margin-left: 1rem;
  background: orange;
  text-align:center;
  line-height: 80px;

}
.contact_list li .personIcon::before{
  content: "\f007";
  font-family: 'FontAwesome';
  font-size:4rem;

  }

.contact_list li {
  width: 20rem;
  margin: 1rem;
  list-style: none;
}
.contact_data{
  margin-left: 8rem;
}
