.contact_list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.contact_list li span {
  border: solid 1px black;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  margin-left: 1rem;
  background: orange;
}
.contact_list li {
  width: 20rem;
  border: solid 1px black;
  margin: 1rem;
  list-style: none;
}
.contact_data{
  margin-left: 8rem;
}
