.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.applet-submit{
    background-color: #ffaf19;
}
.tabs-content{
    min-height: 500px;
}
.colorpicker{
    height: 85px;
    width: 85px;
    line-height: 65px;
    text-align: center;
    margin: 15px;
    border-radius: 15px;
    border: 2px solid #d1d1d1;
}
#cmdqueue{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-width: 170px;
    min-height: 170px;
}
#addApplet .addApplet{
    margin: 10px;
    border-radius: 15px;
    width: 250px;
    height: 230px;
    line-height: 230px;
    text-align: center;
    border: 4px dashed #d1d1d1;
    font-size: 95px;
}

.applet{
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    height: 230px;
}
.applet-content{
    color: white;
    display: flex;
    width: 250px;
    height: 195px;
    padding: 15px;
    flex-direction: column;
}
.applet-content .logo{
    width: 36px;
    height: 36px;
    margin: 0;
}
.applet-header {
    height: 100px;
    display: flex;

    flex-direction: column;
}

.applet-content h3{
    margin-top: auto;
}
.applet-footer{
    text-align: center;
    height: 35px;
    margin-bottom: auto;
    line-height: 30px;
    font-size: 12px;
    color: white;
    opacity:0.4;
    align-self: flex-end;
     }
.applets {
    display: flex !important;
    flex-direction: row;
}
#filters {
    padding-top:2em;
    width: 250px;
}
.command{
    z-index: 2;
    margin: 10px;
    width: 250px;
    border-radius: 15px;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}
.command a{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.options-cog{
    font-size: 25px;
    transition: all .2s ease-in-out;
    position: absolute;
    top: 5px;
    right: 15px;
}

.search{
    width: 190px;
}

#cmdqueue .options-cog{
    display: none
}
.options-cog:hover{
    opacity: 0.5;
}
.command-content{
    padding:15px 15px 0 15px !important;
    color: white;
    display: flex;
    flex-direction: column;
}
.command-content label{
    color: white;
}
.command-footer{
    text-align: center;
    font-size: 12px;
    color: white;
    height: 35px;
    width: 100%;
    margin-top: auto;
    line-height: 35px;
    opacity: 0.4;
}

.tts-div {
    margin-left: auto;
    margin-top: auto;
}
input[type=text], select, input[type=text]:focus, select:focus, select:active, .tts, textarea:active, textarea, textarea:focus{
    color:white;
    background-color: rgba(255,255,255,0.2);
    border:0;
    border-radius: 0;
}
option {
    border:0;
}
.flex-container > .highlight{
    background-color: green;
    opacity: 0.5;
}

#cmdqueue-placeholder{
    position: absolute;
    border: 4px dashed #d1d1d1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
}
.text-muted{
    opacity: 0.8;
}
.text-bold{
    font-weight: bold;
}
.hidden{
    display: none !important;
}
.visible{
    display: block;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.activity {
    width:400px;
    margin-bottom: 2em
}

.activities {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.activity_content {
    background-color:#2e294e;
    height: 100px;
    border-radius: 15px;
    padding: 2em;
    color:#ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.activity_header {
    display: flex;
    flex-direction: row;
}

#protocolcontrol>ul>li {
    list-style-type: none;
}
#protocolcontrol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.no-margin {
    margin: 0;
}
#slideshow { 
    color: white;
    position: relative; 
        height: 550px;
}
#slideshow h2 {
         color: white !important; 

}
.step {
    display: flex;
    flex-direction: column;
    padding: 2em;
}
.step-footer {
    text-align: right;
    font-weight: bold;
    margin-top: auto;
}
#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}
.values {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#copyButton {
    color: white;
}

#slideshow li {
    list-style-type: none;
}
.input-values, textarea {
    width: 90%;
}
.next, #copyButton {
    cursor: pointer;
}
#popup_window {
    background-color: #0095FF !important;
}

@media screen and (max-width: 550px) {
    .activity {
        width: 280px;
    }
    .applets {
        flex-direction: column;
    }
    #protocolcontrol>ul>li {
        display: inline-block;
    }
    #filters {
        min-height: 150px;
        padding-top: 0;
        width:100%;
    }
    #cmdqueue{
        flex-direction: column;
    }
    
}