body {
	background: #524F45;
	background-image: url("/static/img/bg_tiled_white.png");
	font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 64.063em) {
	body {
		padding: 1rem 1rem 0rem 1rem;
	}
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	body {
		padding: 0.5rem 0.5rem 0rem 0.5rem;
	}
}

@media only screen and (max-width: 40em) {
	body {
		padding: 0.5rem 0rem 0rem 0rem;
	}
}

#logo {
	opacity: 0.75;
	width: 8rem;
	margin: 0.5rem auto 0.5rem auto;
	display: block;
}

#topbar {
	background: #FCD017;
	border-radius: 0.75rem;
	height: 4rem;
	padding: 0.75rem;
	margin-bottom: 1rem;

	box-shadow: 0.5rem 0.5rem 0 0 rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0.5rem 0.5rem 0 0 rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 0.5rem 0.5rem 0 0 rgba(50, 50, 50, 0.75);
}

@media only screen and (max-width: 40em) {
	#topbar {
		height: 7rem;
	}
}

#topbar #activity {
	height: 2.5rem;
	border-radius: 0.5rem;
	background: #FFFFFF;
	color: #4D4D4D;
	line-height: 1rem;
	position: relative;
}

#topbar #activity #status {
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	left: 2.75rem;
	top: 0.25rem;
}

#topbar #activity #currentapp {
	position: absolute;
	left: 2.75rem;
	top: 1.25rem;
}

#topbar #activity #statusicon {
	font-size: 2rem;
	position: absolute;
	top: 0.25rem;
	left: 0.5rem;
}

#topbar #activity #statusicon .fa-spin {
	-webkit-animation: fa-spin 8s infinite linear;
	animation: fa-spin 8s infinite linear;
}

#topbar .action {
	width: 2.5rem;
	height: 2.5rem;
	background: #FFFFFF;
	border-radius: 1.25rem;
	text-align: center;
	padding-top: 0.5rem;
	margin-left: 0.5rem;
	float: right !important;
	border-bottom: none; /* For tooltips*/
}

#topbar .action:hover {
	width: 3rem;
	height: 3rem;
	border-radius: 1.5rem;
	margin-top: -0.25rem;
	margin-left: 0.25rem;
	margin-right: -0.25rem;
}

@media only screen and (max-width: 40em) {
	#topbar .action {
		margin-top: 0.5rem;
	}
	#topbar .action:hover {
		margin-top: 0.25rem;
		margin-bottom: -0.25rem;
	}
}

#topbar .action .icon {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: 1.5rem;
	color: #4D4D4D;
}

#topbar .action:hover .icon{
	font-size: 2rem;
}

#topbar .action .nudge{
	margin-right: 0.2rem;
}


.appbutton {
	background: #B2AFA1;
	color: #222222;
	border-radius: 0.75rem;

	box-shadow: 0.5rem 0.5rem 0 0 rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0.5rem 0.5rem 0 0 rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 0.5rem 0.5rem 0 0 rgba(50, 50, 50, 0.75);

	text-align: center;
	display: block;
	margin: 0;
	padding: 1rem 0 1rem 0;
	position: relative;
}
.appbutton.selected {
	background: #22B573;
}

.appbutton:hover {
	margin: -0.5rem;
}

.appbutton .icon {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: 7rem;
	color: #FFFFFF;
	text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.33);
	padding: 2rem;
	width: 100%;
}

.appbutton:hover .icon {
	font-size: 8rem;
}

.appbutton .closebutton {
	color: #FFFFFF;
	position: absolute;
	left: 1rem;
	top: 0.4rem;
	font-size: 2rem;
	text-shadow: 0.14rem 0.14rem 0 rgba(0, 0, 0, 0.33);
}

.appbutton .closebutton:hover {
	font-size: 2.5rem;
	top: 0;
	left: 0.75rem;
}

.applabel {
	color: #FFFFFF;
	text-shadow: 0.14rem 0.14rem 0 rgba(0, 0, 0, 0.33);
	font-size: 1.2rem;
	font-weight: bold;
	text-aligh: center;
}

@media only screen and (max-width: 64em) {
	.appbutton {
		padding-top: 0rem;
		padding-bottom: 1rem;
	}

	.appbutton .icon {
		font-size: 5rem;
		padding: 1.5rem 1.5rem 1rem 1.5rem;
	}

	.appbutton:hover .icon {
		font-size: 6rem;
	}

	.applabel {
		font-size: 1.2rem;
		line-height: 1.2rem;
		display: block;
		height: 2.4rem;
		padding: 0 0.5rem;
	}
}

.smallwidth {
	max-width: 30rem;
}

.page {
	background: #ffffff;
	border-radius: 0.75rem;

	box-shadow: 0.5rem 0.5rem 0 0 rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0.5rem 0.5rem 0 0 rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 0.5rem 0.5rem 0 0 rgba(50, 50, 50, 0.75);
}

.page .titlebar {
	background: #22B573;
	border-bottom: 0.25rem solid #23774E;
	padding: 0.5rem;
	text-align: center;
	color: #ffffff;
	font-size: 2rem;
	font-weight: bold;
	-webkit-border-top-left-radius: 0.5rem;
	-webkit-border-top-right-radius: 0.5rem;
	-moz-border-radius-topleft: 0.5rem;
	-moz-border-radius-topright: 0.5rem;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	position: relative;
}

.page .titlebar .closebutton {
	color: #FFFFFF;
	display: inline;
	position: absolute;
	left: 1rem;
	top: 0.5rem;
	font-size: 2rem;
}

.page .titlebar .closebutton:hover {
	font-size: 2.5rem;
	left: 0.75rem;
	top: 0.125rem;
}

.page .content {
	padding: 1rem;
	/*background: #FFFFFF;*/
}

.actionbar {
	background: #23774E;
	margin: -1rem -1rem 1rem -1rem;
	padding: 0.5rem 1rem;
	min-height: 4rem;
}

.actionbar .action {
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	border-radius: 0.25rem;
	color: #FFFFFF;
	padding: 0 0.5rem;
	text-align: center;
	display: inline-block;
	min-width: 3rem;
}

.float_right {
	float: right;
}

.actionbar .action:hover, .actionbar .action.active {
	background: #FFFFFF;
	color: #4D4D4D;
}

.actionbar .action .text {
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: bold;
}

.actionbar .spacer {
	display: inline-block;
	width: 2rem;
}

.actionbar .filebox {
	color: #fff;
	display: inline-block;
	min-width: 7rem;
	max-width: 20rem;
	overflow: hidden;
	text-overflow: ellipsis;
  white-space: nowrap;
}

.actionbar .filebox .filename {
	font-weight: bold;
	text-transform: uppercase;
}

.actionbar .filebox .status {
	font-size: 0.75rem;
	font-weight: bold;
	text-transform: uppercase;
}

.tooltip {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	border-radius: 0.25rem;
}

.tooltip > .nub {
	left: 1.25rem;
}

.note {
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 300;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	display: block;
}

.reveal-modal {
	position: fixed;
	top: 2rem;

	background: #ffffff;
	border-radius: 0.75rem;
	color: #4D4D4D;
	padding: 0;
	border: 0;

	box-shadow: 0.5rem 0.5rem 0 0 rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0.5rem 0.5rem 0 0 rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 0.5rem 0.5rem 0 0 rgba(50, 50, 50, 0.75);
}

.reveal-modal .titlebar {
	background: #B2AFA1;
	border-bottom: 0.25rem solid #545454;
	padding: 0.5rem;
	text-align: center;
	color: #ffffff;
	font-size: 2rem;
	font-weight: bold;
	-webkit-border-top-left-radius: 0.5rem;
	-webkit-border-top-right-radius: 0.5rem;
	-moz-border-radius-topleft: 0.5rem;
	-moz-border-radius-topright: 0.5rem;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	position: relative;
}

.reveal-modal .titlebar.red {
	background: #B2382A;
	border-bottom: 0.25rem solid #79261D;
}

.reveal-modal .content {
	padding: 1rem;
}

.reveal-modal .close-reveal-modal {
	font-size: 2rem;
	position: absolute;
	top: 1rem;
	left: 1rem;
	right: auto;
	color: #ffffff;
	font-weight: normal;
	cursor: pointer;
}

.reveal-modal .close-reveal-modal:hover {
	font-size: 2.5rem;
	left: 0.75rem;
	top: 0.75rem;
}

.button {
	background: #B2AFA1;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	margin-bottom: 0.75rem;
}

.button:hover{
	background: #545454;
}

.range-slider-handle {
	background-color: #22B573;
	border-radius: 0.25rem;
	box-shadow: 0 0.25rem 0 0 #23774E;
	-moz-box-shadow: 0 0.25rem 0 0 #23774E;
	-webkit-box-shadow: 0 0.25rem 0 0 #23774E;
}

.range-slider-handle:hover {
	background-color: #22B573;
	height: 1.65rem;
	width: 2.4rem;
	top: -0.45rem;
	margin-left: -0.2rem;
}

fieldset legend{
	text-transform: uppercase;
	color: #4D4D4D;
	margin-top: 0;
}

#error_list {
	margin: 0;
	padding: 0;
}
#error_list .alert-box {
	margin: 0 2rem 0.5rem 2rem;
	border-radius: 0.25rem;
}
#error_list .alert-box .close {
	opacity: 0.8;
}

.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.fullscreen #editorWrapper {
	height: calc(100vh - 4rem - 4.15rem);
}

.fullscreen #console {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.filebrowser {
	top: 2rem;
	bottom: 3rem;
}
.filebrowser .content {
	position: absolute;
	width: 100%;
	top: 4rem;
	bottom: 0;
}
.filebrowser .actionbar .actionBarItem {
	position: relative;
	float: left;
	min-width: 4rem;
}
.filebrowser .foldercontent {
	position: absolute;
	width: 100%;
	top: 4.5rem;
	left: 0;
	bottom: 0.5rem;
	padding: 3rem;
	padding-top: 0rem;
	overflow-x:hidden;
	overflow-y:scroll;
}
.filebrowser .foldercontent .button {
	padding: 0rem;
	width: 5rem;
	font-size: 1.5rem;
	margin-left: 0.5rem;
}
.filebrowser .foldercontent .alert {
	width: 2.5rem;
}
.filebrowser .foldercontent .browseritem {
	border-radius: 0.25rem;
	width: 100%;
	padding: 0.2rem;
	margin: 0.1rem;
	min-height: 2rem;
}
.filebrowser .foldercontent .browseritem:hover {
	background-color: #F2F2F2;
}
.filebrowser .foldercontent .browseritem a {
	margin: 0;
}
.filebrowser .foldercontent .browseritem .browseritemname {
	margin-left: 2rem;
	font-size: 1.5rem;
	font-weight: bold;
}
.filebrowser .foldercontent .browseritem .browseritemoptions {
	float: right;
	padding: 0.15rem;
}
.filebrowser .foldercontent .folder {

}
.filebrowser .foldercontent .file {

}
.filebrowser .foldercontent .browseritem .browseritemoptions {
	opacity: 0;
	transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-webkit-transition: opacity .1s ease-in-out;
}
.filebrowser .foldercontent .browseritem:hover .browseritemoptions {
	opacity: 1;
}

#message_popup .content {

}
#message_popup .content .text {

}
#message_popup .content .buttons {
	position: relative;
	text-align: center;
}
#message_popup .content .buttons .button {
	margin-left: 1rem;
	margin-right: 1rem;
}
.reveal-modal .btnClose {
	font-size: 2rem;
	position: absolute;
	top: 0.5rem;
	left: 1rem;
	right: auto;
	color: #ffffff;
	font-weight: normal;
	cursor: pointer;
}
.reveal-modal .btnClose:hover {
	font-size: 2.5rem;
	left: 0.75rem;
	top: 0.25rem;
}

#AppBtn_verhaaltje, #AppBtn_rekenwereld, #AppBtn_geheugen, #AppBtn_tiktak{
	background: #fcd017
}

#sounds, #visprog, #luascripting, #socialscript{
	clear: none;
}
