{% extends "app_base.html" %}
{% block app_head %}{% endblock %}

{% block app_toolbar %}
	{% include "toolbar/_settings_operations.html" %}
{% endblock %}

{% block app_content %}

<form data-abide method="get" id="contacten-form">
  <div class="">
		<ul class="accordion" data-responsive-accordion-tabs="tabs small-accordion medium-tabs large-tabs" id="contacten-tabs">
			<li class="accordion" data-responsive-accordion-tabs="tabs small-accordion medium-tabs large-tabs" id="contacten-tabs">
				<a href="#overzicht">
					<span class="fa fa-icon-male"></span> overzicht en toevoegen
				</a>
				<div class="accordion-content" data-tab-content>
					<fieldset data-bind="width: overzicht">
						<legend>
							<span class="fa fa-cog"></span> overzicht en toevoegen
						</legend>

						<div class="row">
							<div class="small-4 medium-4 large-4 columns">
								<label for="robotName" class="text-right inline">Robot name</label>
							</div>
							<div class="small-8 medium-6 large-4 columns end">
								<input type="text" id="robotName" name="robotName" value="">
								<small class="error">A valid name is required</small>
							</div>
						</div>

						<div class="row">
							<div class="small-4 medium-4 large-4 columns">
								<label for="startupApp" class="text-right inline">Startup app</label>
							</div>
							<div class="small-8 medium-6 large-4 columns end">
								<select id="startupApp" name="startupApp"></select>
							</div>
						</div>
					</fieldset>

					<fieldset data-bind="with: update">
						<legend>
							<span class="fa fa-cloud-download"></span>
							Update
						</legend>
						<div class="row">
							<div class="small-6 medium-6 large-6 columns">
								<label for="updateBranch" class="text-right inline">Git branch</label>
							</div>
							<div class="small-6 medium-6 large-6 columns end">
								<label for="updateBranch" class="inline" > </label>
							</div>
							<!-- <div class="small-8 medium-6 large-4 columns end">
								<label for="updateBranch" class="text-right inline">Branch</label>
								<label data-bind="text: branch"> </label>
								<select id="updateBranch" name="updateBranch" data-bind="value: branch, foreach: branches">
									<option data-bind="value: $data, text: $data"></option>
								</select>
							</div> -->
						</div>
						<div class="row">
							<div class="small-6 medium-6 large-6 columns">
								<label for="updateRevision" class="text-right inline">Git commit rev.</label>
							</div>
							<div class="small-6 medium-6 large-6 columns end">
								<label for="updateRevision" class="inline" data-bind="text: revision"> </label>
							</div>
						</div>
						<div class="row">
							<div class="text-center" data-bind="visible: available()">
								<span class="fa fa-cloud-download"></span> Update available!
							</div>
							<div class="text-center" data-bind="visible: !available()">
								<span class="fa fa-check-circle"></span> Up-to-date!
							</div>
						</div>
						<div class="row">
							<div class="text-center" data-bind="visible: available">
								<a href="#" data-open="UpdateModal" class="action button" style="padding-left: 2rem; padding-right: 2rem;">
									<span class="fa fa-refresh"></span>
									UPDATE!</a>
							</div>
						</div>

					</fieldset>
		    </div>
			</li>

			<li class="accordion" data-responsive-accordion-tabs="tabs small-accordion medium-tabs large-tabs" id="contacten-tabs">
				<a href="#overzicht">
					<!-- icon-ban-circle -->
					<span class="fa fa-icon-male"></span> blacklist
				</a>
				<div class="accordion-content" data-tab-content>
					<fieldset data-bind="width: overzicht">
						<legend>
							<span class="fa fa-cog"></span> blackist
						</legend>

						<div class="row">
							<div class="small-4 medium-4 large-4 columns">
								<label for="robotName" class="text-right inline">Robot name</label>
							</div>
							<div class="small-8 medium-6 large-4 columns end">
								<input type="text" id="robotName" name="robotName" value="">
								<small class="error">A valid name is required</small>
							</div>
						</div>

						<div class="row">
							<div class="small-4 medium-4 large-4 columns">
								<label for="startupApp" class="text-right inline">Startup app</label>
							</div>
							<div class="small-8 medium-6 large-4 columns end">
								<select id="startupApp" name="startupApp" data-bind="options: apps, value: startupApp"></select>
							</div>
						</div>
					</fieldset>

					<fieldset data-bind="with: update">
						<legend>
							<span class="fa fa-cloud-download"></span>
							Update
						</legend>
						<div class="row">
							<div class="small-6 medium-6 large-6 columns">
								<label for="updateBranch" class="text-right inline">Git branch</label>
							</div>
							<div class="small-6 medium-6 large-6 columns end">
								<label for="updateBranch" class="inline" data-bind="text: branch"> </label>
							</div>
							<!-- <div class="small-8 medium-6 large-4 columns end">
								<label for="updateBranch" class="text-right inline">Branch</label>
								<label data-bind="text: branch"> </label>
								<select id="updateBranch" name="updateBranch" data-bind="value: branch, foreach: branches">
									<option data-bind="value: $data, text: $data"></option>
								</select>
							</div> -->
						</div>
						<div class="row">
							<div class="small-6 medium-6 large-6 columns">
								<label for="updateRevision" class="text-right inline">Git commit rev.</label>
							</div>
							<div class="small-6 medium-6 large-6 columns end">
								<label for="updateRevision" class="inline" data-bind="text: revision"> </label>
							</div>
						</div>
						<div class="row">
							<div class="text-center" data-bind="visible: available()">
								<span class="fa fa-cloud-download"></span> Update available!
							</div>
							<div class="text-center" data-bind="visible: !available()">
								<span class="fa fa-check-circle"></span> Up-to-date!
							</div>
						</div>
						<div class="row">
							<div class="text-center" data-bind="visible: available">
								<a href="#" data-open="UpdateModal" class="action button" style="padding-left: 2rem; padding-right: 2rem;">
									<span class="fa fa-refresh"></span>
									UPDATE!</a>
							</div>
						</div>

					</fieldset>
				</div>
			</li>
		</ul>
  </div>
</form>

<!--

{% endblock %}
{% block app_scripts %}

	<script>
		var prefsJson = {{ prefs|tojson|safe }};
		var appsJson = {{ apps|tojson|safe }};
	</script>
{% endblock %}


{% block app_modals %}
<div id="UpdateModal" class="reveal tiny" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
    <div class="titlebar red">
        <button class="close-button" data-close aria-label="Close" type="button">
            <span class="fa fa-close"></span>
        </button>
        <span class="fa fa-refresh"></span>
        {{ _('Update') }}
    </div>
    <div class="content">
        <p>
            {{ _('Are you sure you wish to update ' + opsoro.robot_name + '?') }}
            <br/>
            <span class="note">
                <strong>{{ _('Note') }}:</strong>
                {{ _('Never power off ' + opsoro.robot_name + ' while updating! Cutting power without properly shutting down the operating system can result in a corrupt file system.') }}
            </span>
        </p>
        <div class="text-center">
            <a href="update" class="button" >
                <span class="fa fa-refresh"></span>
                {{ _('Yes, update ' + opsoro.robot_name) }}</a>
        </div>
    </div>
</div>
-->
