{% extends "app_base.html" %}

{% block app_head %}

{% endblock %}

{% block app_toolbar %}
	{% include "toolbar/_expand_collapse.html" %}
	{% include "toolbar/_script_operations.html" %}
	{% include "toolbar/_file_operations.html" %}
{% endblock %}

{% block app_content %}
	<div id="editorWrapper" class="contentwrapper">
		<pre id="editor">{{ script }}</pre>
	</div>
	<div id="console" class="console"></div>

{% endblock %}

{% block app_scripts %}


	<script src="/static/js/sockjs.min.js"></script>
	<script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/ace/mode-lua.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/ono-lua-highlighter.js" type="text/javascript" charset="utf-8"></script>
	<script>
		var action_data = {{ actions|tojson|safe }};
		var isFullscreen = false;
		var scriptname ={% if script_name %}"{{ script_name }}"
		{% else %}
			null{% endif %};
		var isScriptModified = {{ "true" if script_modified else "false" }};
		var isScriptRunning = {{ "true" if script_running else "false" }};
		var monitorKeypresses = false;
		var boilerplate = "";

		function addError(msg) {
			$("#console").append("<span style=\"color: #ab3226;\">" + msg + "</span><br>");
			$("#console").scrollTop($("#console").prop("scrollHeight"));
		}

		function addMessage(msg) {
			$("#console").append(msg + "<br>");
			$("#console").scrollTop($("#console").prop("scrollHeight"));
		}

		function addConsole(msg, color, icon) {
			var line = "";
			if (color) {
				line += "<span style=\"color: " + color + ";\">";
			}
			if (icon) {
				line += "<span class=\"fa " + icon + "\"></span> ";
			}
			line += msg;
			if (color) {
				line += "</span>";
			}
			line += "<br>";

			$("#console").append(line);
			$("#console").scrollTop($("#console").prop("scrollHeight"));
		}

		$(document).ready(function () {
			var Model = function () {
				var self = this;

				// File operations toolbar item
				self.fileIsModified = ko.observable(isScriptModified);
				self.fileName = ko.observable("Untitled");
				self.fileStatus = ko.observable("Stopped");
				self.fileExtension = ko.observable(".lua");

				// Script operations toolbar item
				self.isRunning = ko.observable(isScriptRunning);
				self.isUI = ko.observable(false);

				// Setup ACE editor.
				var editor = ace.edit("editor");
				editor.setTheme("ace/theme/twilight");

				var LuaMode = require("ace/mode/lua").Mode;
				var mode = new LuaMode();
				var Tokenizer = require("ace/tokenizer").Tokenizer;
				var OnoLuaHighlightRules = require("ace/mode/onolua_highlight_rules").OnoLuaHighlightRules;
				mode.$tokenizer = new Tokenizer(new OnoLuaHighlightRules().getRules());
				editor.session.setMode(mode);

				editor.getSession().setUseSoftTabs(false);
				editor.getSession().setTabSize(4);
				editor.$blockScrolling = Infinity; // Disable warning

				editor.getSession().on("change", function (e) {
					$(".filebox .fa-asterisk").removeClass("hide");
					self.fileIsModified(true);
				});

				editor.commands.addCommand({
					name: "save",
					bindKey: {
						win: "Ctrl-S",
						mac: "Command-S"
					},
					exec: function (editor) {
						doSave();
					},
					readOnly: true // false if this command should not apply in readOnly mode
				});

				// Setup websocket connection.
				app_socket_handler = function(data) {
		      switch (data.action) {
						case "addConsole":
							addConsole(data.message, data.color, data.icon);
							break;
						case "scriptStarted":
							addConsole("Script started.", "#888888", "fa-play");
							self.fileStatus("Running");
							self.isRunning(true);
							//SetButtonToStop();
							break;
						case "scriptStopped":
							addConsole("Script stopped.", "#888888", "fa-stop");
							self.fileStatus("Stopped");
							self.isRunning(false);
							self.isUI(false);
							break;
						case "initUI":
							self.isUI(true);
							$("#ScriptUIWrench").removeClass("hide");
							$("#ScriptUIButtons").addClass("hide");
							$("#ScriptUIButtons").html("");
							$("#ScriptUIKeys").addClass("hide");
							$("#ScriptUIKeys").html("");
							$("#ScriptUIModal hr").addClass("hide");
							break;
						case "UIAddButton":
							$("#ScriptUIWrench").addClass("hide");
							$("#ScriptUIButtons").removeClass("hide");

							if (!$("#ScriptUIKeys").hasClass("hide")) {
								$("#ScriptUIModal hr").removeClass("hide");
							}

							var li = "<li>";
							li += "<a href=\"#\" class=\"button btnScriptUI\" data-toggle=\"" + data.toggle + "\" data-buttonname=\"" + data.name + "\">";
							li += "<span class=\"fa " + data.icon + " fa-2x\"></span><br>"
							li += data.caption;
							li += "</a>";
							li += "</li>";
							$("#ScriptUIButtons").append(li);
							break;
						case "UIAddKey":
							var div = "";
							var arrows = ["up", "down", "left", "right"];
							var alphabet = "abcdefghijklmnopqrstuvwxyz";
							var keymap = {
								"up": 38,
								"down": 40,
								"left": 37,
								"right": 39,
								"space": 32,
								"a": 65,
								"b": 66,
								"c": 67,
								"d": 68,
								"e": 69,
								"f": 70,
								"g": 71,
								"h": 72,
								"i": 73,
								"j": 74,
								"k": 75,
								"l": 76,
								"m": 77,
								"n": 78,
								"o": 79,
								"p": 80,
								"q": 81,
								"r": 82,
								"s": 83,
								"t": 84,
								"u": 85,
								"v": 86,
								"w": 87,
								"x": 88,
								"y": 89,
								"z": 90
							};

							if (data.key == "space") {
								// Key is space bar
								div = "<div class=\"keyboardKey space\" data-key=\"" + data.key + "\" data-keycode=\"" + keymap[data.key] + "\">&nbsp;</div>";
							} else if (arrows.indexOf(data.key) > -1) {
								// Key is an arrow
								div = "<div class=\"keyboardKey\"  data-key=\"" + data.key + "\" data-keycode=\"" + keymap[data.key] + "\"><span class=\"fa fa-caret-" + data.key + "\"></span></div>";
							} else if (alphabet.indexOf(data.key) > -1) {
								// Key is a letter
								div = "<div class=\"keyboardKey letter\"  data-key=\"" + data.key + "\" data-keycode=\"" + keymap[data.key] + "\">" + data.key + "</div>";
							} else {
								return;
							}

							$("#ScriptUIWrench").addClass("hide");
							$("#ScriptUIKeys").removeClass("hide");
							$("#ScriptUIKeys").append(div);

							if (!$("#ScriptUIButtons").hasClass("hide")) {
								$("#ScriptUIModal hr").removeClass("hide");
							}

							break;
					}
				};

				// Don't submit form on enter
				$("input,select").keypress(function (evt) {
					return evt.keyCode != 13;
				});

				// Toolbar buttons
				self.loadFileData = function (data) {
					if (data == undefined) {
						return;
					}

					// Load script
					editor.setValue(data);
					editor.gotoLine(1, 0, false);

					// Update filename and asterisk var filename_no_ext = filename; if (filename_no_ext.slice(-4) == self.fileExtension() || filename_no_ext.slice(-4) == ".LUA") { 	filename_no_ext = filename_no_ext.slice(0, -4); } self.fileName(filename_no_ext);
					self.fileIsModified(false);
				};

				self.saveFileData = function () {
					var data = editor.getValue();

					self.fileIsModified(false);
					return data;
				};

				// New Load boilerplate from server
				$.get("static/boilerplate.lua", function (data) {
					boilerplate = data;
				});

				self.newFileData = function () {
					editor.setValue(boilerplate);
					editor.gotoLine(1, 0, false);

					self.fileName("Untitled");
					self.fileIsModified(false);
				};

				self.startStopScript = function () {
					if (!self.isRunning()) {
						// Start the script
						var luacode = editor.getValue();

						$.ajax({
							dataType: "json",
							data: {
								file: luacode,
								name: self.fileName(),
								modified: self.fileIsModified()
									? 1
									: 0
							},
							type: "POST",
							url: "startscript",
							success: function (data) {
								if (data.status == "error") {
									addError(data.message);
								}
							}
						});
					} else {
						// Stop the script
						$.ajax({
							dataType: "json",
							data: {},
							type: "POST",
							url: "stopscript",
							success: function (data) {
								if (data.status == "error") {
									addError(data.message);
								}
							}
						});
					}
				};

				// Clear log
				self.clearLog = function () {
					$("#console").html("");
				};

				// ScriptUI Set a flag to capture keypresses when ScriptUI is opened
				$(document).on("opened.fndtn.reveal", "#ScriptUIModal[data-reveal]", function () {
					monitorKeypresses = true;
				});
				$(document).on("closed.fndtn.reveal", "#ScriptUIModal[data-reveal]", function () {
					monitorKeypresses = false;
				});

				// Monitor keypresses
				var keysDown = {};
				$(document).keydown(function (evt) {
					if (!monitorKeypresses) {
						return;
					}

					var keycode = (event.keyCode
						? event.keyCode
						: event.which);

					if (keysDown[keycode] == null) {
						// First press
						var elem = $("#ScriptUIKeys .keyboardKey[data-keycode=" + keycode + "]");
						elem.addClass("down");

						if (connReady) {
							conn.send(JSON.stringify({action: "keyDown", key: elem.data("key")}));
						}

						keysDown[keycode] = true;
					}
				});

				$(document).keyup(function (evt) {
					if (!monitorKeypresses) {
						return;
					}
					var keycode = (event.keyCode
						? event.keyCode
						: event.which);
					keysDown[keycode] = null;

					var elem = $("#ScriptUIKeys .keyboardKey[data-keycode=" + keycode + "]");
					elem.removeClass("down");

					if (connReady) {
						conn.send(JSON.stringify({action: "keyUp", key: elem.data("key")}));
					}
				});

				$("#ScriptUIModal").on("mousedown", "a.btnScriptUI", function () {
					var elem = $(this);
					if (connReady && !elem.hasClass("toggled")) {
						conn.send(JSON.stringify({action: "buttonDown", button: elem.data("buttonname")}));
						console.log("button down");
					}
				});

				$("#ScriptUIModal").on("mouseup", "a.btnScriptUI", function () {
					var elem = $(this);

					if (elem.data("toggle")) {
						// Toggle button
						if (elem.hasClass("toggled")) {
							if (connReady) {
								conn.send(JSON.stringify({action: "buttonUp", button: elem.data("buttonname")}));
								console.log("button up");
							}
						}
						elem.toggleClass("toggled");
					} else {
						// Regular button
						if (connReady) {
							conn.send(JSON.stringify({action: "buttonUp", button: elem.data("buttonname")}));
						}
					}
				});

				self.scriptUI = function () {
					$("#ScriptUIModal").foundation("open");
				};

			};
			// This makes Knockout get to work
			var model = new Model();
			ko.applyBindings(model);
			model.fileIsModified(false);

			config_file_operations("", model.fileExtension(), model.saveFileData, model.loadFileData, model.newFileData);
		});
	</script>

{% endblock %}

{% block app_modals %}


	<div id="ScriptUIModal" class="reveal small" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
		<div class="titlebar">
			<a class="close-button" data-close aria-label="Close" type="button">
				<span class="fa fa-close"></span>
			</a>
			<span class="fa fa-gamepad"></span>
			Script UI
		</div>
		<div class="content">
			<div id="ScriptUIWrench" style="text-align: center;">
				<span class="fa fa-wrench" style="font-size: 5rem; color: #B2AFA1;"></span><br><br>
				The script has not created any UI elements yet!
			</div>
			<ul id="ScriptUIButtons" class="small-block-grid-4 hide" style="margin-bottom: -1.25rem;"></ul>
			<hr>
			<div id="ScriptUIKeys"></div>
		</div>
	</div>

{% endblock %}
