{% extends "app_base.html" %}

<h1>HIIIII</h1>
{% block app_head %}

	<script src="/site_media/static/js/svg/svg.min.js"></script>
	<script src="/site_media/static/js/svg/svg.draggable.min.js"></script>
	<script src="/site_media/static/js/robot/modules.js"></script>

{% endblock %}

{% block app_toolbar %}
<a href="#" class="action" data-bind="click: saveMainConfig" >
	<span class="fa fa-save"></span><br/>
  <span class="text">Save</span>
</a>
{% endblock %}

{% block app_content %}
	<div class="configurator">
		<div id="model_screen"></div>
		<div class="config_settings" data-bind="visible: !isSelectedModule()">
			<form>
				<span class="setting">
					<span>Robot:
					</span>
					<input type="text" name="robot_name" data-bind="event: { input: function() { fileIsModified(true) }}, value: name, valueUpdate: 'input'">
				</span>
				<span class="setting">
					<span>Grid size:
					</span>
					<input type="number" min="1" max="100" step="1" name="mid" data-bind="value: gridSize, valueUpdate: 'input'">
					<a href="#" class="button secondary" data-bind="click: function() { fileIsModified(true); redraw(); }">
						<span class="fa fa-check"></span>
					</a>
				</span>
				<span class="setting">
					<span>Skin:
					</span>
					<select data-bind="event: { input: function() { fileIsModified(true); redraw(); }}, click: function() { fileIsModified(true); redraw(); }, value: skin, foreach: allSkins">
						<option data-bind="text: $data, value: $data"></option>
					</select>
				</span>

				<span class="setting">
					<span>Modules:
					</span>
					<div id="modules_screen"></div>
				</span>
			</form>
		</div>
		<div class="config_settings" data-bind="visible: isSelectedModule()">
			<form>
				<span class="setting">
					<span>Module:
					</span>
					<span data-bind="text: selectedModule().module"></span>
					<a href="#" class="button alert" data-bind="click: selectedModule_Remove">
						<span class="fa fa-trash"></span>
					</a>
				</span>
				<span class="setting">
					<span>Name:
					</span><input type="text" name="name" data-bind="value: selectedModule().name, valueUpdate: 'input'"></span>
				<span class="setting">
					<span>Width:</span>
					<input type="number" min="1" max="2000" step="1" name="mid" data-bind="event: { input: updateDofVisualisation(-1) }, value: selectedModule().width, valueUpdate: 'input'">
				</span>
				<span class="setting">
					<span>Height:</span>
					<input type="number" min="1" max="2000" step="1" name="mid" data-bind="event: { input: updateDofVisualisation(-1) }, value: selectedModule().height, valueUpdate: 'input'">
				</span>
				<!-- <span class="setting">
					<span>Rotate:
					</span>
					<a href="#" class="button" data-bind="click: selectedModule_RotateRight">
						<span class="fa fa-rotate-right"></span>
					</a>
					<a href="#" class="button" data-bind="click: selectedModule_RotateLeft">
						<span class="fa fa-rotate-left"></span>
					</a>
				</span> -->
				<span class="setting">
					<span>Dofs:
					</span>
					<select data-bind="click: mappingGraph.updateGraph, value: selectedModule_SelectedDof, foreach: selectedModule().dofs">
						<option data-bind="text: name, value: $data"></option>
					</select>
					<!-- <a href="#" class="button secondary" data-bind="click: selectedModule_AddDof"><span class="fa fa-plus"></span></a> -->
				</span>

				<div id="dofs">
					<span class="setting">
						<span>Name:
						</span><input type="text" name="dof_name" data-bind="value: selectedModule_SelectedDof().name, valueUpdate: 'input'">
						<!-- <a href="#" class="button alert" data-bind="click: selectedModule_RemoveDof"><span class="fa fa-trash"></span></a> -->
					</span>

					<span class="setting">
						<span>Servo:
						</span><input type="checkbox" name="servo" class="checkbox" data-bind="checked: selectedModule_SelectedDof().isServo"/></span>
					<div id="servo" data-bind="visible: selectedModule_SelectedDof().isServo()">
						<span class="setting">
							<span>Pin:
							</span>
							<input type="number" min="0" max="15" step="1" name="pin" data-bind="value: selectedModule_SelectedDof().servo().pin, valueUpdate: 'input'">
						</span>
						<span class="setting">
							<span>Mid:
							</span><input type="number" min="500" max="2500" step="5" name="mid" data-bind="value: selectedModule_SelectedDof().servo().mid, valueUpdate: 'input'"></span>
						<span class="setting">
							<span>Min:
							</span><input type="number" min="-2000" max="2000" step="5" name="min" data-bind="value: selectedModule_SelectedDof().servo().min, valueUpdate: 'input'"></span>
						<span class="setting">
							<span>Max:
							</span><input type="number" min="-2000" max="2000" step="5" name="max" data-bind="value: selectedModule_SelectedDof().servo().max, valueUpdate: 'input'"></span>
					</div>

					<span class="setting">
						<span>Mapping:
						</span><input type="checkbox" name="mapping" class="checkbox" data-bind="checked: selectedModule_SelectedDof().isMap"/></span>
					<div id="mapping" data-bind="visible: selectedModule_SelectedDof().isMap()">
						<span class="setting">
							<span>Neutral:
							</span><input type="number" min="-1" max="1" step="0.05" name="neutral" data-bind="event: { input: updateDofVisualisation(-1) }, value: selectedModule_SelectedDof().map().neutral, valueUpdate: 'input'"></span>

						<div id="poly_screen"></div>
					</div>
				</div>
			</form>
		</div>
	</div>

{% endblock %}

{% block app_scripts %}
	<script>
		// action_data = {{ actions|safe }};
		var data = {{ data | safe }};
		config_data = {{ config | safe }};
		//modules_name = {{ modules|safe }}; skins_name = {{ skins|safe }};
	</script>
{% endblock %}

{% block app_modals %}{% endblock %}
