.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}


.password{
    position: relative;
}

.password input[type="password"]{
    padding-right: 30px;
}

.password .fa {
    display:none;
    right: 15px;
    position: absolute;
    top: 12px;
    cursor:pointer;
}

.sr{
	height: 37px;
	padding-top: 10px;
}

.inline{
	display: flex;
}

.info{
    font-size: 12px;
    display: block;
    margin: -10px 0 15px 5px;
    color: #666;
}

/*#successful{
    display: block;
}*/

.actionbar{
    color:white;
    text-align: center;
}


