{% extends "app.html" %}

{% block base_toolbar %}
{% endblock %}

{% block page_content %}
{{ super() }}
	<div class="row">
			<div class="content">
				<div class="row1">
					<a href="/app/verhaaltje"><div class="block"><span class="fa fa-book"></span><span class="appname">Verhaaltjestijd</span></div></a>

					<a href="/app/rekenwereld"><div class="block"><span class="fa fa-calculator"></span><span class="appname">Rekenwereld</span></div></a>
				</div>
				<div class="row2">
					<a href="/app/tiktak"><div class="block"><span class="fa fa-clock-o"></span><span class="appname">Tiktak</span></div></a>

					<a href="/app/geheugen"><div class="block"><span class="fa fa-gamepad"></span><span class="appname">Geheugenkoning</span></div></a>
				</div> 
			</div>
	</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<!--
<script src="static/javascript.js"></script>
-->

<script>
var action_data = {{ actions|tojson|safe }};

var data = {{ data|tojson|safe }};
</script>

{% endblock %}

{% block modals %}
{{ super() }}
<div id="popup_window" class="reveal-modal" data-reveal>
	<div class="titlebar">
		<a class="close-reveal-modal"><span class="fa fa-close"></span></a>
		<span class="fa fa-cogs"></span> Popup window!
	</div>
	<div class="content">
		<p>This is a popup window.</p>
		<form>
			<div class="row collapse">
				<div class="small-9 columns">
					<input type="text" name="text" class="error" style="width: 100%;" data-bind="value: popupTextInput">
					<small class="error hide"></small>
				</div>
				<div class="small-3 columns">
					<a href="#" class="button" style="width: 100%;" data-bind="click: popupButtonHandler()"><span class="fa fa-save"></span> Save</a>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}
