{% extends "app_base.html" %}

{% block base_toolbar %}
	{% include "toolbar/file_operations.html" %}
{% endblock %}

{% block head %}
	{{ super() }}

	<!-- <script src="/static/js/paper/paper-full.js"></script> -->
	<!-- <script data-paper-ignore="true" type="text/paperscript" src="static/canvas.js" data-paper-canvas="cnvConfig"></script> -->

	<script src="/static/js/svg/svg.min.js"></script>
	<script src="/static/js/svg/svg.draggable.min.js"></script>
	<script src="static/modules.js"></script>
{% endblock %}

{% block page_content %}
	{{ super() }}

	<div id="model_screen"></div>
	<div class="config_settings" data-bind="visible: !isSelectedModule()">
		<form>
			<span class="setting">
				<span>Robot:
				</span>
				<input type="text" name="robot_name" data-bind="event: { input: function() { fileIsModified(true) }}, value: name, valueUpdate: 'input'">
			</span>
			<span class="setting">
				<span>Grid size:
				</span>
				<input type="number" min="1" max="100" step="1" name="mid" data-bind="value: gridSize, valueUpdate: 'input'">
				<a href="#" class="button secondary" data-bind="click: function() { fileIsModified(true); redraw(); }">
					<span class="fa fa-check"></span>
				</a>
			</span>
			<span class="setting">
				<span>Skin:
				</span>
				<select data-bind="event: { input: function() { fileIsModified(true); redraw(); }}, click: function() { fileIsModified(true); redraw(); }, value: skin, foreach: allSkins">
					<option data-bind="text: $data, value: $data"></option>
				</select>
			</span>

			<span class="setting">
				<span>Modules:
				</span>
				<div id="modules_screen"></div>
			</span>
		</form>
	</div>
	<div class="config_settings" data-bind="visible: isSelectedModule()">
		<form>
			<span class="setting">
				<span>Module:
				</span>
				<span data-bind="text: selectedModule().module"></span>
				<a href="#" class="button alert" data-bind="click: selectedModule_Remove">
					<span class="fa fa-trash"></span>
				</a>
			</span>
			<span class="setting">
				<span>Name:
				</span><input type="text" name="name" data-bind="value: selectedModule().name, valueUpdate: 'input'"></span>
			<span class="setting">
				<span>Width:</span>
				<input type="number" min="1" max="2000" step="1" name="mid" data-bind="event: { input: updateDofVisualisation(-1) }, value: selectedModule().width, valueUpdate: 'input'">
			</span>
			<span class="setting">
				<span>Height:</span>
				<input type="number" min="1" max="2000" step="1" name="mid" data-bind="event: { input: updateDofVisualisation(-1) }, value: selectedModule().height, valueUpdate: 'input'">
			</span>
			<!-- <span class="setting">
				<span>Rotate:
				</span>
				<a href="#" class="button" data-bind="click: selectedModule_RotateRight">
					<span class="fa fa-rotate-right"></span>
				</a>
				<a href="#" class="button" data-bind="click: selectedModule_RotateLeft">
					<span class="fa fa-rotate-left"></span>
				</a>
			</span> -->
			<span class="setting">
				<span>Dofs:
				</span>
				<select data-bind="click: mappingGraph.updateGraph, value: selectedModule_SelectedDof, foreach: selectedModule().dofs">
					<option data-bind="text: name, value: $data"></option>
				</select>
				<!-- <a href="#" class="button secondary" data-bind="click: selectedModule_AddDof"><span class="fa fa-plus"></span></a> -->
			</span>

			<div id="dofs">
				<span class="setting">
					<span>Name:
					</span><input type="text" name="dof_name" data-bind="value: selectedModule_SelectedDof().name, valueUpdate: 'input'">
					<!-- <a href="#" class="button alert" data-bind="click: selectedModule_RemoveDof"><span class="fa fa-trash"></span></a> -->
				</span>

				<span class="setting">
					<span>Servo:
					</span><input type="checkbox" name="servo" class="checkbox" data-bind="checked: selectedModule_SelectedDof().isServo"/></span>
				<div id="servo" data-bind="visible: selectedModule_SelectedDof().isServo()">
					<span class="setting">
						<span>Pin:
						</span>
						<input type="number" min="0" max="15" step="1" name="pin" data-bind="event: { input: updateServoPin }, value: selectedModule_SelectedDof().servo().pin, valueUpdate: 'input'">
					</span>
					<span class="setting">
						<span>Mid:
						</span><input type="number" min="500" max="2500" step="5" name="mid" data-bind="event: { input: updateServoMid }, value: selectedModule_SelectedDof().servo().mid, valueUpdate: 'input'"></span>
					<span class="setting">
						<span>Min:
						</span><input type="number" min="-2000" max="2000" step="5" name="min" data-bind="event: { input: updateServoMin }, value: selectedModule_SelectedDof().servo().min, valueUpdate: 'input'"></span>
					<span class="setting">
						<span>Max:
						</span><input type="number" min="-2000" max="2000" step="5" name="max" data-bind="event: { input: updateServoMax }, value: selectedModule_SelectedDof().servo().max, valueUpdate: 'input'"></span>
				</div>

				<span class="setting">
					<span>Mapping:
					</span><input type="checkbox" name="mapping" class="checkbox" data-bind="checked: selectedModule_SelectedDof().isMap"/></span>
				<div id="mapping" data-bind="visible: selectedModule_SelectedDof().isMap()">
					<span class="setting">
						<span>Neutral:
						</span><input type="number" min="-1" max="1" step="0.05" name="neutral" data-bind="event: { input: updateDofVisualisation(-1) }, value: selectedModule_SelectedDof().map().neutral, valueUpdate: 'input'"></span>

					<div id="poly_screen"></div>
				</div>
			</div>
		</form>
	</div>
<!-- <svg id="mysvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800" height="600">
<image x="0" y="0" width="200" height="200" xlink:href="static/images/eye.svg" />

</svg> -->

{% endblock %}

{% block scripts %}
{{ super() }}

<script>
	action_data = {{ actions|tojson|safe }};
	// var data = {{ data|tojson|safe }};
	modules_name = {{ modules|tojson|safe }};
	skins_name = {{ skins|tojson|safe }};
</script>

{% endblock %}

{% block modals %}
{{ super() }}

{% endblock %}
