{% extends "app_base.html" %}
{% block app_head %}{% endblock %}

{% block app_toolbar %}

{% endblock %}

{% block app_content %}

<style type="text/css"> @import url("/static/js/remodal_dist/remodal.css"); </style>
<style type="text/css"> @import url("/static/js/remodal_dist/remodal-default-theme.css"); </style>

<form data-abide method="post" id="telegram-form">
<div class="remodal-bg main alert" data-bind="with popup">
	<!-- <p onclick=" loadingNew()" > Modal №1</p><br> -->
		<!-- <p onclick=" loadingNew()" > Modal №1</p><br> -->

	<ul class="accordion" data-responsive-accordion-tabs="tabs small-accordion medium-tabs large-tabs" id="telegram-tabs">
		<li class="accordion-item is-active" data-accordion-item>
 		 <a href="#general">
 			 <span class="fa fa-fw fa-commenting"></span> Messages
 		 </a>
 		 <div class="accordion-content" data-tab-content>

 			 <fieldset data-bind="with: general">
 				 <legend>
 					 <span class="fa fa-commenting"></span>
 					 Messages
 				 </legend>
 				 <div class="row">
 					 <div id="messages" class="chat">

						 <div class="chatbox chatbox_you">
						 	<div class="bubblebox">
						 		 <span class="chatname">Naam</span>
						 		<div class="bubble you">Awesome.</div>
						 		<span class="time">12/06/2017 12:34</span>
						 	</div>
						 	<span class="bubble_head"></span>
						 	<!-- <a href="#" class="repeat"></a> -->
						 </div>

						 <div class="chatbox chatbox_me">
							 <div class="bubblebox">
								 <span class="chatname">Naam</span>
									<div class="bubble me">Hi. I'm an expandeable chat box   with box shadow. How are you? I expand horizontally and   vertically, as you can see here. Hi. I'm an expandeable chat box   with box shadow. How are you? I expand horizontally and   vertically, as you can see here. Hi. I'm an expandeable chat box   with box shadow. How are you? I expand horizontally and   vertically, as you can see here.</div>
								 <span class="time">12/06/2017 12:34</span>
							 </div>
							 <span class="bubble_head"></span>
						 </div>

						 <div class="chatbox chatbox_you">
							 <div class="bubblebox">
								 <span class="chatname">Naam</span>
								 <div class="bubble you">Hello there!</div>
								 <span class="time">12/06/2017 12:34</span>
							 </div>
							 <span class="bubble_head"></span>
							 <!-- <a href="#" class="repeat"></a> -->
						 </div>

 					 </div>
 				 </div>
 				 </fieldset>
 		 </div>
 	 </li>

	  <li class="accordion-item" data-accordion-item>
			<a href="#contacts" class="accordion-title">
				<span class="fa fa-fw fa-magic"></span> Contacts
			</a>
			<div data-bind="with: contacts" class="accordion-content" data-tab-content>
				<fieldset>
					<legend>
						<span class="fa fa-cog"></span>
						Overview
					</legend>

					<div class="contacts">
						<div id="contacts">
							<!-- de objecten (lijst) hier inladen -->
							<ul class="contacts contact_list" id="contact_list" data-bind="template: {name: 'contactTemplate', foreach: contacts()}"></ul>
						</div>
					</div>
				</fieldset>

				<fieldset>
					<legend>
						<span class="fa fa-cloud-download"></span>
						Add
					</legend>

					<article class="addContact">
						<div class="row">
							<div class="small-4 medium-4 large-4 columns">
								<label for="name" class="text-right inline">Name</label>
							</div>
							<div class="small-8 medium-6 large-4 columns end">
								<input type="text" id="name" name="name" value="" data-bind="value: conName"maxlength="20" required pattern="[a-zA-Z]+">
								<small class="error">A valid name is required</small>
							</div>
						</div>

						<div class="row">
							<div class="small-4 medium-4 large-4 columns">
								<label for="lastname" class="text-right inline">lastname</label>
							</div>
							<div class="small-8 medium-6 large-4 columns end">
								<input type="text" id="lastname" name="lastname" value="" data-bind="value: lastname" maxlength="20" required pattern="[a-zA-Z]+">
								<small class="error">A valid lastname is required</small>
							</div>
						</div>

						<div class="row">
							<div class="text-center">
								<!-- <a href="#" data-open="UpdateModal" class="action button" style="padding-left: 2rem; padding-right: 2rem;"> -->
								<a class="action button" data-bind="click: save" style="padding-left: 2rem; padding-right: 2rem;">
									<span class="fa fa-save"></span>
									 &nbsp;Save!</a>
								<span id="error_contacts" class="error"></span>
							</div>
						</div>
					</article>
				</fieldset>
	    </div>
		</li>

	  <li class="accordion-item" data-accordion-item>
			<a href="#blocked" class="accordion-title">
				<span class="fa fa-fw fa-shield"></span> Blocked
			</a>
			<div class="accordion-content" data-tab-content data-bind="with: bans">
				<fieldset>
					<legend>
						<span class="fa fa-key"></span>
						Blocked
					</legend>
					<div class="bans">
						<div id="bans">

							<!-- inladen van onze objecten via de json  -->
							<ul class="bans ban_list" data-bind="template: {name: 'banlistTemplate', foreach: bans}"></ul>

						</div>
					</div>
				</fieldset>
				<!-- <fieldset>
					<legend>
						<span class="fa fa-cloud-download"></span>
						Add
					</legend>
					<form class="addBan">

						<div class="row">
							<div class="small-4 medium-4 large-4 columns">
								<label for="phoneBan" class="text-right inline">Number</label>
							</div>
							<div class="small-8 medium-6 large-4 columns end">
								<input type="text" id="phoneBan" name="phoneBan" value="" data-bind="value: phoneBan" maxlength="14" required pattern="[0-9]">
								<small class="error">A valid number is required</small>
							</div>
						</div>

						<div class="small-4 medium-4 large-4 columns">
							<label for="name" class="text-right inline">Name</label>
						</div>
						<div class="small-8 medium-6 large-4 columns end">
							<input type="text" id="nameBan" name="nameBan" value="" data-bind="value: nameBan" maxlength="20" required pattern="[a-zA-Z]+">
							<small class="error">A valid name is required</small>
						</div>
					</div>

					<div class="row">
						<div class="small-4 medium-4 large-4 columns">
							<label for="lastname" class="text-right inline">lastname</label>
						</div>
						<div class="small-8 medium-6 large-4 columns end">
							<input type="text" id="lastnameBan" name="lastnameBan" value="" data-bind="value: lastnameBan" maxlength="20" required pattern="[a-zA-Z]+">
							<small class="error">A valid lastname is required</small>
						</div>
					</div>

						<div class="row">
							<div class="text-center">
								<a class="action button" data-bind="click: saveBan" style="padding-left: 2rem; padding-right: 2rem;">
									<span class="fa fa-save"></span>
									 &nbsp;Save!</a>
									 <span id="error_phoneban" class="error"></span>
							</div>
						</div>
					</form>

				</fieldset> -->
	    </div>
		</li>
	</ul>
</div>
</form>

<!-- <div class="remodal-bg alert">
  <a href="#modal">Modal №1</a><br>
</div> -->

<div class="remodal" data-bind="with: popup" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
    <h2 id="modal1Title">Remodal</h2>
    <p id="modal1Desc">
    </p>
  </div>
  <br>
  <button data-remodal-action="cancel" class="remodal-cancel">block person</button>
  <button data-remodal-action="confirm" class="remodal-confirm">Add to person to Contacts</button>
</div>


{% endblock %}
{% block app_modals %}

<!-- het app model voor de toegevoegde objecten -->
<script id="contactTemplate" type="text/template">
  <li class="contact-container">
    <div class="contact">
      <span class="personIcon"></span>
      <div class="contact_data">
        <p>Name: <span class="name" data-bind="text: conName"></span></p>
        <p>Lastname: <span data-bind="text: lastname"></span></p>
        <a class="removeItem" data-bind="click: $parent.removeItem" href="#">Delete</a>
      </div>
	  </div>
  </li>
</script>

<script id="banlistTemplate" type="text/template">
  <li class="ban-container">
    <div class="blacklist">
      <span class="banIcon"></span>
      <div class="ban_data">
        <p>
          Name:
          <span data-bind="text: banName"></span>
					<span data-bind="text: banLastname"></span>
          <a class="removeBanItem" data-bind="click: $parent.removeBanItem" href="#">Delete</a>
        </p>
      </div>
  	</div>
  </li>
</script>



{% endblock %}
{% block app_scripts %}

<script src="/static/js/remodal_dist/remodal.min.js"></script>
<script type="text/javascript">

$(document).on('confirmation', '.remodal', function () {

	addNewContact();
	$('#modal1Desc').empty();
});

$(document).on('cancellation', '.remodal', function () {

	addBlockPerson();
	$('#modal1Desc').empty();$('#modal1Desc').empty();
});
</script>

<!-- het load script voor de opgeslane json in te laden -->
<script>
	var app_formatted_name = "{{ app.formatted_name }}";

	//var action_data = {{ actions|tojson|safe }};
	$(window).bind("load", function() {
		loadingData();
	});
</script>


{% endblock %}
