$fonts: (
  header  : 'Avenir Next',
  text    : 'Avenir Next',
  emoji   : 'EmojiOne',
  awesome : normal normal normal 14px/1 FontAwesome,
);

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-DemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'EmojiOne';
    src: url('../fonts/emojione-svg.woff2') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@function font($key) {
  @if map-has-key($fonts, $key) {
    @return map-get($fonts, $key);
  }

  @warn "Unknown `#{$key}` in $fonts.";
  @return 'Avenir Next';
}
