$rounding: (
  micro   : .25rem,
  mini    : .5rem,
  small   : .7rem,
  medium  : 1rem,
  large   : 1.5rem,
  all     : 50%,
  app     : .7rem,
);

@mixin no_selection() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

@mixin round-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin round-corners-left($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin round-corners-right($radius) {
	-webkit-border-top-right-radius: $radius;
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-radius-topright: $radius;
	-moz-border-radius-bottomright: $radius;
	border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin round-corners-top($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-topright: $radius;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin round-corners-bottom($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -moz-border-radius-bottomright: $radius;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin shadow() { // OLD OLD OLD
  // box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  // -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  // -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, .8);
  -moz-box-shadow: 3px 3px 2px rgba(0, 0, 0, .8);
  box-shadow: 3px 3px 2px rgba(0, 0, 0, .8);
}

@mixin light-shadow() {
  -webkit-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, .1);
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, .1);
}
@mixin app-shadow() {
  // -webkit-box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, .1);
  // -moz-box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, .1);
  // box-shadow: 0px 1px 4px 8px rgba(0, 0, 0, .1);

  -webkit-box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, .8);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, .8);
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}
@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }
  @include optional-at-root(':-moz-placeholder') {
    @content;
  }
  @include optional-at-root('::-moz-placeholder') {
    @content;
  }
  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@function rounding($key) {
  @if map-has-key($rounding, $key) {
    @return map-get($rounding, $key);
  }

  @warn "Unknown `#{$key}` in $rounding.";
  @return '';
}
