$colors: (
  green               : #00E58B, //22b472
  green_dark          : #22774D,
  blue                : #0095FF, //36c9ff
  orange              : #FFAF19,
  red                 : #FF517E,
  yellow              : #FFF222,
  gray_lighter        : #F2F2F2,
  gray_light          : #C7C8C9,
  gray                : #DDD,
  gray_dark           : #313334, //27292a
  gray_darker         : #1C1D1D, //27292a
  white               : #FFF,
  button_icon         : #FFF,
  button_text         : #313334,
  button_background   : #313334,
  global_text         : #27292a,
  global_background   : #FFF,
  statusbar_text      : #313334,
  statusbar_text_hover: #1C1D1D,
  statusbar_background: #E8E8E8,
  actionbar_text      : #313334,
  actionbar_text_hover: #1C1D1D,
  actionbar_background: #CCC,
  reveal_red          : #b2382a,
  reveal_green        : #38b22a,
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return #666;
}
