@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-DemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'EmojiOne';
  src: url("../fonts/emojione-svg.woff2") format("truetype");
  font-weight: 700;
  font-style: normal; }

html {
  height: 100%;
  min-height: 100%; }

body {
  color: #27292a;
  background: #FFF;
  font-family: "Avenir Next" !important;
  font-size: 1rem;
  height: 100%;
  min-height: 100%; }

body > div {
  height: 100%;
  min-height: 100%; }

article,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
span {
  font-family: "Avenir Next"; }

hr {
  width: 100%;
  font-size: 10rem;
  font-weight: bold;
  border: 0;
  border-bottom: 1px solid #ccc;
  background: #999; }

a {
  outline: 0; }

svg {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */ }

.wrapper {
  min-height: calc(100vh - 6.5rem); }

footer {
  font-size: 0.8rem;
  background-color: #313334;
  height: 6.5rem;
  clear: both;
  overflow: hidden; }
  footer section {
    margin-bottom: 0;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    color: #DDD; }
  footer a {
    color: #DDD;
    font-weight: normal; }
  footer a:hover {
    color: #666 !important;
    text-decoration: underline; }
  footer .footer-col {
    padding: 0 5rem;
    height: 8rem; }
  footer .footer-col > div {
    padding: 0 1.2rem; }
  footer ul {
    list-style-type: none; }
  footer h1 {
    font-size: 1rem;
    color: #888;
    text-align: left;
    text-transform: uppercase; }
  footer form {
    margin-top: 1rem; }
    footer form input[type=text] {
      font-size: 0.8rem;
      height: 1.8rem;
      background-color: #1C1D1D;
      border: none;
      padding-left: 0.8rem;
      -webkit-border-top-left-radius: 0.9rem;
      -webkit-border-bottom-left-radius: 0.9rem;
      -moz-border-radius-topleft: 0.9rem;
      -moz-border-radius-bottomleft: 0.9rem;
      border-top-left-radius: 0.9rem;
      border-bottom-left-radius: 0.9rem; }
    footer form input[type=text]:focus {
      box-shadow: none;
      background-color: #888; }
      footer form input[type=text]:focus::-webkit-input-placeholder {
        color: #313334; }
      footer form input[type=text]:focus:-moz-placeholder {
        color: #313334; }
      footer form input[type=text]:focus::-moz-placeholder {
        color: #313334; }
      footer form input[type=text]:focus:-ms-input-placeholder {
        color: #313334; }
    footer form .button {
      background-color: #1C1D1D;
      color: #DDD;
      font-size: 1rem;
      height: 1.8rem;
      padding: 0.3rem 0.8rem 0.3rem 0.5rem;
      -webkit-border-top-right-radius: 0.9rem;
      -webkit-border-bottom-right-radius: 0.9rem;
      -moz-border-radius-topright: 0.9rem;
      -moz-border-radius-bottomright: 0.9rem;
      border-top-right-radius: 0.9rem;
      border-bottom-right-radius: 0.9rem; }
    footer form .button:hover {
      color: #fff;
      background-color: #FF517E; }
  footer .logo {
    margin: 0;
    width: 100%;
    max-width: 100%;
    background-color: #1C1D1D;
    text-align: center;
    padding: 1rem;
    color: #666;
    font-size: 0.8rem; }
    footer .logo img {
      max-width: 3.5rem;
      margin-bottom: 0.5rem; }

h1, h2 {
  text-transform: uppercase; }

h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: #313334; }

h2 {
  text-align: left;
  margin: 0.5rem 0;
  font-size: 2rem;
  font-weight: bold;
  color: #313334; }

h3 {
  font-size: 1.2rem;
  font-weight: bold; }

img {
  margin-left: auto;
  margin-right: auto;
  padding: 0; }

section {
  margin: 0 auto 4rem auto; }

article {
  padding: 1rem;
  margin: 0 auto;
  text-align: justify; }

p {
  padding: 0;
  margin: 0.5rem 0; }

a {
  text-decoration: none;
  font-weight: bold;
  color: #27292a; }

fieldset legend {
  background-color: transparent;
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin-top: 0 !important;
  padding: 0 .5rem; }

.tabs {
  width: 100% !important;
  max-width: 100% !important; }
  .tabs .tab-title > a {
    padding: 1rem 1rem; }

.tabs-content .content {
  padding-top: 0; }

.nav {
  width: 100%; }
  .nav img {
    float: left; }
  .nav ul {
    float: right; }
    .nav ul li {
      float: left;
      margin: 1rem;
      list-style-type: none; }
      .nav ul li a,
      .nav ul li a:visited {
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        color: #FFF; }

.row {
  max-width: 75rem; }

.background_green {
  background-color: #00E58B !important; }

.background_blue {
  background-color: #0095FF !important; }

.background_orange {
  background-color: #FFAF19 !important; }

.background_red {
  background-color: #FF517E !important; }

.background_yellow {
  background-color: #FFF222 !important; }

.background_gray_light {
  background-color: #C7C8C9 !important; }

.background_gray_dark {
  background-color: #313334 !important; }

.color_green {
  color: #00E58B; }

.color_blue {
  color: #0095FF; }

.color_orange {
  color: #FFAF19; }

.color_red {
  color: #FF517E; }

.color_yellow {
  color: #FFF222; }

.color_gray_light {
  color: #C7C8C9;
  background-color: #313334; }

.color_gray_light h1 {
  color: #C7C8C9; }

.color_gray_light a {
  color: #C7C8C9; }

.color_gray_dark {
  color: #313334; }

.color_white {
  color: #FFF; }

.text_caps {
  text-transform: uppercase; }

.text_center {
  text-align: center;
  vertical-align: middle; }

.box_center {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.side_right {
  float: right;
  text-align: right; }

.full_width {
  max-width: 100%; }

.full_width * {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto; }

.nopadding {
  padding: 0; }

.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.rectangle {
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem; }

.btn {
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  background-color: #0095FF;
  color: #C7C8C9;
  font-weight: bold;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  border-radius: 0.7rem;
  white-space: nowrap;
  overflow: hidden; }

.online {
  color: #00E58B; }

.offline {
  color: #FF517E; }

#header_main {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 3.5rem;
  padding: 0 1rem;
  background-color: #313334;
  z-index: 9; }
  #header_main nav .logo {
    width: 2.5rem;
    height: 2rem;
    margin: 0.75rem 0.75rem 0.75rem 0rem;
    display: inline-block;
    background-image: url("../images/logo/opsoro_icon_light.png");
    background-size: cover; }
  #header_main nav a.active, #header_main nav a.active:visited {
    border-bottom: 2px solid; }

#header_main.on-top {
  background: none; }
  #header_main.on-top nav ul li a {
    color: #313334; }
  #header_main.on-top nav .logo {
    background-image: url("../images/logo/opsoro_icon_dark.png"); }

#header_play {
  position: relative;
  top: .8rem;
  overflow: hidden;
  max-width: 75rem;
  height: 4rem;
  margin: 0 auto 2rem;
  background-color: #E8E8E8;
  color: #313334;
  padding: .2rem 1.4rem 0;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  border-radius: 2.5rem; }
  #header_play div {
    padding: 0; }
  #header_play .icon {
    float: left; }
  #header_play p {
    line-height: normal;
    float: left;
    padding: 0; }
  #header_play input[type=text] {
    font-weight: bold;
    font-size: 1rem;
    height: 2.6rem;
    background-color: #FFF;
    border: none;
    padding-left: 1rem;
    margin-top: .5rem;
    color: #313334;
    -webkit-border-radius: 1.3rem;
    -moz-border-radius: 1.3rem;
    border-radius: 1.3rem; }
    #header_play input[type=text]::-webkit-input-placeholder {
      color: #313334; }
    #header_play input[type=text]:-moz-placeholder {
      color: #313334; }
    #header_play input[type=text]::-moz-placeholder {
      color: #313334; }
    #header_play input[type=text]:-ms-input-placeholder {
      color: #313334; }
    #header_play input[type=text]:focus {
      box-shadow: none;
      background-color: #C7C8C9; }
      #header_play input[type=text]:focus::-webkit-input-placeholder {
        color: #313334; }
      #header_play input[type=text]:focus:-moz-placeholder {
        color: #313334; }
      #header_play input[type=text]:focus::-moz-placeholder {
        color: #313334; }
      #header_play input[type=text]:focus:-ms-input-placeholder {
        color: #313334; }
  #header_play ul {
    text-align: center;
    margin: 0; }
    #header_play ul li {
      margin: 0; }
  #header_play .icon {
    margin: 0.6rem 0.5rem 0 0;
    font-size: 2.4rem; }
  #header_play #status {
    text-transform: uppercase;
    font-weight: bold; }
  #header_play #comment .icon {
    margin: 0.1rem 0.2rem 0 0;
    font-size: 1.1rem; }
  #header_play a {
    margin: 0;
    padding: 0;
    color: #313334; }
    #header_play a .icon {
      margin: .6rem 0 0.5rem 1rem;
      font-size: 2.3rem; }
  #header_play .status {
    margin: 0.5rem 0; }

.sidebar_left,
.sidebar_right {
  position: fixed;
  /*padding-top: 1rem;*/
  z-index: 8;
  top: 50px;
  bottom: 0;
  left: 0;
  display: block;
  overflow: visible;
  overflow: auto;
  max-width: 13rem;
  padding: 1rem;
  /*width: 15rem;*/
  /*text-align: justify;*/
  /*opacity: .3;*/
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  /*background-color: #fff;*/
  -webkit-box-shadow: 0 0 3px 1px;
  -moz-box-shadow: 0 0 3px 1px;
  box-shadow: 0 0 3px 1px; }
  .sidebar_left:empty,
  .sidebar_right:empty {
    display: none; }

.sidebar_right {
  right: 0;
  left: auto; }

.container {
  position: relative;
  max-width: 75rem;
  margin-top: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0; }

.announcements {
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  /*padding-top: 1rem;*/
  text-align: center; }

.announcement {
  position: relative;
  /*z-index: 2;*/
  /*float: right;*/
  max-width: 40rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0.75rem;
  text-align: center;
  -webkit-border-top-left-radius: 0.8rem;
  -moz-border-radius-topleft: 0.8rem;
  border-top-left-radius: 0.8rem;
  -webkit-border-top-right-radius: 0.8rem;
  -moz-border-radius-topright: 0.8rem;
  border-top-right-radius: 0.8rem;
  color: #fff;
  background-color: #333;
  -webkit-box-shadow: 0 0 3px 1px;
  -moz-box-shadow: 0 0 3px 1px;
  box-shadow: 0 0 3px 1px; }
  .announcement .btn {
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 2.75rem;
    height: 2.75rem;
    padding: 0;
    color: #fff;
    border-style: none;
    background-color: transparent; }
    .announcement .btn:active, .announcement .btn:hover {
      font-size: 2.1rem;
      color: #fff;
      border-style: none;
      background-color: transparent; }

.apps {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0; }
  .apps .app_container {
    margin: 0 auto 1rem; }
    .apps .app_container a {
      float: none; }
      .apps .app_container a:hover {
        text-decoration: none;
        color: #313334 !important; }
        .apps .app_container a:hover .app_icon {
          color: #FFF !important;
          font-size: 5rem;
          margin: 1rem auto; }
    .apps .app_container .app_button {
      position: relative;
      display: block;
      overflow: hidden;
      width: 7rem;
      height: 7rem;
      margin: 0 auto;
      text-align: center;
      vertical-align: middle;
      opacity: 1;
      background-color: #313334;
      -webkit-border-radius: 0.7rem;
      -moz-border-radius: 0.7rem;
      border-radius: 0.7rem;
      -webkit-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.1); }
      .apps .app_container .app_button .app_icon {
        color: #FFF !important;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 4rem;
        display: inline-block;
        width: 100%;
        margin: 1.5rem auto; }
      .apps .app_container .app_button .app_banner {
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1rem; }
    .apps .app_container .app_label {
      color: #313334;
      font-size: 1rem;
      font-weight: normal;
      overflow: hidden;
      width: 100%;
      text-align: center; }

.reveal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  left: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  color: #4d4d4d;
  border: 0;
  border-radius: 0.75rem;
  background: #fff;
  -webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8); }
  .reveal .titlebar {
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    padding: 0.5rem;
    text-align: center;
    color: #fff;
    border-bottom: 0.25rem solid #545454;
    -webkit-border-top-left-radius: 0.5rem;
    -moz-border-radius-topleft: 0.5rem;
    border-top-left-radius: 0.5rem;
    -webkit-border-top-right-radius: 0.5rem;
    -moz-border-radius-topright: 0.5rem;
    border-top-right-radius: 0.5rem;
    background: #b2afa1; }
    .reveal .titlebar.red {
      border-bottom: 0.25rem solid #79261d;
      background: #b2382a; }
    .reveal .titlebar.green {
      border-bottom: 0.25rem solid #26791d;
      background: #38b22a; }
  .reveal .content {
    padding: 1rem; }
  .reveal .close-button {
    font-size: 2rem;
    font-weight: normal;
    position: absolute;
    top: 1rem;
    right: auto;
    left: 1rem;
    cursor: pointer;
    color: #fff; }
    .reveal .close-button:hover {
      font-size: 2.5rem;
      top: 0.75rem;
      left: 0.75rem; }
  .reveal .btnClose {
    font-size: 2rem;
    font-weight: normal;
    position: absolute;
    top: 0.5rem;
    right: auto;
    left: 1rem;
    cursor: pointer;
    color: #fff; }
    .reveal .btnClose:hover {
      font-size: 2.5rem;
      top: 0.25rem;
      left: 0.75rem; }
  .reveal .big-button {
    width: 7rem;
    height: 7rem;
    background-color: #313334;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    border-radius: 0.7rem; }
    .reveal .big-button .icon {
      color: #FFF !important;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 3rem;
      display: inline-block;
      width: 100%;
      margin: .5rem auto; }
    .reveal .big-button .text {
      color: #FFF;
      font-weight: normal;
      overflow: hidden;
      width: 100%;
      text-align: center; }
    .reveal .big-button:hover {
      text-decoration: underline;
      color: #313334 !important; }
      .reveal .big-button:hover .app_icon {
        color: #FFF !important;
        font-size: 4rem;
        margin: 0 auto; }

.float_right {
  float: right; }

.actionbar {
  min-height: 4rem;
  margin: -0.5rem 0 1rem;
  padding: 0.5rem 1rem;
  background: #23774e;
  border-radius: 0.5rem; }
  .actionbar .action {
    display: inline-block;
    min-width: 3rem;
    padding: 0 0.5rem;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem; }
    .actionbar .action .text {
      font-size: 0.75rem;
      font-weight: bold;
      text-transform: uppercase; }
  .actionbar .action.active,
  .actionbar .action:hover {
    color: #4d4d4d;
    background: #fff; }
  .actionbar .spacer {
    display: inline-block;
    width: 2rem; }
  .actionbar .filebox {
    display: inline-block;
    overflow: hidden;
    min-width: 7rem;
    max-width: 20rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff; }
    .actionbar .filebox .filename {
      font-weight: bold;
      text-transform: uppercase; }
    .actionbar .filebox .status {
      font-size: 0.75rem;
      font-weight: bold;
      text-transform: uppercase; }
  .actionbar:empty {
    display: none; }

.contentwrapper * {
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important; }

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #C7C8C9;
  padding: 0;
  margin: 0;
  z-index: 9; }
  .fullscreen .contentwrapper {
    height: calc(100vh - 4rem - 4.15rem); }
  .fullscreen .console {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .fullscreen .actionbar {
    margin: 0;
    border-radius: 0; }
  .fullscreen .container {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    height: 100%; }

.filebrowser {
  position: fixed;
  /*top: 5rem;*/
  right: 1rem;
  bottom: 3rem;
  left: 1rem; }
  .filebrowser .content {
    position: absolute;
    top: 4rem;
    bottom: 0;
    width: 100%; }
  .filebrowser .actionbar .actionBarItem {
    position: relative;
    float: left;
    min-width: 4rem; }
  .filebrowser .foldercontent {
    position: absolute;
    top: 4.5rem;
    bottom: 0.5rem;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    padding: 0 3rem 3rem; }
    .filebrowser .foldercontent .button {
      font-size: 1.5rem;
      width: 5rem;
      margin-left: 0.5rem;
      padding: .5rem 0; }
    .filebrowser .foldercontent .alert {
      width: 2.5rem; }
    .filebrowser .foldercontent .browseritem {
      width: 100%;
      min-height: 2rem;
      margin: 0.1rem;
      padding: 0.2rem;
      border-radius: 0.25rem; }
      .filebrowser .foldercontent .browseritem:hover {
        background-color: #f2f2f2; }
        .filebrowser .foldercontent .browseritem:hover .browseritemoptions {
          opacity: 1; }
      .filebrowser .foldercontent .browseritem a {
        margin: 0; }
      .filebrowser .foldercontent .browseritem .browseritemname {
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 2rem; }
      .filebrowser .foldercontent .browseritem .browseritemoptions {
        float: right;
        padding: 0.15rem; }
      .filebrowser .foldercontent .browseritem .browseritemoptions {
        -webkit-transition: opacity 0.1s ease-in-out;
        -moz-transition: opacity 0.1s ease-in-out;
        transition: opacity 0.1s ease-in-out;
        opacity: 0; }

#message_popup .content .buttons {
  position: relative;
  text-align: center; }
  #message_popup .content .buttons .button {
    margin-right: 1rem;
    margin-left: 1rem; }

.clickedit span {
  font-size: 1.4rem; }

.clickedit span.fa-pencil {
  margin-left: 0.2rem;
  display: none;
  color: #888; }

.clickedit input {
  height: 2.1rem; }

.clickedit:hover span.fa-pencil {
  display: inline; }

.emoji {
  font-family: 'EmojiOne' !important;
  font-size: 3rem;
  text-align: center;
  display: inline-block; }
