{% extends "app_base.html" %}
{% block app_head %}{% endblock %}

{% block app_toolbar %}

{% endblock %}

{% block app_content %}
<!--
overzicht
blacklist
 -->
<!-- git test-->



<div id="contactTemplate" type="text/template">
  <div class="contact-container">

    <span class="name" data-bind="text: conName"></span>
    <a class="removeItem" data-bind="click: removeItem" href="#">Del</a>
    <a href="#">Edit</a>
        <div class="address" data-bind="text: address"></div>

    <div>
      <dl>
        <dt>Phone:</dt><dd data-bind="text: phone"></dd>
        <dt>Email:</dt><dd><a data-bind="attr: { href: email }, text: email"></a></dd>
      </dl>
    </div>
  </div>

  <div class="cl_wrapper">
    <div class="contacts" data-bind="template: {name: 'contactTemplate', foreach: contacts}"></div>
  </div>
</div>

<div class="container">

  <form class="addContact">
    Contact Name:<br/><input data-bind="value: conName" name="name"/><br/>
    Phone Number:<br/><input data-bind="value: phone" name="phone"/><br/>
    Email:<br/><input data-bind="value: email" name="email"/><br/>
    Address:<br/><input data-bind="value: address" name="address" /><br/>
    <a class="saveButton" data-bind="click: save">SAVE</a>
  </form>
</div>




<div class="main">
	<ul class="accordion" data-responsive-accordion-tabs="tabs small-accordion medium-tabs large-tabs" id="contacts-tabs">
	  <li class="accordion-item is-active" data-accordion-item>
			<a href="#overzicht">
				<span class="fa fa-fw fa-cog"></span> overzicht
			</a>
			<div class="accordion-content" data-tab-content>
				<fieldset>
					<legend>
						<span class="fa fa-cog"></span>
						overzicht
					</legend>


					<div class="contacts">
						<div id="contacts">
							<ul class="contact_list">

								<li class="contacts" data-bind="template: {name: 'contacts', foreach: persons}"></li>

								<div class="contacts" visibility="hidden">
									<span class="personIcon"></span>
									<div class="contact_data">
										<p>Name: <span data-bind="text: personName"></span></p>
										<p>Number: <span data-bind="text: personNumber"></p>
										<a class="removeItem" data-bind="click: removeItem" href="#">Del</a>
									</div>
								</div>

								<li>
									<div class="contact">
										<span class="personIcon"></span>
										<div class="contact_data">
											<p>Name: <span data-bind="text: personName"></span></p>
											<p>Number: <span data-bind="text: personNumber"></p>
											<a href="#">Delete</a>
										</div>
									</div>
								</li>

								<li>
									<div class="contact" id="person">
										<span class="personIcon"></span>
										<div class="contact_data">
											<p>Name</p>
											<p>Number</p>
											<a href="#">Delete</a>
										</div>
									</div>
								</li>
								<li>
									<div class="contact">
										<span class="personIcon"></span>
										<div class="contact_data">
											<p>Name</p>
											<p>Number</p>
											<a href="#">Delete</a>
										</div>
									</div>
								</li><li>
									<div class="contact">
										<span class="personIcon"></span>
										<div class="contact_data">
											<p>Name</p>
											<p>Number</p>
											<a href="#">Delete</a>
										</div>
									</div>
								</li><li>
									<div class="contact">
										<span class="personIcon"></span>
										<div class="contact_data">
											<p>Name</p>
											<p>Number</p>
											<a href="#">Delete</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>


				</fieldset>

				<fieldset >
					<legend>
						<span class="fa fa-cloud-download"></span>
						toevoegen

					</legend>
					<form class="addContact">
						<div class="row">
							<div class="small-4 medium-4 large-4 columns">
								<label for="personName" class="text-right inline">Name</label>
							</div>
							<div class="small-8 medium-6 large-4 columns end">
								<input type="text" id="personName" name="personName" value="" data-bind="value: personName" required pattern="[a-zA-Z]+">
								<small class="error">A valid name is required</small>
							</div>
						</div>

						<div class="row">
							<div class="small-4 medium-4 large-4 columns">
								<label for="number" class="text-right inline">Number</label>
							</div>
							<div class="small-8 medium-6 large-4 columns end">
								<input type="number" id="number" name="number" value="" data-bind="value: personNumber" required pattern="[0-9]*">
								<small class="error">A valid number is required</small>
							</div>
						</div>

						<div class="row">
							<div class="text-center">
								<!-- <a href="#" data-open="UpdateModal" class="action button" style="padding-left: 2rem; padding-right: 2rem;"> -->
								<a class="action button" data-bind="click: save" style="padding-left: 2rem; padding-right: 2rem;">
									<span class="fa fa-save"></span>
									 &nbsp;Save!</a>
							</div>
						</div>
					</form>

				</fieldset>
	    </div>
		</li>








		<li class="accordion-item" data-accordion-item>
			<a href="#blacklist">
				<span class="fa fa-fw fa-cog"></span> blacklist
			</a>
			<div class="accordion-content" data-tab-content>
				<fieldset >
					<legend>
						<span class="fa fa-cog"></span>
						General
					</legend>

					<div class="row">
						<div class="small-4 medium-4 large-4 columns">
							<label for="robotName" class="text-right inline">Robot name</label>
						</div>
						<div class="small-8 medium-6 large-4 columns end">
							<input type="text" id="robotName" name="robotName" value="" required pattern="[a-zA-Z]+">
							<small class="error">A valid name is required</small>
						</div>
					</div>

					<div class="row">
						<div class="small-4 medium-4 large-4 columns">
							<label for="startupApp" class="text-right inline">Startup app</label>
						</div>
						<div class="small-8 medium-6 large-4 columns end">
							<select id="startupApp" name="startupApp" ></select>
						</div>
					</div>

				</fieldset>


				<fieldset >
					<legend>
						<span class="fa fa-cloud-download"></span>
						Update
					</legend>
					<div class="row">
						<div class="small-6 medium-6 large-6 columns">
							<label for="updateBranch" class="text-right inline">Git branch</label>
						</div>
						<div class="small-6 medium-6 large-6 columns end">
							<label for="updateBranch" class="inline" > </label>
						</div>
						<!-- <div class="small-8 medium-6 large-4 columns end">
							<label for="updateBranch" class="text-right inline">Branch</label>
							<label data-bind="text: branch"> </label>
							<select id="updateBranch" name="updateBranch" data-bind="value: branch, foreach: branches">
								<option data-bind="value: $data, text: $data"></option>
							</select>
						</div> -->
					</div>
					<div class="row">
						<div class="small-6 medium-6 large-6 columns">
							<label for="updateRevision" class="text-right inline">Git commit rev.</label>
						</div>
						<div class="small-6 medium-6 large-6 columns end">
							<label for="updateRevision" class="inline" > </label>
						</div>
					</div>
					<div class="row">
						<div class="text-center" >
							<span class="fa fa-cloud-download"></span> Update available!
						</div>
						<div class="text-center" >
							<span class="fa fa-check-circle"></span> Up-to-date!
						</div>
					</div>
					<div class="row">
						<div class="text-center">
							<a class="action button" style="padding-left: 2rem; padding-right: 2rem;">
								<span class="fa fa-refresh"></span>
								UPDATE!</a>
						</div>
					</div>

				</fieldset>
	    </div>
		</li>

	</ul>
</div>

{% endblock %}
{% block app_scripts %}

	<script>

		</script>
{% endblock %}
