{% extends "app_base.html" %}
{% block app_head %}

{% endblock %}

<!-- These sidebars can be removed by removing the block tags -->
{% block sidebar_left %}{% endblock %}
{% block sidebar_right %}{% endblock %}

{% block app_content %}

	<div id="fb-root"></div> <!-- required for the fb init -->

	<div class="upper-section">
		<button class="button" data-bind="css: {success : !loggedIn(), alert : loggedIn()}, click: !loggedIn() ? fbLogin : fbLogout, enable: fbInitialized()">
			<i class="fa fa-facebook big-icon" aria-hidden="true"></i>
			<span data-bind="text: !loggedIn() ? 'Log in' : 'Log out '"></span>
		</button>
	</div>
	<div class="middle-section">
		<div class="start-stream">
			<div>
					<span class="fixed_width" data-bind="visible: !isNewVideo() && (!selectedType() || !(selectedType().text == 'My Page'))">Enter a Facebook ID: </span>
					<span class="fixed_width" data-bind="visible: !isNewVideo() && selectedType() && (selectedType().text == 'My Page')">Your user ID: </span>
					<span class="fixed_width" data-bind="visible: isNewVideo()">Your new live video's ID: </span>

					<input type="text" id="facebookID" data-bind="enable: !isNewVideo(), value: facebookID" required="true" placeholder="Enter your Facebook page id, post id or an existing live_video id ...">
			</div>
			<div>
				<span  class="fixed_width">Is of type: </span>
				<select data-bind="enable: !isNewVideo(), options: ofTypes, optionsText: 'text', value: selectedType"></select>
			</div>
			<button class="button round info" data-bind="css: { success: !isStreaming(), alert: isStreaming() }, click: toggleStreaming, enable: loggedIn() && facebookID()">
				<i class="fa" aria-hidden="true" data-bind="css: {'fa-play' : !isStreaming(), 'fa-stop' : isStreaming()}"></i>
				<span class="text" data-bind="text: !isStreaming() && facebookID() ? 'Start Stream' : 'Stop Stream'"></span>
			</button>
	</div>
		<div class="startnew" data-bind="visible: !isNewVideo()">
			<button class="button info" data-bind="click: startNewLiveStream, enable: loggedIn() && !isStreaming()"> <!-- haakjes voor observables en functions die direct mogen uitgevoerd worden?? -->
				<i class="fa fa-plus big-icon" aria-hidden="true"></i>
				<span class="icon-span">Live Video</span>
			</button>
		</div>
	</div>
	<div class="lower-section" data-bind="visible: isStreaming()">
		<div class="iframe-container" data-bind="visible: selectedType().type=='isVideo', html: embedIframe">

		</div>
		<div data-bind="css:{rightside:selectedType().type=='isVideo'}">
			<p style="float:left" data-bind="visible: selectedType().type=='isVideo'">Views: <span data-bind="text: views"></span></p>
			<p data-bind="visible: selectedType().type=='isVideo' || selectedType().type=='isPost'">Likes: <span data-bind="text: likes()"></span></p>
		</div>

		<div data-bind="css:{ centralised:selectedType().type=='isPost', 'rightside commentscontainer':selectedType().type=='isVideo'},visible: comments().length > 0 && (selectedType().type == 'isPost' || selectedType().type == 'isVideo'), sortable: { data: comments, options: {handle: '.gripper', axis: 'y', opacity: 0.75} }">
			<div id="voicelines" class="bubble">
				<div>
					<span class="voiceline locked name" data-bind="text: from.name"></span>
				</div>
				<div class="voiceline locked">
					<p class="commentsElement" data-bind="text: message"></p>
				</div>
				<div class="voiceline locked">
					<a data-bind="attr: { href: permalink_url }" target="_blank">https://facebook.com/...</a>
				</div>
			</div>
		</div>

		<!-- If no comments use this div --> 
		<div data-bind="css:{ centralised:selectedType().type=='isPost', 'rightside commentscontainer':selectedType().type=='isVideo'},visible: isStreaming() && comments().length <= 0 && (selectedType().type == 'isPost' || selectedType().type == 'isVideo')">
			<div id="voicelines" class="bubble">
				<div>
					<span class="voiceline locked name">No comments!</span>
				</div>
				<div class="voiceline locked">
					<p class="commentsElement">No comments yet!</p>
				</div>
			</div>
		</div>

		<!-- For the page's posts -->
		<div class="centralised" data-bind="sortable: { data: pagePosts, options: {handle: '.gripper', axis: 'y', opacity: 0.75} }, visible: isStreaming() && pagePosts().length > 0">
			<div id="voicelines" class="bubble">
				<div>
					<span class="voiceline locked name" data-bind="text: story"></span>
				</div>
				<div class="voiceline locked">
					<span data-bind="text: message"></span>
				</div>
				<div>
					<small>Post ID: <a data-bind="attr: { href: permalink_url }, text: id" target="_blank"></a></small>
				</div>
			</div>
		</div>

		<div class="togglebox">
			<label data-bind="visible: selectedType().type == 'isPost' || selectedType().type == 'isVideo' || selectedType().type == 'isPage'"><input type="checkbox" data-bind="checked: autoRead"/> Auto read comments</label>
			<label data-bind="visible: selectedType().type == 'isVideo'"><input type="checkbox" data-bind="checked: reactToLikes"/> React to likes </label>
			<p data-bind="visible: selectedType().type == 'isPost' || selectedType().type == 'isVideo'">Reaction to comment: <select data-bind="options: availableEmotions, optionsText: 'name', value: selectedEmotion"></select></p>
		</div>
	</div>

	{% if not online %}
		<!-- Content in this section is not displayed online, only on the robot. For example: it is a perfect place to put controls that access hardware stuff, which is not available online. -->
	{% endif %}

{% endblock %}
{% block app_scripts %}

	<script src="/static/js/vendor/jquery-ui-sortable/jquery-ui.js"></script>
	<script src="/static/js/knockout-sortable.min.js"></script>
	<script>
	var emotions_data = {{ emotions|tojson|safe }};
	</script>
	<script src="/static/js/sockjs.min.js"></script>
	<script src="/static/js/vendor/jquery-ui-touch/jquery.ui.touch-punch.min.js"></script>

{% endblock %}
{% block app_modals %}

{% endblock %}
