{% extends "app_base.html" %}
{% block app_head %}

	<!-- <script src="/site_media/static/js/....js"></script> -->

{% endblock %}

<!-- These sidebars can be removed by removing the block tags -->
{% block sidebar_left %}{% endblock %}
{% block sidebar_right %}{% endblock %}

{% block app_content %}
<button class="button round info" data-bind="click: startFacebookLiveDialog()">
	<span class="text">Start Facebook live</span>
</button>

<input type="text" data-bind="value: streamKey"/>

<button class="button round info" data-bind="click: startFunction()">
	<span class="text">GO</span>
</button>

	{% if not online %}
		<!-- Content in this section is not displayed online, only on the robot. For example: it is a perfect place to put controls that access hardware stuff, which is not available online. -->
	{% endif %}

{% endblock %}
{% block app_scripts %}

	<!-- <script src="/site_media/static/js/....js"></script> -->

{% endblock %}
{% block app_modals %}

{% endblock %}
