<style>
.sliderdiv {
	margin: 0;
	margin: 0;

	margin-bottom: 0rem;
	float: left;
	text-align: center;
	width: 2.7rem;
	height: 17rem;
}
.sliderdiv .slider{
	text-align: left;
	margin: 0;
	margin-top: .5rem;
}
.sliderdiv .note {
	font-size: .7rem;
}
</style>

<fieldset>
	<legend><span class="fa fa-sliders"></span> Servo's:</legend>
	<div class="callout alert">
	  <strong>Attention!</strong> These sliders directly control the servo's of the robot and can possibly go to far! <br><strong>Please use with caution!</strong>
	</div>
{% for i in range(16) %}
	<div class="sliderdiv">
		<div>
			<strong>{{ i }}</strong><br>
			<span class="note" style="padding: 0;">
				<span data-us>1500</span>
			</span>
		</div>
		<div>
			<div class="slider vertical" data-initial-start="1500" data-start="600" data-end="2400" data-vertical="true" data-pinnumber="{{ i }}" >
				<span class="slider-handle" data-slider-handle role="slider" tabindex="0"></span>
				<span class="slider-fill" data-slider-fill></span>
				<input type="hidden">
			</div>
		</div>
	</div>
{% endfor %}
</fieldset>


<script>
$(document).ready(function(){
	// Setup websocket connection.
	app_socket_handler = function(data) {
		switch (data.action) {
			case "error":
				showMainError(data.message);
				break;
		}
	};

	$(".slider").on("moved.zf.slider", function(){
		let pos = $(this).find(".slider-handle").attr("aria-valuenow");
		if( pos != $(this).data("lastpos") ){

			$(this).closest(".sliderdiv").find("[data-us]").html(numeral(pos).format("0"));

			if(connReady){
				console.log("SET SERVO " + $(this).data("pinnumber") + " TO POS " + pos);
				conn.send(JSON.stringify({
					action: "setServoPos",
					pin_number: $(this).data("pinnumber"),
					value: pos
				}));
			}

			$(this).data("lastpos", pos);
		}
	});
});

</script>
