<section id='header_play' class='nav'>

    <div class=''>
        {% if isuser %}
            <div id="activity">
                <span id="statusicon">
                    {% block status_icon %}
                        {% if app.active %}
                            <i class="fa fa-cog fa-spin"></i>
                        {% else %}
                            <i class="fa fa-check-circle"></i>
                        {% endif %}
                    {% endblock %}
                </span>
                <p>
                    <span id="status">
                        {% block status_text %}
                            {% if app.active %}
                                {{ _( opsoro.robot_name + ' running') }}:
                            {% else %}
                                {{ _(opsoro.robot_name + ' ready') }}
                            {% endif %}
                        {% endblock %}
                    </span>
                    <br/>
                    <span id="comment">
                        {% block status_text_comment %}
                            {% if app.active %}
                                <i class="fa {{ app.icon }}"></i> 
                                {{ app.name }}
                                <a href="#" data-reveal-id="CloseAppModal" class="closebutton"><span class="fa fa-close"></span></a>
                            {% else %}
                                {{ _('No active apps') }}
                            {% endif %}

                        {% endblock %}
                    </span>
                </p>
            </div>
        {% endif %}
    </div>
    <div class='text_center hide-for-small'>
        {% if not isuser %}
            <p class=''>Please login.</p>
        {% endif %}
    </div>
    <div class='side_right'>
        <ul class="">
            <li>
                <a href="/" class="action has-tip" data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" title="{{ _('Home') }}">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            {% if isuser %}
                <li>
                    <a href="/robot/" class="action has-tip" data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" title="{{ _('Virtual model') }}" onClick="return popupWindow(this, '{{ _('Virtual model') }}');">
                        <i class="fa fa-smile-o"></i>
                    </a>
                </li>
                <!-- <li>
                    <a href="" title="{{ _('Profile') }}">
                        <i class="fa fa-user"></i>
                    </a>
                </li> -->
                <li>
                    <a href="/openapp/preferences/" class="action has-tip" data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" title="{{ _('Preferences') }}">
                        <i class="fa fa-cog"></i>
                    </a>
                </li>
                <li>
                    <a href="/logout/" class="action has-tip" data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" title="{{ _('Log out') }}">
                        <i class="fa fa-sign-out"></i>
                    </a>
                </li>
                <li>
                    <a href="#" data-reveal-id="ShutdownModal" class="action has-tip" data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" title="{{ _('Shut down') }}">
                        <i class="fa fa-power-off"></i>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="/login/" class="action has-tip" data-tooltip aria-haspopup="true" data-options="disable_for_touch:true" title="{{ _('Sign in') }}">
                        <i class="fa fa-sign-in"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>

</section>
