<div id="virtualModelDiv" style="z-index: 100; position: absolute; left: 0; top: 0; width: 100%; height: 100%;">
	<!-- <canvas id="virtualModelCanvas" width="600" height="600"></canvas> -->
	<!-- <div id="model" width="600" height="600"></div> -->

	<div id="model_screen"></div>
</div>

<script>

	config_data = {{ config | tojson | safe }};
</script>
<!-- <script src="static/js/vendor/jquery.js"></script>
<script src="static/js/foundation.min.js"></script>
<script src="static/js/jcanvas.min.js"></script>
<script src="static/js/numeral.min.js"></script> -->

<script src="/static/js/modules.js"></script>
<script src="/static/js/svg/svg.min.js"></script>
<script src="/static/js/virtual.js"></script>
