{% extends "site_base.html" %}
{% block base_systembar_body %}
	<div class="row">
		<div class="small-12 columns">
			<div class="page">
				<div class="titlebar">
					{% block closebutton %}{% endblock %}
					<span class="fa {{ page_icon }}"></span>
					{{ page_caption }}
				</div>
				<div id="errors">

					{% with messages = get_flashed_messages(category_filter = ["message"]) %}
					{% if messages %}
						{% for message in messages %}
							<div data-alert class="alert-box secondary radius">
								{{ message }}
								<a href="#" class="close">&times;</a>
							</div>
						{% endfor %}
					{% endif %}
					{% endwith %}
					{% with messages = get_flashed_messages(category_filter = ["error"]) %}
					{% if messages %}
						{% for message in messages %}
							<div data-alert class="alert-box alert radius">
								{{ message }}
								<a href="#" class="close">&times;</a>
							</div>
						{% endfor %}
					{% endif %}
					{% endwith %}
					{% with messages = get_flashed_messages(category_filter = ["success"]) %}
					{% if messages %}
						{% for message in messages %}
							<div data-alert class="alert-box success radius">
								{{ message }}
								<a href="#" class="close">&times;</a>
							</div>
						{% endfor %}
					{% endif %}
					{% endwith %}

				</div>
				<div class="content" id="content">

					{% block app_content %}
						<div class="actionbar">
							{% block app_toolbar %}{% endblock %}
						</div>
						{{ page_content }}
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
