{% extends "app.html" %}


{% block base_toolbar %}
<!-- <p style="color: white">This is the toolbar, you can add/remove options.<br/>To remove the toolbar completely, just remove the blocks: "block base_toolbar" and "endblock".</p> -->

{% include "toolbar/file_operations.html" %}
{% endblock %}


{% block page_content %}
{{ super() }}
<fieldset>
	<legend><span class="fa fa-gears"></span> Settings Assistant</legend>
	<div class="row">
			<div class="content">
				<label for="btngroup">ASSISTANT</label>
				<div class="btn-group" role="group" id="btngroup">
				  <button type="submit" id="on" class="btn btn-secondary">ON</button>
				  <button type="submit" id="off" class="btn btn-secondary">OFF</button>
				</div>
			</div>
	</div>
	<div class="row">
			<div class="content">
		      		<div class="form-group">
		      		
					    <label for="inputlg">IFTTT Key</label>
					    <p>This can be acquired by requesting your key at <a href="https://ifttt.com/maker" target="blank">Maker channel</a> <i>(opens in a new tab)</i>.</p> 
					    <input name=apikey class="form-control input-lg" id="inputlg" type="text">
					   
					    <button type="submit" id="save" class="btn btn-secondary">SAVE</button>
					    


					    <script type="text/javascript">
					    
					    var on = document.getElementById("on");
					    var off = document.getElementById("off");


					  	$("#on").click(function(){
					  		console.log('on');

					  		/*non-functional*/
					  		off.style.background = "#333";
					  		on.style.background = "#008CBA";
					  		on.style.borderColor = "#007095";

					  		/*functional*/
					  		document.cookie = "status=on";

					  	});
				
						$("#off").click(function(){
					  		console.log('off');
					  		on.style.background = "#333";
					  		off.style.background = "#008CBA";
					  		off.style.borderColor = "#007095";

					  		/*functional*/
					  		document.cookie = "status=off";
					  	});
						
						$("#save").click(function(){
							var text=document.getElementById("inputlg").value;
							var input = document.getElementById("inputlg");
							
							/*$.ajax({
								type: "PUT",
        						dataType : 'json',
        						async: false,
        						url: 'static/keyapi.json',
        						data: JSON.stringify(text),
        						success: function () {alert("Thanks!"); },
        						failure: function() {alert("Error!");}
							});*/

							if(text != null && text != " "){
								document.cookie = "keyapi="+text;

							}else{
								document.cookie = "keyapi=";
								input.placeholder = "Vul een geldige key in."
							}

						
						});


						
					    </script>

	  				</div>
			</div>
	</div>
</fieldset>

{% endblock %}

{% block scripts %}
{{ super() }}
<!--
<script src="static/javascript.js"></script>
-->

<script>
var action_data = {{ actions|tojson|safe }};
//test
var data = {{ data|tojson|safe }};
</script>

{% endblock %}

{% block modals %}
{{ super() }}
<div id="popup_window" class="reveal-modal" data-reveal>
	<div class="titlebar">
		<a class="close-reveal-modal"><span class="fa fa-close"></span></a>
		<span class="fa fa-cogs"></span> Popup window!
	</div>
	<div class="content">
		<p>This is a popup window.</p>
		<form>
			<div class="row collapse">
				<div class="small-9 columns">
					<input type="text" name="text" class="error" style="width: 100%;" data-bind="value: popupTextInput">
					<small class="error hide"></small>
				</div>
				<div class="small-3 columns">
					<a href="#" class="button" style="width: 100%;" data-bind="click: popupButtonHandler()"><span class="fa fa-save"></span> Save</a>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}


