{% extends "app.html" %}


{% block base_toolbar %}
<!--
{% include "toolbar/file_operations.html" %}
{% include "toolbar/script_operations.html" %}
{% include "toolbar/lock_unlock.html" %}
-->
{% endblock %}


{% block page_content %}
{{ super() }}
<div class="levelselect">	
	<div class="levels">
		<a href="#"><div class="level level1">Tot 10</div></a>
		<a href="#"><div class="level level2">Tot 100</div></a>
		<a href="#"><div class="level level3">Tafels</div></a>
	</div>
</div>
<div class="maths">
	<div class="exercise">
        <span class="exe number1">1</span>
	<span class="exe sign">+</span>
	<span class="exe number2">6</span>
	<span class="exe is">=</span></div>
	<div class="answers">
		<a href="#"><div class="answer answer0"></div></a>
		<a href="#"><div class="answer answer1"></div></a>
		<a href="#"><div class="answer answer2"></div></a>
	</div>
</div>

<ol class="highscore">
	<li><span class="high high0"></span>	<span class="high score0"></span></li>

	<li><span class="high high1"></span>	<span class="high score1"></span></li>

	<li><span class="high high2"></span>	<span class="high score2"></span></li>

	<li><span class="high high3"></span>	<span class="high score3"></span></li>

	<li><span class="high high4"></span>	<span class="high score4"></span></li>

	<li><span class="high high5"></span>	<span class="high score5"></span></li>

	<li><span class="high high6"></span>	<span class="high score6"></span></li>

	<li><span class="high high7"></span>	<span class="high score7"></span></li>

	<li><span class="high high8"></span>	<span class="high score8"></span></li>

	<li><span class="high high9"></span>	<span class="high score9"></span></li>

</ol>

<h2 class="back"> terug</h2>
{% endblock %}

{% block scripts %}
{{ super() }}
<!--
<script src="static/javascript.js"></script>
-->

<script>
var action_data = {{ actions|tojson|safe }};

var data = {{ data|tojson|safe }};
</script>

{% endblock %}

{% block modals %}
{{ super() }}

{% endblock %}
