{% extends "page.html" %}

{% block page_content %}
<div class="row">
	<div class="large-6 large-centered columns text-center">
		<p>
			<span class="fa fa-warning" style="font-size: 5rem; color: #B2AFA1;"></span><br/>
			This app is currently not active.<br/>
			{% if toolbar.active %}
			Activating it will close the current app: <span class="fa {{ toolbar.icon }}"></span> {{ toolbar.full_name }}.
			{% endif %}
		</p>
		<a href="/openapp/{{ appname }}" class="button"><span class="fa fa-check"></span> Activate app</a>
		<a href="/" class="button"><span class="fa fa-home"></span> Return home</a>
	</div>
</div>
{% endblock %}
