<a href="#" class="action" data-bind="click: toggleLocked">
  <span class="fa" data-bind="css: { 'fa-pencil': fileIsLocked(), 'fa-check': !fileIsLocked() }"></span><br/>
  <span class="text" data-bind="text: fileIsLocked() ? '{{ _('Edit') }}' : '{{ _('Lock') }}' "></span>
</a>
<div class="spacer"></div>

<script>
toggleLocked = function(){
  showMainError("The function toggleLocked is not yet defined.");
  return;
};
fileIsLocked = function(){
  showMainError("The function fileIsLocked is not yet defined.");
  return false;
};
</script>
