{% extends "app_base.html" %}

{% block app_toolbar %}
	{% include "toolbar/_file_operations.html" %}
	{% include "toolbar/_file_set_default.html" %}
{% endblock %}

{% block head %}

{% endblock %}

{% block app_content %}
	<div class="row" data-equalizer>
		<div class="model small-12 medium-7 large-5 columns" data-equalizer-watch>
			<div class="edit" id="model_screen"></div>
		</div>
		<div class="config-settings small-12 medium-5 large-7 columns" data-equalizer-watch>
			<div class="expressions row small-up-5 medium-up-4 large-up-8" data-equalizer="expressions">
				<!-- ko foreach: expressions -->
				<div class="expression button text-center column column-block" data-bind="click: select, css: { selected: selected() }" data-equalizer="expressions">
					<span class="emoji" data-bind="html: '&#x' + filename() + ';'"></span>
					<span class="text" data-bind="text: name.value"></span>
				</div>
				<!-- /ko -->
				<div class="add-button button text-center column column-block" data-bind="click: $root.add_expression" >
					<span class="fa fa-plus"></span>
				</div>
			</div>
			<div class="config-settings" data-bind="with: selected_expression">
				<fieldset>
					<legend>
						<strong class="clickedit" data-bind="click: name.edit">
							<span data-bind="visible: !name.editing(), html: name.displayValue">&nbsp;</span>
				     <input name="name" style="width: 100%" data-bind="visible: name.editing, value: name.value, hasFocus: name.editing" />
				     <span data-bind="visible: !name.editing()" class="fa fa-pencil"></span>
						</strong>
					</legend>
					<div class="row module-settings">
						<div class="setting small-3 columns">
							<div class="expression change-button button text-center" data-bind="click: change_icon">
								<span class="emoji" data-bind="html: '&#x' + filename() + ';'"></span>
								<span class="text">{{ _('Change') }}</span>
							</div>
							<button href="" class="button alert" data-bind="click: remove, visible: poly_index() < 0">
								<span class="fa fa-trash"></span>
							</button>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="config-settings" data-bind="with: selected_module">
				<fieldset>
					<legend>
						<strong class="" data-bind="text: name.value"></strong>
					</legend>
					<div class="row module-settings">
						<div class="setting small-4 large-3 columns">
							<svg data-bind="html: code" height="100" width="100%"></svg>
						</div>
						<div class="small-8 large-9 columns">
							<div class="dofs" data-bind="foreach: dofs">
								<div class="row dof-settings">
									<div class="setting small-12 large-4 columns">
										<span data-bind="text: name"></span>
									</div>
									<div class="setting small-12 large-8 columns" data-bind="if: pin >= 0">
										<div class="settings-item small-9 columns">
											<div class="slider" data-slider data-start="-1.01" data-end="1" data-step="0.01" data-bind="slider: value">
												<span class="slider-handle" data-slider-handle role="slider" tabindex="1" data-bind="attr: { 'aria-controls': name_formatted }"></span>
											  <span class="slider-fill" data-slider-fill></span>
											</div>
										</div>
										<div class="settings-item small-3 columns">
										  <input type="number" data-bind="attr: { 'id': name_formatted }">
										</div>
									</div>
									<div class="setting small-12 large-8 columns" data-bind="if: pin < 0">
										<p class="callout warning">{{ _('This DOF has no servo pin selected.') }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
{% endblock %}

{% block app_scripts %}

	<script>
		action_data 		= {{ actions|tojson|safe }};
		module_names 		= {{ modules|tojson|safe }};
		skin_names 			= {{ skins|tojson|safe }};
		specs 					= {{ specs|tojson|safe }};
		svg_codes 			= {{ svg_codes|tojson|safe }};
		configs 				= {{ configs|tojson|safe }};
		expression_data	= {{ expressions|tojson|safe }};
		icon_data				= {{ icons|tojson|safe }};
	</script>

	<script src="/static/js/svg/svg.min.js?ver={{ version }}"></script>
	<script src="/static/js/svg/svg.draggable.min.js?ver={{ version }}"></script>
	<script src="/static/js/robot/model_minimal.js?ver={{ version }}"></script>
	{% for module in modules %}
		<script src="/static/modules/{{ module }}/{{ module }}.js?ver={{ version }}"></script>

	{% endfor %}

{% endblock %}

{% block app_modals %}

	<div id="PickIconModal" class="small reveal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
		<div class="content">
			<div class="row small-up-8" data-bind="foreach: icons" data-equalizer="icons">
					<div id="" class="expression eicon button column column-block" data-bind="attr: { 'id': $data }, click: $root.update_icon" data-equalizer-watch="icons">
						<span class="emoji" data-bind="html: '&#x' + $data + ';'"></span>
					</div>
			</div>
		</div>
	</div>

{% endblock %}
