.tts-switch {
	display: inline;
}
.tts-switch label{
	background-color: #4D4D4D;
}

.tts-switch input:checked + label {
	background-color: #4D4D4D;
}

.tts-switch .switch-tts {
	color: #fff;
	position: absolute;
	top: -0.5rem;
	right: 0.6rem;
	pointer-events: none;
}

.tts-switch .switch-wav {
	color: #fff;
	position: absolute;
	top: -0.5rem;
	left: 0.6rem;
	pointer-events: none;
}

/*Speech bubble*/
.bubble {
	display: inline-block;
	position: relative;
	padding: 0.5rem;
	padding-right: 0.75rem;
	background: #dddddd;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	border-radius: 0.5rem;
	margin-left: 1.2rem;
	margin-bottom: 0.5rem;
	font-style: italic;
}
.bubble:after {
	content: "";
	position: absolute;
	border-style: solid;
	border-color: #f3961c transparent;
	/* reduce the damage in FF3.0 */
	display: block;
	width: 0;
	top: 0.5rem;
	left: -1.2rem;
	bottom: auto;
	border-width: 0.75rem 1.2rem 0.75rem 0;
	border-color: transparent #dddddd;
}

.bubble .fa {
	color: #4d4d4d;
}

@-webkit-keyframes load8{
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load8{
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.voiceline{
	min-height: 5.5rem;
	position: relative;
	margin-bottom: 0.5rem;
	background: #fff;
}
.voiceline.locked{
	min-height: 4.5rem;
	margin-bottom: 0.2rem;
}

#PickEmotionModal {
	width: 35rem;
	min-height: 10rem;
}

.voiceline .avatar,
#PickEmotionModal .avatar {
	border: 2px solid #dddddd;
	padding: 0.25rem;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	width: 5.5rem;
	height: 5.5rem;
}

#PickEmotionModal .avatar {
	position: relative;
}
#PickEmotionModal .avatarcaption{
	margin-top: 0.25rem;
	padding: 0 0.5rem;
	background: #4d4d4d;
	border-radius: 1rem;
	color: #fff;
	font-size: 0.8rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.voiceline .avatar:hover,
#PickEmotionModal .avatar:hover {
	background: rgba(34, 181, 115, 0.41);
}

.voiceline .avatar > div,
#PickEmotionModal .avatar > div {
	width: 4.75rem;
	height: 4.75rem;
	background-size: 100% !important;
	border-radius: 50%;
}


.voiceline.locked .avatar {
	left: 1.5rem;
	width: 4.5rem;
	height: 4.5rem;
}
.voiceline.locked .avatar > div {
	width: 3.75rem;
	height: 3.75rem;
	background-size: 100% !important;
	border-radius: 50%;
}

.voiceline .playbutton {
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: 0.25rem;
	right: 0;
}

.voiceline .playbutton .bg {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: rgba(34, 181, 115, 0.41);
}

.voiceline .playbutton a.button {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	padding-top: 1rem;
	background-color: #43AC6A;
}

.voiceline .playbutton a.button span {
	position: absolute;
	top: 0.75rem;
	left: 0.75rem;
}

.voiceline .playbutton a.button:hover {
	background-color: #368a55;
}

.voiceline .playbutton.used .bg {
	background: #dddddd;
}

.voiceline .playbutton.used a.button {
	background: #B2AFA1;
}

.voiceline .playbutton.used a.button:hover {
	background-color: #545454;
}

.voiceline .playbutton.active .bg {
	border-top: 0.6rem solid rgba(34, 181, 115, 0.41);
	border-right: 0.6rem solid rgba(34, 181, 115, 0.41);
	border-bottom: 0.6rem solid rgba(34, 181, 115, 0.41);
	border-left: 0.6rem solid rgba(34, 181, 115, 0.7);
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
	background: #fff;
}

.voiceline .playbutton.active a.button {
	background: #43AC6A;
}

.voiceline .playbutton.active a.button:hover {
	background-color: #368a55;
}

.voiceline .content {
	margin-left: 6.5rem;
	margin-right: 7rem;
	padding: 1.25rem 0 0 0;
}

.voiceline.unlocked .content {
	display: none;
}
.voiceline.unlocked .playbutton {
	display: none;
}
.voiceline.unlocked .avatar {
	left: 2rem;
}
.voiceline.locked .gripper{
	display: none;
}
.voiceline.unlocked .gripper{
	background: url("gripper.png") no-repeat;
	width: 1.25rem;
	height: 2.5rem;
	cursor: move;
	background-size: 100%;
	position: absolute;
	left: 0;
	top: 1.5rem;
}

.voiceline.locked form {
	display: none;
}

.voiceline.unlocked form{
	background: #0f0;
	position: absolute;
	top: 0;
	right: 0;
	left: 8.5rem;
}

.voiceline.unlocked form select,
.voiceline.unlocked form input {
	position: absolute;
	top: 0.25rem;
	left: 0;
	right: 0;
}

.rightcontrols a {
 margin-left: 45%;
}

.voiceline.unlocked form .leftcontrols {
	position: absolute;
	top: 3.25rem;
	left: 0;
}
.voiceline.unlocked form .rightcontrols {
	position: absolute;
	top: 3.25rem;
	right: 0;
}
.voiceline.unlocked form .rightcontrols a.button {
	height: 2rem;
	padding: 0.25rem 1rem;
	margin-left: 0.5rem;
}

.button.start{
	text-align: center;
	background: none;
}

.button.start:hover {
	background: #fff;
	color: #4d4d4d;
}

.starttxt{
	display: block;
	text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
}



.question{
    text-align: center;
    width: 970px;
    font-size: 2rem;
    color: #4d4d4d;
	height: 3rem;
	line-height: 3rem;
}

.points{
	color: white;
    width: 800px;
    text-align: right;
    float: right;
    line-height: 4rem;
    font-size: 2rem;
}

.high{
	font-size: 1.2rem;
	color: #4d4d4d;
	width: 200px;
	text-align: center;
}

.highscore{    
    border-collapse: collapse;
    border: none;
	display: none;
}

.highscore th{
	background-color: #22b573;
    color: white;
    font-family: "roboto", sans-serif;
    text-align: center
    
}

.high{
    padding-left: 35%;
    
}

.firstRow{
	background-color: #22b573;
    width: 3%;
    color: white;
    
}

.uitleg{
	margin-left: 10%;
	font-family: "Roboto", sans-serif;
}


.uitleg h1, .uitleg h2{
	color: #22b573;
}

.uitleg ol{
	margin-left: 6%;
}

.uitleg h2{
	font-size: 2rem;
}
