.model {
	padding: 0;
	margin-left: -30px;
	margin-top: -30px;
}
.config-settings {
	/*margin-top: 1rem;*/
	/*padding: 0;*/
}
.modules {
	margin-top: 0rem;
	padding: 0 1rem 1rem;
	/*height: 20rem;*/
	/*border: 1px solid silver;*/
}
.module {
	margin: 0rem;
	margin-left: -1px;
	padding: 0.5rem;
	border: 1px solid silver;
}
.module:hover {
	border-style: none;
}
.module img {
	height: 100%;
}
.module-settings {
	padding: 0 .5rem 0 0;
}
.module-settings select {
	padding: 0 1.5rem 0 .1rem;
	font-size: .9rem;
	height: 1.5rem;
	margin: 0;
}
.module-settings input {
	padding: 0;
	font-size: .9rem;
	height: 1.5rem;
	margin: 0;
}
.module-settings .slider {
	margin: .5rem 0;
}
.dof-settings {
	font-size: .85rem;
	border-bottom: 1px solid silver;
	padding: .5rem 0;
}
.dof-settings:last-child {
	border-style: none;
}
.settings-item {
	padding: 0;
}
.draggable {
	cursor: grab;
}
