{% extends "apppage.html" %}

{% block head %}
{{ super() }}
<style>
#errors .alert-box:first-child {
	margin-top: 2rem;
}

#editorWrapper {
	margin: 0 -1rem 0rem -1rem;
	height: calc(100vh - 24.15rem);
}

#editor {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
}

#console {
	color: #888888;
	background-color: #0f0f0f;
	border-top: 2px solid #232323;
	margin: 0 -1rem -1rem -1rem;
	height: 4.15rem;
	padding: 0.5rem 1rem;
	border-bottom-left-radius: 0.75rem;
	border-bottom-right-radius: 0.75rem;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 0.75rem;
	overflow: scroll;
}

.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.fullscreen #editorWrapper {
	height: calc(100vh - 4rem - 4.15rem);
}

.fullscreen #console {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.actionbar .filebox {
	color: #fff;
	display: inline-block;
}

.actionbar .filebox .filename {
	font-weight: bold;
	text-transform: uppercase;
}

.actionbar .filebox .status {
	font-size: 0.75rem;
	font-weight: bold;
	text-transform: uppercase;
}

div.page {
	background-color: #0f0f0f;
}

.reveal-modal .file:last-child {
	margin-bottom: -0.75rem;
}

.reveal-modal .filename {
	background: rgba(178, 175, 161, 0.5);
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	font-weight: bold;
	color: #545454;
	display: inline-block;
	width: calc(100% - 8rem);
}
.reveal-modal .btnDeleteFile, .reveal-modal .btnOpenFile {
	width: 3rem;
	margin-right: 0.75rem;
}

#FilesModal .content {
	overflow-y: scroll;
	max-height: 70vh;
}

#ScriptUIModal .btnScriptUI {
	width: 100%;
	margin-bottom: 0;
}

#ScriptUIModal .btnScriptUI.toggled {
	background: #22B573;
}

#ScriptUIModal .btnScriptUI.toggled:hover {
	background: #23774E;
}

#ScriptUIModal .keyboardKey {
	padding: 0.25rem 0rem;
	width: 3rem;
	text-align: center;
	margin: 0.5rem 0.5rem 0.5rem 0;
	background-color: #ddd;
	display: inline-block;
	border-radius: 0.5rem;
	font-size: 1.5rem;
	box-shadow: 0 0.3rem 0 rgba(0, 0, 0, 0.33);
	border: 1px solid rgba(0, 0, 0, 0.15);
}
#ScriptUIModal .keyboardKey.down {
	box-shadow: 0 0.15rem 0 rgba(0, 0, 0, 0.33);
	background: #ccc;

	-webkit-transform: translate(0, 0.15rem);
	-moz-transform: translate(0, 0.15rem);
	-ms-transform: translate(0, 0.15rem);
	-o-transform: translate(0, 0.15rem);
	transform: translate(0, 0.15rem);
}
#ScriptUIModal .keyboardKey.space {
	width: 15rem;
}
#ScriptUIModal .keyboardKey.letter {
	font-weight: bold;
	text-transform: uppercase;
}
</style>
{% endblock %}

{% block page_content %}
<div class="actionbar">
	<div class="filebox">
		<span class="filename">{% if script_name %}{{ script_name_noext }}{% else %}Untitled script{% endif %}</span> <span class="fa fa-asterisk {% if not script_modified %}hide{% endif %}"></span><br>
		{% if script_running %}
			<span class="fa fa-circle-o-notch fa-spin" style="font-size: 0.75rem;"></span> <span class="status">Running</span>
		{% else %}
			<span class="fa fa-stop" style="font-size: 0.75rem;"></span> <span class="status">Stopped</span>
		{% endif %}
	</div>
	<div class="spacer"></div>
	<a href="#"  id="btnSave" class="action">
		<span class="fa fa-save"></span><br/>
		<span class="text">Save</span>
	</a>
	<a href="#"  id="btnFiles" class="action">
		<span class="fa fa-folder"></span><br/>
		<span class="text">All files</span>
	</a>
	<a href="#"  id="btnNew" class="action">
		<span class="fa fa-file"></span><br/>
		<span class="text">New</span>
	</a>
	<div class="spacer"></div>
	<a href="#" id="btnStartStop" class="action">
		{% if script_running %}
			<span class="fa fa-stop"></span><br/>
			<span class="text">Stop</span>
		{% else %}
			<span class="fa fa-play"></span><br/>
			<span class="text">Run</span>
		{% endif %}

	</a>
	<a href="#" id="btnScriptUI" class="action hide">
		<span class="fa fa-gamepad"></span><br/>
		<span class="text">Script UI</span>
	</a>
	<a href="#"  id="btnClearLog" class="action">
		<span class="fa fa-magic"></span><br/>
		<span class="text">Clear log</span>
	</a>
	<a href="#"  id="btnExpandCollapse" class="action">
		<span class="fa fa-expand"></span><br/>
		<span class="text">Expand view</span>
	</a>
</div>
<div id="errors" style="margin-top: -1rem;">
	{% with messages = get_flashed_messages(category_filter=["message"]) %}
		{% if messages %}
			{% for message in messages %}
				<div data-alert class="alert-box secondary radius">
					{{ message }}
					<a href="#" class="close">&times;</a>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	{% with messages = get_flashed_messages(category_filter=["error"]) %}
		{% if messages %}
			{% for message in messages %}
				<div data-alert class="alert-box alert radius">
					{{ message }}
					<a href="#" class="close">&times;</a>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	{% with messages = get_flashed_messages(category_filter=["success"]) %}
		{% if messages %}
			{% for message in messages %}
				<div data-alert class="alert-box success radius">
					{{ message }}
					<a href="#" class="close">&times;</a>
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
</div>
<div id="editorWrapper">
	<pre id="editor">{{ script }}</pre>
</div>
<div id="console"></div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script src="/static/js/sockjs.min.js"></script>
<script src="/static/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/ace/mode-lua.js" type="text/javascript" charset="utf-8"></script>
<script src="static/ono-lua-highlighter.js" type="text/javascript" charset="utf-8"></script>
<script>
	var isFullscreen = false;
	var scriptname = {% if script_name %}"{{ script_name }}"{% else %}null{% endif %};
	var isScriptModified = {{ "true" if script_modified else "false" }};
	var isScriptRunning = {{ "true" if script_running else "false" }};
	var monitorKeypresses = false;
	var boilerplate = "";

	function addError(msg){
		$("#console").append("<span style=\"color: #ab3226;\">" + msg + "</span><br>");
		$("#console").scrollTop($("#console").prop("scrollHeight"));
	}

	function addMessage(msg){
		$("#console").append(msg + "<br>");
		$("#console").scrollTop($("#console").prop("scrollHeight"));
	}

	function addConsole(msg, color, icon){
		var line = "";
		if(color){
			line += "<span style=\"color: " + color + ";\">";
		}
		if(icon){
			line += "<span class=\"fa " + icon + "\"></span> ";
		}
		line += msg;
		if(color){
			line += "</span>";
		}
		line += "<br>";

		$("#console").append(line);
		$("#console").scrollTop($("#console").prop("scrollHeight"));
	}

	$(document).ready(function(){
		// Setup ACE editor.
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/twilight");

		var LuaMode = require("ace/mode/lua").Mode;
		var mode = new LuaMode();
		var Tokenizer = require("ace/tokenizer").Tokenizer;
		var OnoLuaHighlightRules = require("ace/mode/onolua_highlight_rules").OnoLuaHighlightRules;
		mode.$tokenizer = new Tokenizer(new OnoLuaHighlightRules().getRules());
		editor.session.setMode(mode);

		editor.getSession().setUseSoftTabs(false);
		editor.getSession().setTabSize(4);
		editor.$blockScrolling = Infinity; // Disable warning

		editor.getSession().on("change", function(e){
			$(".filebox .fa-asterisk").removeClass("hide");
			isScriptModified = true;
		});

		editor.commands.addCommand({
			name: "save",
			bindKey: {win: "Ctrl-S",  mac: "Command-S"},
			exec: function(editor) {
				doSave();
			},
			readOnly: true // false if this command should not apply in readOnly mode
		});

		// Setup websocket connection.
		var conn = null;
		var connReady = false;
		conn = new SockJS("http://" + window.location.host + "/sockjs");

		conn.onopen = function(){
			console.log("SockJS connected.");
			$.ajax({
				url: "/sockjstoken",
				cache: false
			})
			.done(function(data) {
				conn.send(JSON.stringify({action: "authenticate", token: data}));
				connReady = true;
				console.log("SockJS authenticated.");
			});
		};

		conn.onmessage = function(e){
			var msg = $.parseJSON(e.data);

			switch(msg.action){
				case "addConsole":
					addConsole(msg.message, msg.color, msg.icon);
					break;
				case "scriptStarted":
					addConsole("Script started.", "#888888", "fa-play");
					isScriptRunning = true;
					SetButtonToStop();
					break;
				case "scriptStopped":
					addConsole("Script stopped.", "#888888", "fa-stop");
					isScriptRunning = false;
					SetButtonToStart();
					$("#btnScriptUI").addClass("hide");
					break;
				case "initUI":
					$("#btnScriptUI").removeClass("hide");
					$("#ScriptUIWrench").removeClass("hide");
					$("#ScriptUIButtons").addClass("hide");
					$("#ScriptUIButtons").html("");
					$("#ScriptUIKeys").addClass("hide");
					$("#ScriptUIKeys").html("");
					$("#ScriptUIModal hr").addClass("hide");
					break;
				case "UIAddButton":
					$("#ScriptUIWrench").addClass("hide");
					$("#ScriptUIButtons").removeClass("hide");

					if(!$("#ScriptUIKeys").hasClass("hide")){
						$("#ScriptUIModal hr").removeClass("hide");
					}

					var li = "<li>";
					li += "<a href=\"#\" class=\"button btnScriptUI\" data-toggle=\"" + msg.toggle + "\" data-buttonname=\"" + msg.name + "\">";
					li += "<span class=\"fa " + msg.icon + " fa-2x\"></span><br>"
					li += msg.caption;
					li += "</a>";
					li += "</li>";
					$("#ScriptUIButtons").append(li);
					break;
				case "UIAddKey":
					var div = "";
					var arrows = ["up", "down", "left", "right"];
					var alphabet = "abcdefghijklmnopqrstuvwxyz";
					var keymap = {
						"up": 38, "down": 40, "left": 37, "right": 39, "space": 32,
						"a": 65, "b": 66, "c": 67, "d": 68, "e": 69, "f": 70,
						"g": 71, "h": 72, "i": 73, "j": 74, "k": 75, "l": 76,
						"m": 77, "n": 78, "o": 79, "p": 80, "q": 81, "r": 82,
						"s": 83, "t": 84, "u": 85, "v": 86, "w": 87, "x": 88,
						"y": 89, "z": 90
					};

					if(msg.key == "space"){
						// Key is space bar
						div = "<div class=\"keyboardKey space\" data-key=\"" + msg.key + "\" data-keycode=\"" + keymap[msg.key] + "\">&nbsp;</div>";
					}else if(arrows.indexOf(msg.key) > -1){
						// Key is an arrow
						div = "<div class=\"keyboardKey\"  data-key=\"" + msg.key + "\" data-keycode=\"" + keymap[msg.key] + "\"><span class=\"fa fa-caret-" + msg.key + "\"></span></div>";
					}else if(alphabet.indexOf(msg.key) > -1){
						// Key is a letter
						div = "<div class=\"keyboardKey letter\"  data-key=\"" + msg.key + "\" data-keycode=\"" + keymap[msg.key] + "\">" + msg.key + "</div>";
					}else{
						return;
					}

					$("#ScriptUIWrench").addClass("hide");
					$("#ScriptUIKeys").removeClass("hide");
					$("#ScriptUIKeys").append(div);

					if(!$("#ScriptUIButtons").hasClass("hide")){
						$("#ScriptUIModal hr").removeClass("hide");
					}

					break;
			}
		};

		conn.onclose = function(){
			console.log("SockJS disconnected.");
			conn = null;
			connReady = false;
		};

		// Don't submit form on enter
		$("input,select").keypress(function(evt){
			return evt.keyCode != 13;
		});

		// Toolbar buttons
		// Save
		function doSave(){
			if(scriptname == null){
				// Untitled script
				$("#txtFilename").val("");
				$("#SaveAsModal small.error").addClass("hide");
				$("#SaveAsModal").foundation("reveal", "open");
			}else{
				// Don't show modal, overwrite script file
				var luacode = editor.getValue();

				$.ajax({
					dataType: "json",
					data: {
						file: luacode,
						filename: scriptname,
						overwrite: 1
					},
					type: "POST",
					url: "save",
					success: function(data){
						if(data.status == "error"){
							addError(data.message);
						}else if(data.status == "success"){
							scriptname = data.filename;
							isScriptModified = false;

							var filename_no_ext = data.filename;
							if(filename_no_ext.slice(-4) == ".lua" || filename_no_ext.slice(-4) == ".LUA"){
								filename_no_ext = filename_no_ext.slice(0, -4);
							}

							$(".filebox .fa-asterisk").addClass("hide");
							$(".filebox .filename").html(filename_no_ext);
						}
					}
				});
			}
		}
		$("#btnSave").click(doSave);

		$("#btnSaveAsModalSave").click(function(){
			var filename = $("#txtFilename").val();

			$("#SaveAsModal small.error").addClass("hide");

			var luacode = editor.getValue();

			$.ajax({
				dataType: "json",
				data: {
					file: luacode,
					filename: filename,
					overwrite: 0
				},
				type: "POST",
				url: "save",
				success: function(data){
					if(data.status == "error"){
						$("#SaveAsModal small.error").html(data.message).removeClass("hide");
					}else if(data.status == "success"){
						scriptname = data.filename;
						isScriptModified = false;

						var filename_no_ext = data.filename;
						if(filename_no_ext.slice(-4) == ".lua" || filename_no_ext.slice(-4) == ".LUA"){
							filename_no_ext = filename_no_ext.slice(0, -4);
						}

						$(".filebox .fa-asterisk").addClass("hide");
						$(".filebox .filename").html(filename_no_ext);

						$("#SaveAsModal").foundation("reveal", "close");
					}
				}
			});
			return 0;
		});

		// All files
		$("#btnFiles").click(function(){
			$("#FilesModalSpinner").removeClass("hide");
			$("#FilesModalFilelist").html("");
			$("#FilesModalFilelist").load("filelist", function(){
				$("#FilesModalSpinner").addClass("hide");

				// Delete and Open button events need to be rebound here
				// because filelist is loaded via AJAX
				$(".btnDeleteFile").off("click");
				$(".btnDeleteFile").on("click", function(){
					filename = $(this).closest("div.file").data("scriptfile");
					$("#ConfirmDeleteModal").foundation("reveal", "open");

					$("#btnConfirmDelete").off("click");
					$("#btnConfirmDelete").on("click", function(){
						$.ajax({
							dataType: "json",
							type: "POST",
							url: "delete/" + filename,
							success: function(data){
								$("#ConfirmDeleteModal").foundation("reveal", "close");
								if(data.status == "error"){
									addError(data.message);
								}else{
									addMessage(data.message);
								}
							}
						});
					});
				});

				$(".btnOpenFile").off("click");
				$(".btnOpenFile").on("click", function(){
					filename = $(this).closest("div.file").data("scriptfile");

					var do_load = function(){
						$.ajax({
							url: "scripts/" + filename,
							dataType: "text",
							cache: false,
							success: function(data){
								// Load script
								editor.setValue(data);
								editor.gotoLine(1, 0, false);

								// Update filename and asterisk
								var filename_no_ext = filename;
								if(filename_no_ext.slice(-4) == ".lua" || filename_no_ext.slice(-4) == ".LUA"){
									filename_no_ext = filename_no_ext.slice(0, -4);
								}
								$(".filebox .filename").text(filename_no_ext);
								$(".filebox .fa-asterisk").addClass("hide");
								isScriptModified = false;
								scriptname = filename;

								$("#FilesModal").foundation("reveal", "close");
							}
						});
					}

					if(isScriptModified){
						$("#btnConfirmLoad").off("click");
						$("#btnConfirmLoad").on("click", do_load);
						$("#ConfirmLoadModal").foundation("reveal", "open");
					}else{
						do_load();
					}

				});
			});

			$("#FilesModal").foundation("reveal", "open");
		});

		// New
		// Load boilerplate from server
		$.get("static/boilerplate.lua", function(data){
			boilerplate = data;
		});

		$("#btnNew").click(function(){
			if(isScriptModified){
				$("#ConfirmNewModal").foundation("reveal", "open");
			}else{
				if(scriptname != null){
					scriptname = null;

					editor.setValue(boilerplate);
					editor.gotoLine(1, 0, false);

					$(".filebox .filename").html("Untitled script");
					$(".filebox .fa-asterisk").addClass("hide");
				}
			}
		});

		$("#btnConfirmNew").click(function(){
			editor.setValue(boilerplate);
			editor.gotoLine(1, 0, false);

			isScriptModified = false;
			scriptname = null;

			$(".filebox .filename").html("Untitled script");
			$(".filebox .fa-asterisk").addClass("hide");

			$("#ConfirmNewModal").foundation("reveal", "close");
		});

		// Run
		function SetButtonToStart(){
			// Button
			$("#btnStartStop .fa").removeClass("fa-stop");
			$("#btnStartStop .fa").addClass("fa-play");
			$("#btnStartStop .text").html("Run");

			// Filename bar
			$(".filebox .status").html("Stopped");
			$(".filebox .fa-circle-o-notch").removeClass("fa-circle-o-notch fa-spin").addClass("fa-stop");
		}

		function SetButtonToStop(){
			// Button
			$("#btnStartStop .fa").removeClass("fa-play");
			$("#btnStartStop .fa").addClass("fa-stop");
			$("#btnStartStop .text").html("Stop");

			// Filename bar
			$(".filebox .status").html("Running");
			$(".filebox .fa-stop").removeClass("fa-stop").addClass("fa-circle-o-notch fa-spin");
		}

		$("#btnStartStop").click(function(){
			if(!isScriptRunning){
				// Start the script
				var luacode = editor.getValue();

				$.ajax({
					dataType: "json",
					data: {
						file: luacode,
						name: scriptname,
						modified: isScriptModified ? 1 : 0
					},
					type: "POST",
					url: "startscript",
					success: function(data){
						if(data.status == "error"){
							addError(data.message);
						}
					}
				});
			}else{
				// Stop the script
				$.ajax({
					dataType: "json",
					data: {},
					type: "POST",
					url: "stopscript",
					success: function(data){
						if(data.status == "error"){
							addError(data.message);
						}
					}
				});
			}
		});

		// Clear log
		$("#btnClearLog").click(function(){
			$("#console").html("");
		});

		// Expand/Collapse
		$("#btnExpandCollapse").click(function(){
			if(isFullscreen){
				$("#btnExpandCollapse .fa").removeClass("fa-compress");
				$("#btnExpandCollapse .fa").addClass("fa-expand");
				$("#btnExpandCollapse .text").html("Expand view");
				$("#content").removeClass("fullscreen");
			}else{
				$("#btnExpandCollapse .fa").removeClass("fa-expand");
				$("#btnExpandCollapse .fa").addClass("fa-compress");
				$("#btnExpandCollapse .text").html("Collapse view");
				$("#content").addClass("fullscreen");
			}
			editor.resize();
			isFullscreen = !isFullscreen;
		});

		// ScriptUI
		// Set a flag to capture keypresses when ScriptUI is opened
		$(document).on("opened.fndtn.reveal", "#ScriptUIModal[data-reveal]", function(){
			monitorKeypresses = true;
		});
		$(document).on("closed.fndtn.reveal", "#ScriptUIModal[data-reveal]", function(){
			monitorKeypresses = false;
		});

		// Monitor keypresses
		var keysDown = {};
		$(document).keydown(function(evt){
			if(!monitorKeypresses){
				return;
			}

			var keycode = (event.keyCode ? event.keyCode : event.which);

			if(keysDown[keycode] == null){
				// First press
				var elem = $("#ScriptUIKeys .keyboardKey[data-keycode=" + keycode + "]");
				elem.addClass("down");

				if(connReady){
					conn.send(JSON.stringify({action: "keyDown", key: elem.data("key")}));
				}

				keysDown[keycode] = true;
			}
		});

		$(document).keyup(function(evt){
			if(!monitorKeypresses){
				return;
			}
			var keycode = (event.keyCode ? event.keyCode : event.which);
			keysDown[keycode] = null;

			var elem = $("#ScriptUIKeys .keyboardKey[data-keycode=" + keycode + "]");
			elem.removeClass("down");

			if(connReady){
				conn.send(JSON.stringify({action: "keyUp", key: elem.data("key")}));
			}
		});

		$("#ScriptUIModal").on("mousedown", "a.btnScriptUI", function(){
			var elem = $(this);
			if(connReady && !elem.hasClass("toggled")){
				conn.send(JSON.stringify({action: "buttonDown", button: elem.data("buttonname")}));
				console.log("button down");
			}
		});

		$("#ScriptUIModal").on("mouseup", "a.btnScriptUI", function(){
			var elem = $(this);

			if(elem.data("toggle")){
				// Toggle button
				if(elem.hasClass("toggled")){
					if(connReady){
						conn.send(JSON.stringify({action: "buttonUp", button: elem.data("buttonname")}));
						console.log("button up");
					}
				}
				elem.toggleClass("toggled");
			}else{
				// Regular button
				if(connReady){
					conn.send(JSON.stringify({action: "buttonUp", button: elem.data("buttonname")}));
				}
			}
		});

		$("#btnScriptUI").click(function(){
			$("#ScriptUIModal").foundation("reveal", "open");
		});
	});
</script>

{% endblock %}

{% block modals %}
{{ super() }}

<div id="SaveAsModal" class="reveal-modal tiny" data-reveal>
	<div class="titlebar">
		<a class="close-reveal-modal"><span class="fa fa-close"></span></a>
		<span class="fa fa-save"></span> Save as
	</div>
	<div class="content">
		<p>Please enter a name for this script.</p>
		<form>
			<div class="row collapse">
				<div class="small-9 columns">
					<input type="text" name="txtFilename" id="txtFilename" class="error" style="width: 100%;">
					<small class="error hide"></small>
				</div>
				<div class="small-3 columns">
					<a href="#" class="button" id="btnSaveAsModalSave" style="width: 100%;"><span class="fa fa-save"></span> Save</a>
				</div>
			</div>
		</form>
	</div>
</div>

<div id="FilesModal" class="reveal-modal small" data-reveal>
	<div class="titlebar">
		<a class="close-reveal-modal"><span class="fa fa-close"></span></a>
		<span class="fa fa-folder"></span> All files
	</div>
	<div class="content">
		<div id="FilesModalSpinner" style="text-align: center;">
			<span class="fa fa-circle-o-notch fa-spin fa-2x"></span>
		</div>
		<div id="FilesModalFilelist"></div>
	</div>
</div>

<div id="ConfirmNewModal" class="reveal-modal tiny" data-reveal>
	<div class="titlebar">
		<a class="close-reveal-modal"><span class="fa fa-close"></span></a>
		<span class="fa fa-file"></span> New
	</div>
	<div class="content">
		<p>The script was modified. Are you sure you wish to continue without saving?</p>
		<div class="text-center">
			<a href="#" id="btnConfirmNew" class="button"><span class="fa fa-file"></span> Yes, discard changes</a>
		</div>
	</div>
</div>

<div id="ConfirmDeleteModal" class="reveal-modal tiny" data-reveal>
	<div class="titlebar">
		<a class="close-reveal-modal"><span class="fa fa-close"></span></a>
		<span class="fa fa-trash"></span> Delete
	</div>
	<div class="content">
		<p>Are you sure you wish to delete this file?</p>
		<div class="text-center">
			<a href="#" id="btnConfirmDelete" class="button"><span class="fa fa-trash"></span> Yes, delete file</a>
		</div>
	</div>
</div>

<div id="ConfirmLoadModal" class="reveal-modal tiny" data-reveal>
	<div class="titlebar">
		<a class="close-reveal-modal"><span class="fa fa-close"></span></a>
		<span class="fa fa-folder-open"></span> Load
	</div>
	<div class="content">
		<p>The script was modified, unsaved changes will be lost. Are you sure you wish to continue?</p>
		<div class="text-center">
			<a href="#" id="btnConfirmLoad" class="button"><span class="fa fa-folder-open"></span> Yes, load file</a>
		</div>
	</div>
</div>

<div id="ScriptUIModal" class="reveal-modal small" data-reveal>
	<div class="titlebar">
		<a class="close-reveal-modal"><span class="fa fa-close"></span></a>
		<span class="fa fa-gamepad"></span> Script UI
	</div>
	<div class="content">
		<div id="ScriptUIWrench" style="text-align: center;">
			<span class="fa fa-wrench" style="font-size: 5rem; color: #B2AFA1;"></span><br><br>
			The script has not created any UI elements yet!
		</div>
		<ul id="ScriptUIButtons" class="small-block-grid-4 hide" style="margin-bottom: -1.25rem;"></ul>
		<hr>
		<div id="ScriptUIKeys"></div>
	</div>
</div>

{% endblock %}
